[2015-12-21 22:42] droidparanoid commented on #1539
Hi Pierre,
I've tested your dev version, unfortunately the same behavior like with 1.11. I also would assume that there is a bug due to the support for naze rev6 now, as Flugsicherung wrote...

I don't know if it is of interest, I also tested the newest betaflight from boris without working hott telemetry.

Is there anything else I could test on my setup? Maybe there is a problem between GR12L and

[2015-12-21 23:13] timdonovanuk commented on #1609
Hmm I just posted something similar here (last comment): https://github.com/cleanflight/cleanflight/issues/912

I've not tried toggling OneShot off (I have it on). Will try this week.

Have you tried enabling MOTOR_STOP (just to test)?

[2015-12-22 09:11] jlong23 commented on #1609
Sorry, yes.

When OneShot: Off, MotorStop: On, FailSafe: On seems to work as expected for failsafe.  I should have done a CLI dump and perhaps a YouTube with the demo behaviour.

[2015-12-22 09:29] martinbudden commented on #1562
I'm withdrawing this I've looked at the measurements of several spider class frames and the configurations do vary, so it is unclear whether a generic spider mixer would be useful.

[2015-12-22 09:29] #1562 closed

[2015-12-22 11:25] droidparanoid commented on #1539
Something I found out now, at my setup I have installed the GR-12 and not the GR-12L. Sorry for the confusion, I have both receivers and I confused them.
Unfortunately my other GR-12L is not here (Iam on holidays), so I can test him only in some weeks when Iam back home. Maybe there are differences between both typs with effect on the hott telemetry...

[2015-12-22 11:38] Flugsicherung commented on #1539
It is definitely not a Problem on the Graupner devices. I have Gr-24 and Gr-12L Recievers and I use Transmitters MZ-24 and a MX22 with M-G2 Module. Everything works perfect in CF 1.9.0 but nothing is working on CF 1.10.0 and 1.11.0 so the Problem is in the changes for supporting the Naze32 Rev.6

[2015-12-22 11:57] Pierre-A commented on #1539
Not related to GR12 L or not , (this has been tested a while ago and revealed no real difference on the telemetry side).
I spent some time this morning looking at the commits history with no luck yet.. have to dig a bit more..

[2015-12-22 12:34] borisbstyle commented on #1609
Did you try lowering your failsafe throttle and min_command?

Are you also using emf_avoidance?

[2015-12-22 14:25] astragalizont opened #1616 "1.11+1.12 led strip and servo tilt/servo mapping causes crash flip32"
I wanted to activate ledstrip and servo tilt plus servo mapping on a quad X configuration, so i can use a switch with PPM.

With servo tilt and servo mapping the Motors shift to 3-6 and output channel 1+2 can be used for servo/switch etc.

Led strips work too, with no problems.

But if i activate both features at the same time, the board crashes and can't boot anymore. Had to reflash with bootpad

[2015-12-22 14:39] hydra commented on #1616
please can you provide a configuration dump

When does the crash occur anyway?
a) After saving the configuration or b) when activating something?
if b) tell me what the RX channel values are need to cause the crash.

[2015-12-22 18:48] huston007 opened #1617 "Drop "OpenPilot" compatible mode from CC3D board documentation"

[2015-12-22 18:51] stronnag commented on #1617
Good plan. It would also be helpful to provide more detailed documentation about how to get CF hex into CC3D in the first instance, and the subsequent need not to short boot pins. Emphasise the use of the main port. For bonus points, describe stm32flash as the answer to everything CC3D flashing related.

[2015-12-22 19:56] huston007 commented on #780
Hello. What baud rate should be set to UART where receiver is connected to? I tried default, 115200, on CC3D and it works, but should it be equal 115200 or may be below or above?

[2015-12-23 01:10] #1594 closed

[2015-12-23 04:10] fast12learn opened #1619 "A maximum altitude command?"
Given the the current regulatory environment. Is there a command line that uses the barometer to restrict the craft from exceeding a certain altitude above ground level?

example: a CLI command  set baro_alt_max=400

[2015-12-23 09:32] digitalentity opened #1621 "Merge iNav GPS navigation code with Cleanflight"
Navigation (iNav fork) is reaching stable state, soon we could be starting to merge it to CF.
There is, however a big problem - memory. iNav barely fits into F1-based targets. I am already disabling eye-candy reafures - ledstrip, display. F3 targets seem to be capable enough to have everything.

GPS/Navigation stuff is taking ~29K at the moment.

There are some options:
1. @marksev1 suggested that

[2015-12-23 09:55] skaman82 commented on #1621
I would suggest to drop the CLI. Even when it means more work. I think that removing Navigation from F1 targets is a bad idea.

[2015-12-23 09:59] Flugsicherung commented on #1539
Hi Pierre-A,
is your Board a Naze32 Rev.5 arco or have you all Sensors onboard? The Flip32 Board is with all Sensors but the Rev. is <5 because the 8Mhz Clock??
@droidparanoid
your Board is a Naze32 or a Flip32 acro without any Sensors right?? Can you please expain in detail?

[2015-12-23 10:03] digitalentity commented on #1621
@skaman82 I agree. Personally, I feel that F1's are going to be around for a several years. I also very much like performance of navigation on NAZE/CC3D (no surprise at it was developed and tested on an F1 board) :smiley:

[2015-12-23 10:38] marksev1 commented on #1621
+1 F1 4life :)...No. 5 is out of the question :).

Seems that reworking cli is the obvious first candidate. But would need to maintain same user experience in the configurators as to avoid confusion among users.

[2015-12-23 12:48] #1606 closed

[2015-12-23 13:43] droidparanoid commented on #1539
Yes, I have the Naze32 acro Rev.5, only with gyro and acc, no extra sensors.

[2015-12-23 13:54] Runfromrobots commented on #1468
I'm having the same issue with a Rev5 board - gyro/accel won't register no matter what build I flash it with. Board came preflashed with cleanflight, but I've migrated back and forth to baseflight several times now trying to find a firmware that will recognize the gyro/accel...

[2015-12-23 14:01] Flugsicherung commented on #1539
Can you send me a photo of your controller?
If that is a Naze 32 Rev.5 Pierre have the same and no problems ???
I can't understand that.

Am 23. Dezember 2015 14:43:31 MEZ, schrieb droidparanoid <notifications@github.com>:

[2015-12-23 15:00] droidparanoid commented on #1539
I cannot make a direct foto from top because I fixed the top plate of the copter with cable ties and I don't want to remove everything. But I have the exact model like illustrated here (AfroFlight32, rev5; the blue one):
https://www.multirotorparts.nl/electronics/flightcontrollers/naze32-acro-flightcontroller-rev5.html

[2015-12-23 15:17] Flugsicherung commented on #1539
Ok it is  a Naze. But why doesn't CF 1.11.0 runs on your controller and Pierre have the same  one and he can run it?
I am total confused at the moment.....

Am 23. Dezember 2015 16:00:21 MEZ, schrieb droidparanoid <notifications@github.com>:

[2015-12-23 16:41] Zero9r commented on #1621
F1 Targets need to have this.  I say if its space get ride of the NMEA GPS Code if it is not needed with this new Nav.  Also I don't think two versions for multi and airplane is a bad idea either.  Makes it a cleaner flash I would think.

What I would like to see for my new 450 build is Navigation, LED Lights, and the stability that Boris;s Beta Flight gives.  CLI can be removed if the GUI can do

[2015-12-23 17:51] Pierre-A commented on #1539
OK guys, sorry I was a bit silent today but I did a lot of tests trying to figure out what happens to Hott telemetry in the code, using different configurations and with scope on telemetry pin  :
    - RX : GR12L and GR16
    - boards : Naze32rev5 and SPRACINGF3
    - FW :  v1.9 , v1.10 , and current Cleanflight master (commit #791144e9).

First of all, as you already observed it, the issue begins

[2015-12-23 18:32] Flugsicherung commented on #1539
Great work, I am happy that you get the same issue.  ;))
Thanks for the time you spend to this issue, I think the Problem is in the right Hands.
It might helpful to see in CLI "Status" more details like what Board Type and Hardware Revision the Firmware is detecting. I guess here could be the problem. If you can change the Status output I can make a new test with my controller.

[2015-12-23 19:11] astragalizont commented on #1616
Hello, thanks for your answer.

Crash occurs when i hit save and reboot.

How do i dump the configuration?
Cli dump or cleanflight backup?

With regards

[2015-12-23 22:41] JacobGrigg commented on #1621
Would having seperate versions for multi and airplane affect those who want to built VTOL craft?

[2015-12-23 23:11] digitalentity commented on #1621
@JacobGrigg
Yes, having two separate versions would probably affect future development of VTOL support.

@Zero9r
Stability features from Betaflight are being merged into CF. Some are already there (gyro sync, FIR filtering). I think the best way would be to remove CLI and make the configurator access all parameters via MSP. If that wouldn't be enough - drop NMEA support.

Maybe somebody would come

[2015-12-24 00:09] Zero9r commented on #1621
I think that Idea is just fine. I have no issues using MSP only

[2015-12-24 03:42] Linjieqiang commented on #1621
Why not thinking support for F4 board Such as Sparky v2 ? But I think remove CLI is a best way .

[2015-12-24 04:32] digitalentity commented on #1621
@Linjieqiang
Eventually we'll have F4 board support. OP Revo is already supported in Sambas's fork. But limiting navigation features to more powerfull boards only is a bad idea. Naze/CC3D boards can go navigation with great performance, and there are still lots of them around, available and dirt cheap.

[2015-12-24 05:10] Linjieqiang commented on #1621
@digitalentity
Oh,I see.Thanks for your work!

[2015-12-24 10:35] droidparanoid commented on #1539
Thanks Pierre for testing this out! I hope we get to the core of the problem now :-) and Merry Christmas to all!

[2015-12-24 10:38] Pierre-A commented on #1539
hopefully in the tree.. and MERRY CHRISTMAS you all too !!

[2015-12-24 11:36] mbr1989 commented on #363
digitalentity:
Talking to UBLOX over I2C pins is a different story.

Why is talking to UBLOX over I2C a different story?
It makes a lot of sense to do so.
Nobody is interested to paste up his racer with additional boards.

[2015-12-24 11:39] digitalentity commented on #363
@mbr1989
I ment that it's a completely different protocol. I know it makes sense to have GPS over i2c without any additional components, but I don't have an UBLOX GPS board with accessible I2C to play with. Thus at the moment development is stalled.

[2015-12-24 11:49] mbr1989 commented on #363
@digitalentity
Considering 16 Euro freight charge for sending you one of my UBLOX makes less sense....

How about an PayPal charity appeal ?

[2015-12-24 12:35] Flugsicherung commented on #1539
Today I get my MZ-24 Transmitter back from the Repair :)
Now I'm ready to make tests again.
MERRY CHRISTMAS and many Gifts. :))

[2015-12-24 15:20] JohnOCFII commented on #1621
In order of preference, I think item 2 (drop CLI), followed by item 4 (remove NMEA GPS code) would be the best place to start.  If more space is needed, I'd like to see some discussion of on-the-fly compile/download options, similar to the OpenTX model, where the configurator lets you choose what features you want when you download new firmware.  If this is too complex or difficult to develop or m

[2015-12-24 17:50] Ravid824 commented on #1621
We still want F1 support. Same as others, Drop the CLI and create an extension to MSP is the best choose for me. It can be done together with removing NMEA GPS code to release more space for future developments.

[2015-12-24 19:07] Pierre-A commented on #1539
After a long day digging in the code..
it appears that the level of the hott signal is affected when defining the serial output port (call to `serialOutputPortConfig (softSerial->txTimerHardware`  in drivers/serial-softserial.c/openSoftSerial, line 225).
The level is pulled to ground and it looks like the port is overwritten but I did not find where.
This made me think of an impedance adaptation s

[2015-12-24 22:20] digitalentity commented on #1621
Seems that everybody is ok with removing the cli. @hydra what do you think?

[2015-12-24 22:41] JohnOCFII commented on #1621
I think he is in favor of removing the CLI, given this previous issue:  https://github.com/cleanflight/cleanflight/issues/922

[2015-12-25 09:23] Flugsicherung commented on #1539
Wow, that is a perfect Christmas Gift. :-)))
I flash Version 1.11.0 and build in the 22k Resistor on the Telemetry wire.
The Signal looks like yours......
Hott Signal with Firmware 1.11. 0 and 22k Ohm Resistor
[hott signal with 1 11 0 and 22k ohm](https://cloud.githubusercontent.com/assets/16131122/12001736/1f81e91c-aaef-11e5-8507-14c4c1f203a6.png)
This is perfect !!!! I tested this on GR-24 Recei

[2015-12-25 10:22] Flugsicherung commented on #1539
Hello Pierre-A,
one little Problem I found on the GPS display....
In the Configurator GPS shows 131 Meters of Altitude, OSD Display shows the same.
![gps configurator](https://cloud.githubusercontent.com/assets/16131122/12002219/3bbe945e-aaf9-11e5-9d36-f3405b96feb6.PNG)
But on the Transmitter the Display shows only 13 Meters, thats factor 10 to low!!!!
![gps on mz 24](https://cloud.githubuserconte

[2015-12-25 10:48] Pierre-A commented on #1539
**@Flugsicherung** : OK, fixed it. As I don't use GPS, I sent you a Naze.hex, can you try it ? If it works, I'll open a PR for correction.
Plz, try not to mix the topics.. :wink:

[2015-12-25 10:53] hydra commented on #1599
@AndersHoglund just add cleanflight as a remote to your betaflight local repo and create branches like 'cleanflight-master' and push that to github account, then you can also create branches from that for PR's.

@martinbudden Thanks for the PR.  Will merge now.

[2015-12-25 10:55] hydra commented on #1599
#1612 is now merged.

[2015-12-25 10:55] #1599 closed

[2015-12-25 11:04] droidparanoid commented on #1539
Hi Pierre!
Thanks for the great work!
Iam not really an expert of electronics, but as I understood the resistor in the telemetry wire is only a workaround for the bad signal, and the real issue has to be fixed in the code, correct? I have no resistor here at the moment and cannot test this for now.

[2015-12-25 11:12] Pierre-A commented on #1539
**@droidparanoid**, yes you're right. This workaround is needed to fix the input level and avoid a conflict on the telemetry line. Have to fix it in the code for the input line.

[2015-12-25 11:34] AndersHoglund commented on #1599
Well, I tried forking cleanflight in github. But since I already have betaflight forked, github will not let me. I also already have betaflight as my remote repo in my local repo. I think I might need two github acounts if I should follow/fork both cleanflight and betaflight.

[2015-12-25 12:02] Flugsicherung commented on #1539
Hi Pierre,
great, GPS Altitude is shown perfect. Confugurator and Transmitter displays the same value.
You can make a new topic for the issue and close it. :-)))
Thanks for you help. I am very happy, its very windy in the next days so I can´t test it outside but inside all work right and I think outside its work too.

[2015-12-25 12:19] Pierre-A commented on #1539
OK guys, no more external resistor !
It was effectively due to a bad impedance adaptation; the timer input mode had to be fixed to pull-up.
I send you a .hex for testing.
I still have to look at possible consequences on other items (as ledstrip..).

[2015-12-25 12:29] Flugsicherung commented on #1539
Ok, I solder the Resistor on the Board, close cover and screwed all together. So testing without Resistor is many work.
@droidparanoid: Can you test it please?
I go outside and risk a flight ;)

[2015-12-25 12:46] Flugsicherung commented on #1539
Ok, I can´t fly with the GPS Altitude correcting Hex file. Motor spinning wrong on Gas....
I flash the last Version (without Resistor) and test again.

[2015-12-25 13:11] Bengt-M commented on #1537
+1
Not just old. It doesn't work.

[2015-12-25 13:29] Flugsicherung commented on #1539
Hi Pierre-A,
I make a test with your last Version with Hott Fix. Motors spin correct and I take a fly outside.
Hott Telemetry funktion is correct  (Altitude too). Out of the Box with the standard MultiWii Parameters Baro and Sonar won´t work correct but without calibration I think its normal. So I must do more Tests outside. Yeah  the Copter on my Acccount Photo is flying ;-)))

[2015-12-25 13:38] Pierre-A commented on #1539
Great, glad it works and thanks for testing !

[2015-12-25 13:55] Flugsicherung commented on #1539
Thank you for debuging the Problem ;-)))

[2015-12-25 18:06] droidparanoid commented on #1539
Hey guys!
The new hott fix is working perfectly for me! :-) I have valid telemetry data and the copter behaves normal (on ground so far). I will fly tomorrow maybe.
Since this is a development release, can I fly with it regularly until the next stable release or are there any surpises I should be aware of?

Thanks Pierre for the great and fast work on this issue! :+1:  :-D

[2015-12-25 19:01] Pierre-A commented on #1539
No worry, you can fly with it.  It's only a little fix based on current dev master.
If you ever notice any other anomaly, feel free to open a new issue.

[2015-12-25 19:45] hydra commented on #1599
you don't need two accounts.  Just add the cleanflight code to your betaflight fork and push the branches to your betaflight fork using different branch names locally and on the remote.

[2015-12-26 05:41] digitalentity commented on #363
Looks like there are no cheap GPS modules that break out native I2C interface.
I'm considering taking something like this module (http://www.banggood.com/NEO-M8N-Flight-Controller-GPS-Module-GYGPSV5-NEO-for-Pixhawk-APM-p-974362.html), removing the EEPROM memory chip and breaking out UBLOX I2C bus to be able to communicate to the receiver itself.
Rework of Cleanflight's GPS stack may also be requir

[2015-12-26 10:22] henn1001 commented on #363
Is it even necessary to remove the EEPROM? With i2c you should be able to connect in parallel without consequences.. But on the other hand i´m not even sure if the EEPROM will be of any use if we use the i2c ublox protocol.

[2015-12-26 10:26] digitalentity commented on #363
Ublox autodetects presence of eeprom and goes into i2c master mode. We
won't be able to communicate with it when it's in master mode.

[2015-12-26 10:26] henn1001 commented on #363
K :)

[2015-12-26 13:45] martinbudden opened #1625 "Error in normalising DTerm to cycle time in pidLuxFloat"
In `pidLuxFloat` the value of `DTerm` is normalised to the cycle time by the code:

        //-----calculate D-term
        delta = RateError - lastError[axis];
        lastError[axis] = RateError;
        // Correct difference by cycle time. Cycle time is jittery (can be different 2 times), so calculated difference
        // would be scaled by different dt each time. Division by dT fixes that.

[2015-12-26 14:08] martinbudden opened #1626 "Inconsistent normalisation of ITerm in pidLuxFloat"
In `pidLuxFloat` the value of `ITerm` is calculated as follows:

        // -----calculate I component.
        errorGyroIf[axis] = constrainf(errorGyroIf[axis] + RateError * dT * pidProfile->I_f[axis] * 10, -250.0f, 250.0f);

Note the multiplication by 10.

This multiplication is unnecessary and I suspect is a hangover from when the code was ported from the integer PID code. Of course if the mult

[2015-12-26 14:24] mbr1989 commented on #363
![GitHub Logo](https://raw.githubusercontent.com/mbr1989/u-blox-neo-7-i2c/master/pictures/UBX-CFG-PRT.JPG)

[2015-12-26 18:27] martinbudden commented on #1598
The change didn't actually introduce a bug, rather it revealed a bug that was already there. Making errors more obvious is one of the reasons for getting rid of magic numbers. Here's the old code:

    if (sonarAlt > 0 && sonarAlt < 200) {
        baroAlt_offset = BaroAlt - sonarAlt;
        BaroAlt = sonarAlt;
    } else {
        BaroAlt -= baroAlt_offset;
        if (sonarAlt > 0) {

[2015-12-26 19:05] Carl334 commented on #1508
I have almost exact same problem with remote monunted MAG;
My setup SPRacing F3 FC & UBLOX M8N GPS with compass.
I have the following configured and working. Configuration using CF 1.1.0 .
1. GPS
2. Bluetooth
3. Spektrum PPM with sat.
4. MWOSD
5. LED strip
6. Buzzer & voltage monitor
7. Other working sensors: Gyro, Accel & Baro
Removed HMC5883 MAG from FC board UBOX GPS module has HMC5883 MAG
Just

[2015-12-26 20:45] ledvinap commented on #1625
`delta *= (0.001f / dT); // normalise delta to 1000Hz cycle time`

[2015-12-26 20:48] ledvinap commented on #1598
@martinbudden : Old code did work - sonarAlt was from 200 to 300, so the result was correct..

[2015-12-26 21:03] digitalentity commented on #1625
D term is a derivative. Derivative is calculated by dividing the change in
the value by the time over which this change happened. If you sample two
times faster you'll haggle have two times smaller interval but also two
times (approximately) smaller change.
Lux works exactly like that, it's mathematically correct way.

[2015-12-26 21:07] martinbudden commented on #1625
@ledvinap well spotted. You comment is of course correct. Oops on my part.

[2015-12-26 21:16] martinbudden commented on #1598
@ledvinap: yes, you're right 100 = 300 - 200, so the old code did work.

[2015-12-26 21:45] martinbudden commented on #1625
@digitalentity , yes I understand DTerm is a derivative, ie, in essence:

    DTerm = pidProfile->D_f * (rateError - lastError) / dT

additionally we use a moving average and/or some filtering to remove high frequency noise and then we apply a constraint to make sure the `DTerm` is not too large.

My argument is that the  `pidProfile->D_f` values have to be very small to avoid the contraint coming

[2015-12-26 21:52] digitalentity commented on #1625
Then there's no error in DTerm calculation and the whole issue is titled
wrongly.
What you are really trying to do is to scale up the D_f to get better
resolution for tuning, right?

[2015-12-26 21:52] catchthewind commented on #586
Is this fix for CC3D already icluded in latest Cleanflight and/or Betaflight or do we still need version recompiled by a6j linked above?

[2015-12-26 21:56] a6j commented on #586
Starting with version v1.11.0 everything works without interfering with the code. Checked.

[2015-12-26 22:01] catchthewind commented on #586
Thank you for fast answer.
I have tried betaflight 2.1.6 first  and can not get it to work manually or using CLI :(
Command "set servo 5 1100 1900 1500 -90 90 -100 -1" gives error Invalid Name.
I will try CF 1.11.0 soon.

[2015-12-26 22:04] a6j commented on #586
If you do not know why you need betaflight my advice to you use the CF and you will schate.

[2015-12-26 22:12] catchthewind commented on #586
Is there an easy way to convert hex to bin ?
bin file is missing on https://github.com/cleanflight/cleanflight/releases :(

[2015-12-26 22:12] borisbstyle commented on #1625
I think the numbers in luxfloat are in general too narrow. Configurator and other tools are not helping either as no floats can be configured there.
My 4S machines literally have just 5-10 tuning steps in the most common tools, unless I use cli.

It's a good point to scale D differently as it is way too aggressive

[2015-12-26 22:15] borisbstyle commented on #1625
BTW value of 3.0f is not supported in configurator.

MSP should be using higher range for luxfloat

[2015-12-26 22:20] digitalentity commented on #1625
I guess it would be better to modify msp that sets D_f value (scale integer
received from configurator to float), or soon enough we'll get another
issue like "fix incorrect derivative calculation in lux".

[2015-12-26 22:24] borisbstyle commented on #1625
@digitalentity
I already did a PR for that long time ago, but got lost somewhere. I even think I deleted it.

[2015-12-26 22:25] borisbstyle commented on #1625
@digitalentity
I believe the configurator work was messy to get it done due to the current structure of those PID pages

[2015-12-26 22:28] digitalentity commented on #1625
No need to change configurator, change Cleanflight msp handling code. And
let configurator still be integer based

[2015-12-26 22:29] borisbstyle commented on #1625
No it cant. The resolution in the configurator is too low

[2015-12-26 22:33] borisbstyle commented on #1625
It's using 8bit integer now, which basically means 255 steps.

Besides that configurator offers only 1 decimal for P and none for D. So if you want the real values you def need to change stuff in configurator.

[2015-12-26 22:39] borisbstyle commented on #1625
We can also scale the numbers in luxfloat as well. Just make the tuning range higher.

[2015-12-26 22:49] digitalentity commented on #1625
You are right about the configurator and tuning range. But I think it would
be bad idea to mess with calculation of derivative. LUX is the only
controller that is coded according to calculus, let's not break it.
I think we can safely remove the constraint for DTerm in lux. My guess is
that it is there to deal with derivative kick which is better handled by
median filtering.

[2015-12-26 23:09] borisbstyle commented on #1625
@digitalentity
Yeah I am working on Dterm lately as you know :D. Median filter certainly is better than the moving average.
But I still think that D might be downscaled a bit in luxfloat. Probably the normalizing part.

This will make it 10 times smaller and give the same effect with the current pids
delta *= (0.1f / dT);

[2015-12-26 23:53] ledvinap commented on #1625
@borisbstyle : Median filter is nonlinear ... it may cause unexpected problems ...

[2015-12-26 23:59] digitalentity commented on #1625
@borisbstyle, @martinbudden
I suggest leaving delta calculation as it is to keep derivative calculation straight-forward and easy to unerstand:
[code]
And change scaling where DTerm is actually calculated:
[code]

[2015-12-26 23:59] ledvinap commented on #1625
Maybe 16bit floats (https://en.wikipedia.org/wiki/Half-precision_floating-point_format) for MSP messages is way to go.
The range is enough to represent 16bit value for integer based PIDs (and other calculations) and resolution is (probably) good enough for float based ones.

[2015-12-27 00:03] digitalentity commented on #1625
@ledvinap
Or a fixed-point in Q6.10 format, that will give us range from -32 to 32 and resolution of ~0.001

[2015-12-27 00:48] borisbstyle commented on #1625
Still the fix in the configurator would be dirty on the way how the old one was done :D. I don't know how it would fit in the new configurator. Maybe it is easier there.

[2015-12-27 01:39] borisbstyle commented on #1625
@ledvinap
median filter is better IMO than just a moving average there is now. Not
sure how you expect problems compared to the moving average?

I will be experimenting with it.
Op 27 dec. 2015 01:03 schreef "Konstantin Sharlaimov" <
notifications@github.com>:

[2015-12-27 06:26] martinbudden commented on #1625
@digitalentity: in retrospect the term "error" was a bit strong, my apologies. In fairness though, I did not say there was an error in the calcualtion of the DTerm (nor did I wish to imply this), merely that there was an error in its normalisation.

"What you are really trying to do is to scale up the D_f to get better resolution for tuning, right?" - yes, that is one of two things I am trying to

[2015-12-27 07:02] digitalentity commented on #363
From the UBLOX AppNote GPS.G5-X-08023"

The u-blox GPS receiver normally runs in the slave mode. There is an exception when the u-blox GPS receiver becomes a master on the bus and this is when an external EEPROM is attached. In that case, the receiver attempts to establish presence of such a non-volatile memory component by writing and reading from a specific location. If EEPROM is present, the re

[2015-12-27 07:58] renatoa commented on #586
Not easy, but the only I know...
Download sources and compile with OPBL command line switch

[2015-12-27 09:01] a6j commented on #586
No you can not. Starting with version 1.11 support OPBL removed. Only full firmware on the CF including the bootloader. But you can easily go back to the OP.

[2015-12-27 09:14] digitalentity commented on #1625
I believe that constrain on DTerm is unnecessary. PID output is always constrained, and high DTerm is usually caused by derivative kick (can be filtered out by median) or extreme angular acceleration (is a normal functioning of DTerm).

[2015-12-27 11:33] ghost opened #1628 "Issue with Gtune value below 10 in current dev master"
Hi guys,

I found a problem in the current dev master (1.12.0) with Gtune. In the CLI, I wanted to decrease the value "gtune_loP_rll" below the standard of 10, because my copter tuned after a first run with Gtune already to this lower limit, and normally I also expect to have a lower roll P than 10 (1.0 in the GUI).

So I entered CLI and when I tryed to change this value to 5 I get an error:

set

[2015-12-27 11:53] mbr1989 commented on #363
https://www.u-blox.com/sites/default/files/products/documents/MAX7-NEO7_HIM_%28UBX-13003704%29.pdf

2.6.3 Display Data Channel (DDC)
An I2C compatible Display Data Channel (DDC) interface is available with u-blox 7 modules for serial
communication with an external host CPU. The interface only supports operation in slave mode (master mode is not supported). The DDC protocol and electrical interface

[2015-12-27 12:08] digitalentity commented on #363
How does module access EEPROM config storage if DDC does not support master mode opeartion?
Since the docs are controversial, experiment is necessary :)

[2015-12-27 12:17] mbr1989 commented on #363
I'm completely confused now ....

[2015-12-27 12:19] renatoa commented on #586
Then, this notification contains a dose of sarcasm, imo...
So, someone above trumpeted that the fix, that was specifically for a particular board, and nothing else, was been included in a firmware that can't be loaded on THAT board !
Whose paradox is this ? :)

[2015-12-27 12:22] digitalentity commented on #363
Same here... Reading docs doesn't help much. Need hardware to tinker with.

[2015-12-27 12:24] mbr1989 commented on #363
https://store.3drobotics.com/products/3dr-gps-ublox-with-compass

Features and Specifications:

    I2C EEPROM for configuration storage

[2015-12-27 12:42] mbr1989 commented on #363
![GitHub Logo](https://raw.githubusercontent.com/mbr1989/u-blox-neo-7-i2c/master/pictures/UBX-CFG-CFG.JPG)

[2015-12-27 12:55] a6j commented on #586
You have something to confuse. Firmware perfectly filled, but jammed with the bootloader OPBL. Bootloader OPBL if desired sewn back.

[2015-12-27 13:03] a6j commented on #586
You have something to confuse. Firmware perfectly filled, but jammed with the bootloader OPBL. Bootloader OPBL if desired sewn back.
Number of lines of code increases so for guaranteed employment on board CF CC3D just had to cut out unnecessary functionality. Simply put for every certain functions requires a certain amount of memory, memory is not dynamic.

[2015-12-27 13:34] bdoiron74 commented on #1625
Constraints are necessary. Remember that the output get summed up with the other 8 PID terms to create a matrix that is added to the base throttle. Best case, at mid throttle, there are less than 500 'units' available [(max_throttle - min_throttle) / 2].

[2015-12-27 13:38] digitalentity commented on #1625
@bdoiron74
I'm talking about this specific constrain:
[code]

BTW, no constrains are used in MultiiWiiRewrite and this does not prevent it from working.

[2015-12-27 13:58] henn1001 commented on #363
Probably not. Most of the time the gps is configured after every reboot from the FC anyway.

Only thing that comes to my mind is the hot-start data.. and for that, the small backup battery should hold the data sufficiently long enough. If the gps is unused for more than a few days, the data will probably not be of any use anyway

[2015-12-27 14:04] digitalentity commented on #363
That's why I intend to remove the eeprom chip. The fc will reconfigure the
unit anyway.

[2015-12-27 14:09] mbr1989 commented on #363
https://en.wikipedia.org/wiki/EEPROM

... non-volatile memory

[2015-12-27 14:10] martinbudden commented on #1625
For pidLuxFloat there is an overall constraint, namely:

    axisPID[axis] = constrain(lrintf(PTerm + ITerm + DTerm), -1000, 1000);

I agree with digitalentity that the individual contraint on the DTerm is probably unnecessary.

[2015-12-27 14:11] mbr1989 commented on #363
I bet this i2c eeprom does nothing ...

[2015-12-27 14:14] mbr1989 commented on #363
The
AssistNow Autonomous data
 is automatically and autonomously generated from downloaded (or
assisted) ephemerides. The data is stored automatically in the on-chip battery-backed memory. Optionally,
the data can be backed-up in external flash memory or on the host. The number of satellites for which data
can be stored depends on the receiver configuration and may change during operation.

[2015-12-27 14:21] bdoiron74 commented on #1625
ok - 'necessary' is a strong word, and the overall PID constraint would clip it anyway. Except of course, [-1000,1000] is well beyond the actual available motor output.

[2015-12-27 16:09] Pierre-A commented on #1628
**@droidparanoid**
see here    https://github.com/cleanflight/cleanflight/blob/master/src/main/io/serial_cli.c
the min is 10 and max is 200.

[2015-12-27 16:32] renatoa commented on #586
Yeah, dazed and confused :)
This thread is about CC3D, not other board.
CC3D can't be loaded other method than using a bin, via open pilot bl, hex using serial from CF was tried by many people and failed.

[2015-12-27 16:48] droidparanoid commented on #1628
Hi Pierre,

ok that explains the CLI response. But how can I use Gtune with values below 10? And the docs state:
"If you want tighter or more loose ranges change them here. gtune_loP_XXX can be configured lower than "10" that means a P of "1.0" in the GUI. So you can have "Zero P" but you may get sluggish initial control."

Was the range 0-10 originally existing and has been removed now?

[2015-12-27 18:47] catchthewind commented on #586
I have tried to upload hex into CC3D using 2 different programmers on main port but is doesnt work :(
@a6j @renatoa
Could you please send me exact changes made to the code in CF 1.11 so I could pass it to Boris to include into Betaflight which still offers BIN version of the firmware.

Is this https://github.com/cleanflight/cleanflight/pull/1042/files  all or anything else is needed
??

[2015-12-27 19:17] MauroMombelli opened #1629 "light_led.c unused"
light_led.c seems to only provide the function initLeds() that does not get called anywhere

[2015-12-27 19:39] ledvinap commented on #1625
@borisbstyle : One problem with median filter is that it may change mean value of signal.
Extreme example is sine samples at fs=3f (http://www.gaussianwaves.com/gaussianwaves/wp-content/uploads/2014/07/Sampling_Continous_time_signal_in_Matlab.png). Applying 3 sample median will result in constant -0.5 level.

Changed mean of signal will cause problems similar to aliasing ...

Median filter is grea

[2015-12-27 20:03] borisbstyle commented on #1625
@ledvinap
Thanks for clarification. I didn't look at it that way at all.

[2015-12-27 21:34] Zero9r commented on #586
I have had no issues with loading HEX files with a UART to the Flex Port.  THere was some issues with Boris's releases of Hex files.  But that was something to do with how he was making them.  Other where able to take his files and re compile them to work.  I have been running Boris's betaflight since before it was called Betaflight.   Maybe you have it wired wrong? RX goes to TX and TX goes to RX

[2015-12-27 21:55] catchthewind commented on #586
Lucky you :) I have tried both combinations starting with crossed one you have suggested,  Could someone please confirm changes needed to fix it. I would like to ask Boris to merge it with BF and use regular BIN file via USB port.

[2015-12-27 21:57] MauroMombelli commented on #1629
also: startup_stm32f10x_md_gcc.S  and startup_stm32f10x_hd_gcc.S seems to be almost identical, only reset vector change; BUT in CMSIS sample (they are basically light revision of what can be found in TrueSTUDIO) those two file has major differences.

Is this ok? thepnly HD is EUSTM32F103RC_SRC, what board is this?

[2015-12-27 22:09] MauroMombelli commented on #1629
in makefile, EUSTM32F103RC PORT103R (line 121) execute the same identical code than the else branch (generic f10x board like NAZE etc..) witch basically translate the if at line 75 instead to board-based, to MCU based (F3 or F1, and hopefully soon the F4)

[2015-12-28 01:25] borisbstyle commented on #1626
I remember when this came. It's from the times when luxfloat was just introduced and folks were still experiencing lack of I even when crancked to the max values in the configurator.
So this was done to increase the configurable range.

I think the real solution would be to fix it in the configurator.

[2015-12-28 07:40] martinbudden commented on #1626
Interesting. So, yes, this should be fixed in the configurator and then we can remove the *10 multiplier.

Also if digitalentity's iNav code is merged then people are likely to start running Cleanflight on much bigger birds, ie 650 class, 800 class or even larger. For these size quadcopters they are going to need the flexibility to set much larger PID values, so the configurator needs to allow the

[2015-12-28 08:21] martinbudden opened #1632 "Proposal to improve numerical integration of ITerm in PIDs"
Currently the Cleanflight PIDs uses the simple [rectangle method](https://en.wikipedia.org/wiki/Rectangle_method) for integration. This, while simple to calculate, is only a first-order integration method and is numerically unstable (that is errors tend to accumulate rather than cancel each other out).

I propose, for `pidLuxFloat` we use [Simpson's method](https://en.wikipedia.org/wiki/Simpson%27

[2015-12-28 09:13] digitalentity commented on #1632
+1 for this improvement!

[2015-12-28 10:46] ledvinap commented on #1632
This does not make any sense.
The I-term is mainly for steady state compensation. It's accuracy is not (that) important, it should only drive error to zero. Try changing I term by few % - there should be negligible influence on flight performance.

Also data fed into PID are noisy - numerical 'noice' is negligible compared to physical one.

BTW: How do you want to compute error value between gyro

[2015-12-28 11:26] a6j commented on #586
I do not know why you need it, sew through the UART and everything will work fine.
Patch version 1.11.0 here: https://github.com/cleanflight/cleanflight/commit/165adfa755053e68224b9efa664fa6052372a3cf

[2015-12-28 11:27] borisbstyle commented on #1626
See here the original PR:
https://github.com/cleanflight/cleanflight/pull/666

I agree about changing configurator and MSP for floating point pid controllers. A simple multiply and divide by 1000 with 16 bit would give enough resolution.

[2015-12-28 11:30] borisbstyle commented on #1625
@ledvinap
You were right. I did side by side comparisation of real blackbox data for delta with moving average and median. Median was indeed showing some "lower" frequency ripples, which were not there with the simple averaging method.

[2015-12-28 11:40] ledvinap commented on #1625
@digitalentity

16bit floating point will cover most (probably all) parameters used in cleanflight, without need for explicit scaling. It may simplify configurator and code ...

[2015-12-28 16:27] borisbstyle commented on #1632
Here my tested changes.
https://github.com/borisbstyle/betaflight/blob/betaflight/src/main/flight/pid.c#L184
and PID1
https://github.com/borisbstyle/betaflight/blob/betaflight/src/main/flight/pid.c#L324

Personally I didn't notice any differences in this yet, but the idea kind of makes sense to me to make accumulation a bit slower.
I did notice in past that higher Iterm can work against you in som

[2015-12-28 17:03] Pierre-A commented on #1539
OK guys, much much easier when one knows what to look for...
I found the line in the code where this has been changed and the related commit merged in Cleanflight since v1.10.
**@hydra**, I sent you a mail, thanks for your comment.

[2015-12-28 17:45] martinbudden commented on #1632
@ledvinap my concern was not accuracy, it was more to do with stability. That is the tendency of small errors to accumulate rather than cancel each other out. Simpon's method is more stable numerically than the rectangle method, so my assumption is that it is also more resilient to noise. That is the ITerm would be less susceptible to accumulate noise and become large. Of course this assumption ne

[2015-12-28 19:35] ledvinap commented on #1632
@martinbudden : There is negative feedback loop around PID (the controlled system closes the loop), so the error does not accumulate.   IMO there is no gain from improved accuracy.
Integrator is low-pass filter, it is very good at suppressing noise, numerical or physical ...

[2015-12-28 20:01] flounderscore commented on #1632
@ledvinap : I totally agree with you. Higher order expansion of the integration is a waste of CPU cycles. First of all, in closed-loop the error integral should be close to zero anyway. But more important, the stability of the closed-loop system is not sensitive to small variations of the response of the loop filter (caused by the discrete time steps).

[2015-12-28 20:13] martinbudden commented on #1632
I've written some test code some random noise is added to the angleRate and have integrated this over 10000 cycles. I can confirm that the ITerm does not accumulate error. There is random drift, but this is about the same whether Simpson, trapezoidal or rectangular integration is used.

Thanks for everyone's feedback. I'll close this issue.

[2015-12-28 20:29] borisbstyle commented on #1632
Small error is not something to worry about for accumulation.

Can you run just one more test.

Try to make huge from positive to negative error jumps like when somebody
would quickly go inverted and back or fast acro rolls and flips.

I did see in the past where someone would have pretty high Iterm values
which would be fine in normal flight, but might cause overshoot in
agressive manouvre as Ite

[2015-12-28 20:45] martinbudden commented on #1632
OK, I'll reopen the issue while I do that test.

It will have to wait until tomorrow though...

[2015-12-28 20:50] borisbstyle commented on #1632
I have no idea how much this will help, but just an idea. should make it
more steady.

I will try to find some bb logs showing what I exactly mean with this case.
Op 28 dec. 2015 21:45 schreef "Martin Budden" <notifications@github.com>:

[2015-12-28 20:58] ledvinap commented on #1632
@borisbstyle: I posted link to article about handling I-term saturation some time back ..

Maybe it would be interesting to back-calculate commands that are applied [after mixer] (use inverted mixer matrix). Then handle I-term saturation/speed up I-term change when user command is fighting I-term.
Maybe it will fix problem you describe  (and is mathematically quite clean).

[2015-12-28 23:37] digitalentity commented on #1632
@ledvinap @borisbstyle
Have a look at the PID controller I use for navigation https://github.com/digitalentity/cleanflight/blob/inav-dev/src/main/flight/navigation_rewrite.c#L1150

If we can use inverted mixer matrix to calculate constraints for PID outputs, I-term back-tracking will prevent windup most effectively.

[2015-12-29 01:02] digitalentity opened #1633 "Failsafe - FAILSAFE box mode does not actually trigger failsafe"
I was looking at this part of code: https://github.com/cleanflight/cleanflight/blob/master/src/main/flight/failsafe.c#L187-L207

It occured to me that FAILSAFE mode won't actually trigger failsafe procedure. To be able to safely and reliable test failsafe procedure this must be fixed.

@ProDrone you probably know ins and outs of the code better than anyone here. Can you assist in fixing this?

[2015-12-29 02:27] digitalentity commented on #1633
@ProDrone
See 90e9297 for a possible fix.

[2015-12-29 06:20] martinbudden commented on #1632
@borisbstyle bb logs showing what you mean will be useful. I'll hold off writing the test until I recieve them - that way my test can be based on real data.

[2015-12-29 09:28] hydra commented on #1629
Hi @MauroMombelli - the last two comments belong in a seperate issue.

With regards to the main issue, thanks for the report. I'll look into this.

[2015-12-29 13:47] Butzi250nighrhawk opened #1634 "CC3D No softserial"
I flashed CF v 1.9 on my CC3D over OP GCS. Everything fine, motors and esc work. But in Ports tab there are only USBVCP UART1 and UART3, no Softserial. When i choose  RX_Serial or RX_PARALLEL_PWM and reboot no rx mode is ticked. RX_PPM and RX_MSP stay when rebooting, but no softserial shows up. Before I flashed my FC with OP, I once did the Wizard of OP and the rx worked.
(Using Spektrum AR6210 rx

[2015-12-29 13:48] ProDrone commented on #1633
@digitalentity Triggering is indirectly done from RX here: https://github.com/cleanflight/cleanflight/blob/master/src/main/rx/rx.c#L526

I did that on purpose to test/simulate a loss of signal. What do you think?

[2015-12-29 15:07] MauroMombelli opened #1635 "makefile cleaning"
in makefile, EUSTM32F103RC PORT103R (line 121) execute the same identical code than the else branch (generic f10x board like NAZE etc..) witch basically translate the if at line 75 instead to board-based, to MCU based (F3 or F1, and hopefully soon the F4)

more to come..

[2015-12-29 15:08] MauroMombelli opened #1636 "linker script wrong?"
startup_stm32f10x_md_gcc.S and startup_stm32f10x_hd_gcc.S seems to be almost identical, only reset vector change; BUT in CMSIS sample (they are basically light revision of what can be found in TrueSTUDIO) those two file has major differences.

Is this ok? the only HD is EUSTM32F103RC_SRC, what board is this? someone that has it can test it?

[2015-12-29 15:26] MauroMombelli commented on #1629
moved issue to #1636  and #1635

[2015-12-29 16:00] Pierre-A commented on #1539
I opened PR #1637 which should be merged quite soon.
This issue can be closed.

[2015-12-29 17:48] Flugsicherung commented on #1539
I close this issue, thanks.  ;-)

[2015-12-29 17:48] #1539 closed

[2015-12-30 00:58] digitalentity commented on #1633
Ah, I see. Perfect! Means that we still can signal a failafe to the FC even if our receiver continues to send valid signals on link loss.

[2015-12-30 00:58] #1633 closed

[2015-12-30 08:33] creol commented on #1323
I dont want to hijack this, but I am having a similar issue with CC3D Quad setup. The Yaw and Pitch are mixed up. Could this be same issue?

[2015-12-30 08:46] martinbudden commented on #1625
Shall I summarise then:

Currently the cleanflight configurator uses 8 bit values for the PID values (both in the UI and the MSP). This does not really provide sufficient range or resolution for PID tuning. There are already workarounds in the cleanflight code because of this (multiplying the ITerm by 10 https://github.com/cleanflight/cleanflight/pull/666) and boris finds that the D values are cur

[2015-12-30 09:28] martinbudden opened #1639 "ITerm no longer scaling by PIDweight in pidMultiWiiRewrite"
Currently the code is:

    errorGyroI[axis] = errorGyroI[axis] + ((RateError * cycleTime) >> 11) * pidProfile->I8[axis];

in version 1.10 the code was:

    errorGyroI[axis] = errorGyroI[axis] + ((RateError * cycleTime) >> 11) * pidProfile->I8[axis] * PIDweight[axis] / 100;

Is this a deliberate or accidental change?

[2015-12-30 11:22] NightHawk32 commented on #1625
@martinbudden you got most of it.
But you also have to consider compatibility to old versions.
This consists of three points:
- backup and restore: old backup files which still have the old scaling have to be mirgrated properly
- MSP: this has to check wich api level is connected and therefore decide if 16 or 8 bit PID values are used.
- the frontend: depending on the api level step and max have t

[2015-12-30 12:36] hydra commented on #1539
Merged the related commits from the PRs.

[2015-12-30 14:26] Flugsicherung commented on #1634
You must use Cleanflight Configurator for the settings. On the Configuration Tab you can switch on the Soft Serials and make the settings for your Reciever. OP GCS is only for flashing the Firmware to the CC3D Board.

[2015-12-30 15:22] SteveAmor commented on #1639
I'd say deliberate:

https://github.com/cleanflight/cleanflight/commit/bc0a30780fa6bd2dbc61fd3d6a43d27ff680615a

[2015-12-30 16:17] martinbudden commented on #1625
@NightHawk32 yes file compatibility has to be considered as well. I've just had a hunt around and found this in `serial_msp.c`:

    case MSP_SET_PID:
        if (IS_PID_CONTROLLER_FP_BASED(currentProfile->pidProfile.pidController)) {
            for (i = 0; i < 3; i++) {
                currentProfile->pidProfile.P_f[i] = (float)read8() / 10.0f;
                currentProfile->pidProfile.I_f[i] =

[2015-12-30 16:25] borisbstyle commented on #1625
You are looking in my branch where I was playing with that :).

Thats not there in cleanflight.
Op 30 dec. 2015 17:17 schreef "Martin Budden" <notifications@github.com>:

[2015-12-30 16:41] hydra commented on #1598
fix merged.

[2015-12-30 16:41] #1598 closed

[2015-12-30 17:36] NicolasLaureyns opened #1641 "Cleanflight SPRacing F3 falls out of the sky"
Hello,

I'm having a problem with my quad, on irregular base it just flips and falls out of the sky..
Sometimes when 5 min flying, sometimes 10 sec..

Turned on blackbox and here's an image  when it flips and falls:
Could someone explain me what's happening ?
![image](https://cloud.githubusercontent.com/assets/16491852/12054245/068475f6-af22-11e5-8aa5-dce9de6e9a40.png)

Another one:
![image](https

[2015-12-30 17:41] martinbudden commented on #1625
That's a bit embarassing :-) I must have forgotten to checkout master before I started browsing the code. I must admit I was surprised when I found it.

I was thinking a bit more about the roll pitch yaw PID values. Why not just store them as floats? There are only 9 of them (3 PIDs for 3 axes). Storing them as 16 bit values costs 18 bytes, whereas storing them as floats costs 36 bytes. For a cost

[2015-12-30 18:14] joshuabardwell commented on #1641
The log ends before the board disarms, which is why the traces end with square dots. This is a normal occurrence under flight conditions where there is too much data for the UART or the SD card to write at once. Most likely explanation is that the rapidly changing data that resulted from the copter flipping out overwhelmed the compression on the Blackbox link and overwhelmed the serial output. Thi

[2015-12-30 18:39] ledvinap commented on #1641
@NicolasLaureyns : Where do you record blackbox data? Onboard chip or openlog?

[2015-12-30 18:42] NicolasLaureyns commented on #1641
@ledvinap The onboard chip of the SP3.
@joshuabardwell The board is brand new, the only crashes I made is because of the flipping..

[2015-12-30 18:49] ledvinap commented on #1641
Maybe board resets?
What state is the quad after crash?

How do you power the board?

[2015-12-30 18:54] NicolasLaureyns commented on #1641
@ledvinap I reflashed the firmware on the board after some crashes, problem still presists.
Gonna try to fly with the stock settings, tomorrow.

The state of the board is disarmed, board is powered with Pololu 5V, 1A Step-Down Voltage Regulator D24V10F5

[2015-12-30 22:46] varoudis commented on #1641
not sure if its related but I get reboot sequence with SPF3 when there is a lot a acc/gyro activity. Shaking the quad or slapping it a bit. All of this only when armed. If not armed (via switch) everything is ok.

There is a closed ticket on beta flight repo.

[2015-12-31 00:16] mbr1989 commented on #363
![GPS](http://s24.postimg.org/ovl8shadw/20151231_010819.jpg)

[2015-12-31 00:57] digitalentity commented on #363
@mbr1989
And it shouldn't. Cleanflight will autoconfig uBlox anyway. I've opened my Neo-6M, have to do some soldering and connect GPS to i2c bus

[2015-12-31 01:06] mbr1989 commented on #363
I killed also the two pull ups .... bottom left corner ... they're already on the FC or ???

[2015-12-31 01:07] digitalentity commented on #363
Better to have them anyway. Some FCs have 10K pullups that are not enough for long wires.

[2015-12-31 01:19] mbr1989 commented on #363
http://www.ti.com/lit/an/slva689/slva689.pdf

[2015-12-31 01:43] ZMR250 commented on #880
Hello all. I have also same issue with adding sonar. Im using ppm reciver so pins 7,8 1K resistors all as in the video mentioned above. I do have 5 sonar modules HC-SR04 and they all do work with my arduino but not with the naze32 rev5, 1.11.0 firmware. Tilt the naze board and you get spikes in sensor window. Im pretty shure problem isnt in hardware or interfearence it is somewhere in code.
Best r

[2015-12-31 05:12] Zero9r commented on #1323
Creol that can be changed on your radio or unter the radio tab.  where it says your mapping.  for example  "TAER1234"  Just switch the "R" and "E"  so "TARE1234"

[2015-12-31 10:11] Ravid824 commented on #880
Your Naze board is not hooked to the drone? meaning when you tilt Naze board the Sonar doesn't move with it?
My Naze and Sonar are hooked to the drone. When I lift the drone I can see good reading results. I will try to tilt the drone and see if there are spikes.

[2015-12-31 10:37] catchthewind commented on #586
I have managed to upload hex with new programmer. CF 1.11 works fine on a tricopter and CC3D.
I have also tested Betaflight 2.2 RC2 and this fix was implemented there as well (both hex and bin available).

Thank you All for help. Have a great party tonight and a great 2016 :)

[2015-12-31 11:02] renatoa commented on #586
Please, details. Interface used, pins, everything we might need to be happy as well.

[2015-12-31 11:11] catchthewind commented on #586
After uploading CF 1.11 hex using ftdi programmer to CC3D  main port I have connected motors to output 1,2,3. Servo goes to output 4 and works out of the boax after choosing TRICOPTER setup.

Controller Multiwii (rewrite) YAW P lowered to 5, servo digtial so Ive changed set servo_pwm_rate = 400 (could be 333 depending od the servo used). Default 50 is however also fine for slower analog servos.
To

[2015-12-31 13:12] ZMR250 commented on #880
Noup i took it off. I have just reciver 5v supply and sonar connected. Ravid824 what firmware you run on your board and what board you use?

[2015-12-31 20:53] SteveAmor commented on #1634
@Butzi250nighrhawk if this has answered your support question, can you please close this issue.

[2015-12-31 21:17] Ravid824 commented on #880
1.11.0

[2016-01-01 01:20] ACETOPPER opened #1644 "contankt between radio and quad"
i hooked up my srd 250 with openpilot, and the radio disconnekted. now there is no contakt between quad and radio. i tried to reset the reciever and trebind but still no connektion. does anybody hawe an idea?

[2016-01-01 09:43] SteveAmor commented on #1644
Sorry for your problem but this is a support question, not an issue. Please consider asking such questions in a support environment such as RC Groups or #cleanflight, rather than diverting developer time.
Please can you close this issue. Thank you.

[2016-01-01 22:18] mbr1989 commented on #363
![GPS](https://raw.githubusercontent.com/mbr1989/u-blox-neo-7-i2c/master/pictures/IMG-20160101-WA0071.jpeg)

[2016-01-01 23:32] ukscaleandcrawler commented on #1609
i am having the same problem had to go back to libra pilot really wanna use betaflight also i noticed that i carnt calibrate the escs either and its because i carnt change the board loop time to 2500

[2016-01-02 00:31] tannewt commented on #1400
I can't connect to a STM32F3Discovery either over USB. I'm on a Mac but I also tried on Linux. dmesg shows some enumeration errors but then on Mac is shows up as a tty. However, it can't load the configuration through the configurator.

[2016-01-02 00:44] tannewt commented on #1078
Isn't this done?

[2016-01-02 07:33] tannewt commented on #1400
I take this back. The VCP driver works for me on Cleanflight but not Betaflight.

[2016-01-02 09:52] hankxx commented on #1508
I have the Flip32 with external GPS magnetometer "Ublox 7 Series Mini GPS w/Compass  - the AP GPS"
Testing DigitalEntity's iNav versions with CleanFilight 1.1.0.
Similar problem. When magnetometer correctly working it does not show up in Cleanflight. If magnetometer connected with SCL and SDA in i2c the other way around, MAG shows but quadcopter picture is not steady nor working regarding mag.

[2016-01-02 10:25] Pierre-A commented on #1099
**@ctzsnooze**, **@handsomejackuk**, just in case ..
I closed PR #1482 and #1607 and rebased the initial proposal in new PR #1645.

[2016-01-02 20:30] paulwas opened #1647 "Can't set PID values using CLI"
Hi,
I downloaded and built the latest code so I could use the GTUNE fix for my Naze32. Then, when I was trying to set the PID values using the CLI, I found that I could only set them to 200. Looking at lines 619-627 in "serial_cli.c" I noticed that each value is set to "{ PID_MAX,  PID_MAX }". After changing them to "{ PID_MIN,  PID_MAX }" it seems to work fine. I looked for other obvious changes

[2016-01-02 20:46] SteveAmor commented on #1647
Good catch @paulwas

@NightHawk32 do you want to raise a PR for this ;)

[2016-01-02 22:45] paulwas commented on #1647
I'd be happy to. However,. I'm new to this process so I'm now sure about exactly what I need to do. Could you give me either a few quick bullet-points or a pointer to the steps?

Paul

[2016-01-03 05:59] digitalentity commented on #363
Did some hacking to my NEO-6M module, removed the EEPROM chip and soldered a bridge between GPS I2C and breakout I2C pins (thus connecting both GPS and compass to the same I2C bus:
![2016-01-03 15 48 43](https://cloud.githubusercontent.com/assets/11059099/12077503/ca591e92-b232-11e5-97aa-648c3cf28896.jpg)
Both devices are detected by I2C scanner, compass works in Cleanflight. Now some coding to ge

[2016-01-03 06:37] martinbudden opened #1649 "IS_PID_CONTROLLER_FP_BASED uses a magic number"
It uses a comparision to `2` rather than `PID_CONTROLLER_LUX_FLOAT`.

[2016-01-03 07:07] martinbudden opened #1651 "MSP has no reserved values for expansion past one byte command"
The *Multiwii Serial Protocol* (MSP) is a **Length-Type-Value** protocol that uses one byte for the command type. This means it is limited to 255 commands. This means it is possible to run out of commands. Currenly 104 commands are `#defined` in `msp_serial.c`. Some of these are the Multiwii original commands, some are Baseflight commands and some are Cleanflight commands.

It may seem there are p

[2016-01-03 07:15] digitalentity commented on #1651
CLI removal will require 3 more MSP commands. However, I like the idea of having ability to expand beyond 256 commands.

[2016-01-03 07:17] martinbudden commented on #1626
I'm closing this. It is a workaround because the MSP and the configurator use 8-bit values for the PIDs, and it cannot be addressed until the MSP and the configurator are changed.

[2016-01-03 07:17] #1626 closed

[2016-01-03 07:17] martinbudden commented on #1639
Closing. It was a deliberat change.

[2016-01-03 07:17] #1639 closed

[2016-01-03 09:18] digitalentity commented on #363
I was able to get GPS talking at 100kHz, but it is unable to communicate on 400kHz bus speed. Datasheet confirms.
This is a major problem as Cleanflight uses I2C at 400khz speed.

[2016-01-03 09:41] marksev1 commented on #363
I googled and and think that the M8 gps supports 400kHz, so only that one could be used in this mode.

[2016-01-03 09:50] SteveAmor commented on #1647
@paulwas you can follow the instructions here to create the PR to fix this issue:

https://github.com/cleanflight/cleanflight/blob/master/docs/development/Development.md#using-git-and-github

[2016-01-03 10:08] henn1001 commented on #363
Ublox7 is rated for 400khz too.

[2016-01-03 10:12] digitalentity commented on #363
I'll need to buy a Neo8 then :)

[2016-01-03 14:41] #1649 closed

[2016-01-03 15:08] henn1001 commented on #363
@mbr1989 was kind enough to lend me his  modded ublox7 module :D

We got some barebone code working with arduino at 400khz

![20160103_155219](https://cloud.githubusercontent.com/assets/10023892/12079299/efcad854-b233-11e5-8992-69d79b058a9b.jpg)
b233-11e5-8992-69d79b058a9b.jpg)
![unbenannt](https://cloud.githubusercontent.com/assets/10023892/12079300/f1341d18-b233-11e5-8de2-266ad822e849.PNG)

Will

[2016-01-03 15:09] hydra commented on #884
ok @ledvinap we need this stuff ASAP.  Certainly a more declarative approach is preferred for target definitions.  What needs to happen to get this finished?

[2016-01-04 03:59] phijoule commented on #197
Hi @digitalentity . I am totally new to github and Naze32. I have setup a few 250 scale quad of my friends running on Naze 32 with GPS and OSD. Using the latest Cleanflight 1.9.0, I was able to see the GPS count (8 to 9 sats) but were not able to use the PH (Altitude Hold isn't working too).

Could you do a quick demo on youtube on import your hex file into the Naze32 board. I am assuming it would

[2016-01-04 04:22] #1250 closed

[2016-01-04 10:22] #1388 closed

[2016-01-04 10:45] SteveAmor commented on #1647
@paulwas - any update?  It's important this gets corrected in the code asap

[2016-01-04 16:40] paulwas commented on #1647
Here's the pull request: https://github.com/cleanflight/cleanflight/pull/1655
Hopefully I did it correctly since I'm new to this. :-)

[2016-01-04 17:05] SteveAmor commented on #1647
Looks good to me :)

[2016-01-05 00:59] NightHawk32 commented on #1647
Oops ;), thanks for the fix

[2016-01-05 01:22] paulwas commented on #1647
Happy to help. :-)

[2016-01-05 07:19] Ravid824 commented on #880
After verify that the signals and 5V are clean of noise coming from the motor, I made few tests with the HC-SR04 driven from a standalone Arduino. The Sonar worked quite well while the sonar was on the table. Then I placed the Sonar  on the drone and start the motors (still driven from the Arduino).
I found very interesting results. On a small detection range (30cm) it worked well, while when I in

[2016-01-05 12:46] Sanguine7 opened #1656 "Naze32 CLI states invalid value (FRSKY Telemetry)"
I followed Painless360'S vid on how to setup the naze 32 with frsrky telemetry but the cli only allows me to enable softserial and telemetry when i want to set the baud rate or do more the cli shatters every comand as "invalid value".
I hope this is just me having overseen something and someone can help

[2016-01-05 12:47] readerror67 commented on #1656
Maybe you should like, paste the input/output instead of referencing a video.

[2016-01-05 13:12] Sanguine7 commented on #1656
Sorry my bad,
D4R-II is in PPM mode connected to naze32, RX cable is soldered to pad 6
then i followed the guidelines in option 2
http://www.netraam.eu/nazewiki/pmwiki.php?n=Howto.FrskyTelemetry

feature SOFTSERIAL
feature TELEMETRY

those two where accepted

set softserial_baudrate=9600
set softserial_1_inverted=1
set telemetry_port=1
set telemetry_provider=0

for those 4 the CLI states "invalid

[2016-01-05 13:26] SteveAmor commented on #1656
Just read the release notes

NOTE: CLI get/set commands have changed. some variables are now set using OFF/ON instead of 0/1.

This applies to telemetry.

[2016-01-05 13:31] Sanguine7 commented on #1656
Doesn't work either and this does not explain why i can't set baud rate
![cli test](https://cloud.githubusercontent.com/assets/16558440/12116281/f3e62f0c-b3b8-11e5-8a6e-5910e972d910.jpg)

[2016-01-05 13:43] lostcontrol commented on #1656
*softserial* does not exist (anymore I guess) as CLI command in Cleanflight. Look at https://github.com/cleanflight/cleanflight/blob/master/docs/Serial.md

[2016-01-05 13:45] SteveAmor commented on #1656
The instructions you are following were last updated on July 02 2014. Lots has happened since then.  Those commands no longer exist. Have a look at:

https://github.com/cleanflight/cleanflight/blob/master/docs/Cli.md
https://github.com/cleanflight/cleanflight/blob/master/docs/Telemetry.md

Failing that, please ask support questions at RC Groups or IRC #cleanflight.

[2016-01-05 13:56] Sanguine7 commented on #1656
OK so i get that a lot has changed
@SteveAmor the comands given in your links don't work either
same problem that he does not know the command telem inversion given in link 2

So can anybody give me a link or commandline which enables me to use my frsky d4r-ii via softserial port 6? without external inverter?

i've seen that i can activate softserial and telemetry in the setup and set my softseria

[2016-01-05 17:48] Fly3Fan commented on #681
Hi,
I succeeded with SRXL via PIN4 (using an Skyline32 Mini) and RX-7-DR MLINK).
Now I would like to add an OSD but there is no RX/TX separated on this Mini board. How can I configure that via UART or SOFTSERIAL? Pleas help!

[2016-01-05 18:37] nathantsoi commented on #1400
stm32f3discovery isnt supported by betaflight: https://github.com/borisbstyle/betaflight/issues/95

this issue can pry be closed & moved to betaflight

[2016-01-05 21:28] dalgibbard commented on #1384
Related to #709 and #896.

[2016-01-07 15:22] digitalentity opened #1658 "Use Spektrum satellite lost frame confer as a substitute for RSSI"
Spektrum sat receiver doesn't have an RSSI output, but it's reporting lost frame counter in the first byte of the packet. Maybe we can calculate how it changes over time to give user an indication of link quality?

[2016-01-07 15:28] flounderscore commented on #1658
+1
If that worked, it would make cf very unique!

[2016-01-07 22:32] NightHawk32 commented on #1658
That would be a great thing.
It won't be as accurate as a real RSSI, because the frame drop will increase pretty fast, I fear. But it is better than nothing.
If you're using a RX and a satellite in diversity mode there are also antenna fades reported which would occur before dropping frames. But when just jusing a satellite I think there is no better way than integrating the lost frames.

[2016-01-08 00:55] Tom-Roocke commented on #1658
This would be a great feature.
While it wouldn't be an indication of true reception strength, it could be used to detect the edges of reception / dodgy areas.

[2016-01-08 01:30] flounderscore commented on #1658
I did a little research and there seem to be mixed opinions about the first byte of each data packet that @digitalentity was referring to. It seems to be different between DSM and DSMX. And I bet it depends on the manufacturer, too (Spectrum vs Lemon vs Orange). Has anyone (of the CF contributors) every tried to read the dropped frames/antenna fades or what ever it is transmitting?

[2016-01-08 02:19] markitos020 opened #1659 "Naze32 rev 5 afro flight Channel 1,2,3,4 not working after updating"
I upgraded my board and now channels 1-4 dont work. no input shown in clean flight and channel 2 always shows 840 reading all other channels show 1500 mid point. All AUX channels work. If I flash back to and older version all channels except ch2 work. This problem started to happen after updating. Tried flashing ALL clean flight versions and channel 2 wont work...

[2016-01-08 05:56] digitalentity commented on #1658
There's a lot of controversial info about first two bytes of the frame.
Most info I could find indicates that the first byte is somehow related to
frame loss. Second byte is different depending on DSM/DSMX mode.
I have an original Spektrum satellite and a Lemon satellite, need to do
some testing and see what they output in the first bytes in different modes.

[2016-01-08 08:04] Ravid824 commented on #880
Well, after softening the vibrations the drone is keeping height below 3 meter and it quite stable.
Still there is a small problem when it transition from Sonar to Baro, but it is reasonable.
The pictures below shows the sonar with rubber dumber to reduce vibrations.
![2016-01-05 17 53 03](https://cloud.githubusercontent.com/assets/14961646/12193201/c20a6b18-b59a-11e5-9832-5a51a2ccea43.jpg)
![2016

[2016-01-08 09:10] SteveAmor commented on #1659
Can you be very specific which version you first upgraded to.

[2016-01-08 11:31] markitos020 commented on #1659
I was running cleanflight 1.6.0. I upgraded to 1.11.1, in the update process it failed. I Had to jump boot loader pins and was able to install 1.11.1. Instantly all stick channels stopped working, only aux channels worked. If I flash 1.7.0 or below the only channel that wont work is ch2. I tried flashing back to baseflight and all channels worked. Since I dont like base flight I tried flashing cle

[2016-01-08 11:37] SteveAmor commented on #1659
Sorry about your problem. It is really a support issue, not a bug. I suspect, failsafe is activating or a hardware fault. Please can you ask support questions at RC Groups or IRC #cleanflight and close this issue.

[2016-01-08 11:39] markitos020 commented on #1659
Ok thanks

[2016-01-08 11:39] #1659 closed

[2016-01-08 12:47] hydra commented on #1398
merged, thanks @ProDrone

[2016-01-08 17:53] hydra commented on #1647
Good catch. PR merged.

[2016-01-08 17:53] #1647 closed

[2016-01-08 17:55] hydra commented on #1656
Please use forums for support.

[2016-01-08 17:55] #1656 closed

[2016-01-08 17:55] hydra commented on #1644
Please use forums for support.

[2016-01-08 17:55] #1644 closed

[2016-01-08 17:58] hydra commented on #1641
It's probably a wiring issue or a defective board.  Which retailer did you buy the board from?  Have you contacted them?

[2016-01-08 18:00] #1641 closed

[2016-01-08 18:03] hydra commented on #1635
it's not the same. the main difference is the inclusion of the device flags but I agree that it could be cleaner.

If you want to have a go just submit a PR and reference this issue.

[2016-01-08 18:03] #1635 closed

[2016-01-08 18:13] hydra commented on #1636
The PORT103R is also HD.

The EUSTM32F103RC is one of these:

http://world.tmall.com/item/44483968260.htm?spm=a312a.7700714.0.0.ubO9C8

[2016-01-08 18:15] skaman82 commented on #922
Working on this in here: https://github.com/skaman82/cleanflight-configurator/issues/59

[2016-01-08 18:15] skaman82 commented on #1621
Working on this in here: https://github.com/skaman82/cleanflight-configurator/issues/59

[2016-01-08 18:30] hydra commented on #1636
`diff -bua lib/main/CMSIS/CM3/DeviceSupport/ST/STM32F10x/startup/TrueSTUDIO/startup_stm32f10x_hd.s lib/main/CMSIS/CM3/DeviceSupport/ST/STM32F10x/startup/TrueSTUDIO/startup_stm32f10x_md.s`

[code]

VS

`diff -bua src/main/startup/startup_stm32f10x_hd_gcc.S src/main/startup/startup_stm32f10x_md_gcc.S`

[code]

[2016-01-08 18:31] hydra commented on #1636
What diff are you referring to? The above looks correct to me and certainly works on both the PORT103R and EUSTM32F103RC boards I have here.

[2016-01-08 18:31] hydra commented on #1634
Please use forums for support.

[2016-01-08 18:31] #1634 closed

[2016-01-08 18:35] #1629 closed

[2016-01-08 19:02] hydra commented on #922
@skaman82 See #922.

[2016-01-08 19:03] hydra commented on #922
@skaman82 See #1049.

[2016-01-08 19:13] #1398 closed

[2016-01-08 19:40] hydra commented on #1602
@borisbstyle +1 I find the word 'check' in the above unhelpful, always have.

Marking this as low priority for now.  I think when we remove the CLI things will be easier since we can just update the GUI instead.  See #922.  Blocking.

[2016-01-08 20:21] SteveAmor commented on #1572
@MauroMombelli can you please close this suport request.

[2016-01-08 20:35] SteveAmor commented on #1556
@McJohn115   this is a support problem that should be worked through in the forums.  Please can you close this issue.

[2016-01-08 23:32] olelille opened #1662 "Add support for KISS ESC 24A Race Edition onewire telemetry"
The new 24A Kiss ESC has a one wire telemetry port with ESC temperature, voltage, current, consumption and eRPM data. This can be useful information for blackbox, telemetry and feedback to the controller.

As i understand, multiple ESCs can be connected to the same serial port (UART) and the telemetry packets are triggered one by one with a 30µs pulse on PWM lead.

More info can be found at:
http:

[2016-01-09 00:06] dkisselev commented on #1662
These guys did a great job with this product, they made up a totally new feature that they know isn't supported by anything, but they wrote up a bunch of documentation on how to wire it up, how to handle their protocol in C, and even included an Arduino sketch.

Looks like you're right about a single UART and PWM-based triggering, the only relevant limitation might be that the telemetry is transmi

[2016-01-09 00:06] markitos020 commented on #1659
Hi today i got the qav 210. I went ahead and started setting up my tx and
within a minute the led lights started to smoke. Im running the tattu 4s
lipo. Im guessing this led does not support 4s?
On Jan 8, 2016 7:37 AM, "Steveis" <notifications@github.com> wrote:

[2016-01-09 03:11] joshuabardwell commented on #1659
This question is not even remotely on topic for this forum. Did you post it here by mistake?

[2016-01-09 14:41] jcowgar commented on #1398
Does this mean that a hardware inverter is no longer needed on the FC? i.e. a Naze 5 board can take SBUS input w/no changes/inline inverted? It's just a software flag now?

[2016-01-09 14:54] ledvinap commented on #1398
@jcowgar : No. This is about using non-inverting (modified) SBUS receiver on F3 board ..

[2016-01-09 15:04] flounderscore opened #1665 "Feature Request: Ring-buffer style Blackbox logging/Infinite recording for on-board SPI flash"
Would it be possible to implement some sort of a ring-buffer style Blackbox logging, where the beginning of the log is going to be overwritten when the memory is full? This would be a neat feature for people without external logger and to diagnose crashes etc.

What would be the best way to keep track of the current file position without writing to the same place on the flash over and over again?

[2016-01-09 15:09] ledvinap commented on #1665
It is impossible to erase memory when recording blackbox - erase is too slow, there is not enough RAM to store blackbox during erase (there is already issue covering this).

It may be possible to erase flash when disarmed (for example using stick command), so you can discard unneeded logs.

End of recording is searched in current code.

[2016-01-09 15:20] flounderscore commented on #1665
I was thinking to plainly overwrite the existing data. Imaging the following scenario:
* Format flash: fill everything with 0s (not really necessary) and set the address/file pointer to the beginning (0)
* Write data to flash and move pointer along.
* Once you hit the end of the flash memory, reset the pointer to the beginning and keep writing
* Now after a power cycle, the log should start were i

[2016-01-09 15:21] dpfaffenbauer commented on #1556
is there any solution yet? i experience the same problem with a turnigy 9x8cv2 receiver.

[2016-01-09 15:43] HaukeRa commented on #1665
Overwriting is impossible in flash memory. If you overwrite flash it will result in a bitwise AND of the previously written data and the new data. A flash erase takes more time. During that time no read or write is possible for most flash devices.

[2016-01-09 15:45] flounderscore commented on #1665
Thanks for clarifying.

Closed.

[2016-01-09 15:45] #1665 closed

[2016-01-09 16:16] McJohn115 commented on #1556
Sry i didnt find any solution, im using LibrePilot now, works excellent for me and 3D flying is possible.

[2016-01-09 19:03] lefticals opened #1666 "cc3d flashed cleanflight bin using main port"
cc3d flashed cleanflight bin using main port cant connect thru usb no drivers windows says it cannot find drivers tryed the virtual port tool doesnt do anything still doesnt recognize my cc3d

[2016-01-09 19:16] SteveAmor commented on #1666
Please use the support forums for this and close this issue.

[2016-01-09 19:17] SteveAmor commented on #1556
Please close this issue.

[2016-01-09 21:27] #1556 closed

[2016-01-10 05:36] dkisselev commented on #1398
On F3 boards every uart can be inverted in software (this is a standard hardware feature of the F3 line of st chips). This PR just adds support to CF to set whether that feature is enabled or not.

F1 boards (naze) don't have the hardware component so still need external inverters.

[2016-01-10 16:58] joshuabardwell commented on #1398
Is there a separate issue / PR for supporting both inverted and non-inverted SBUS on F1 boards? I know this can be done at compile-time, so it seems like it should be doable at run-time.

[2016-01-10 17:03] ledvinap commented on #1398
@joshuabardwell :
- softserial may work (I used it before I switched to F3, both sbus and frsky telemetry), but current implementation is far too slow.
- some boards have onboard invertor, sometimes pin-configurable

but F1 UART can't work in inverted mode

[2016-01-10 17:13] joshuabardwell commented on #1398
I think I see the problem. The UART itself doesn't recognize the incoming signal, and CF is interfacing with the UART digitally; CF isn't bit-banging the signal, so it can't simply invert its logic.

[2016-01-10 17:48] #1572 closed

[2016-01-10 17:49] MauroMombelli commented on #1636
diff -bua lib/main/CMSIS/CM3/DeviceSupport/ST/STM32F10x/startup/TrueSTUDIO/startup_stm32f10x_hd.s
src/main/startup/startup_stm32f10x_md_gcc.S

[2016-01-10 18:09] ipburbank opened #1669 "Use buzzer to match blackbox log to video"
It would be great if the buzzer could optionally indicate what blackbox index it is recording to when the device is armed (e.g. buzz five times for index 5) to make matching logs to videos easier.

[2016-01-10 18:16] readerror67 commented on #1669
That could be a mess when you get up to the double digits...

A more usable implementation would be to utilize the alarm system that @dustin implemented in MWOSD:
https://github.com/ShikOfTheRa/scarab-osd/commit/32c6a453c965f275576e34b3fc20902d3299fecf

[2016-01-10 22:01] universam1 commented on #1499
+1
Eagerly waiting on PID scaled to voltage. Keep on good work!

[2016-01-11 00:36] ipburbank commented on #1669
Perhaps long beeps could be tens, so *long short short* is log id 12.

[2016-01-11 06:31] digitalentity commented on #1658
I've made tests with two available Spektrum Sat receivers - original Spektrum and LemonRx.

First byte is indeed a lost frame counter. With both Spektrum and Lemon it starts counting at zero and increses each time a bad/corrupted frame is received.

However, this counter does not overflow. When it reaches a certain value (255 for Spek, 230 for Lemon) it no longer increses no mater how bad radio si

[2016-01-11 12:23] ciscoe opened #1670 "naze32 rev5 CF1.11 no response from the bootloader programming failed"
having issues with bootloader

trying to flash a r5 nase32 with cf1.11, not have any luck at all

running cf 1.1.0

help please

[2016-01-11 12:50] hydra commented on #1435
@ProDrone can you look into this please

[2016-01-11 13:58] flounderscore commented on #1658
I'm wondering what exactly is reported in the first byte. Horizon Hobby gives three candidates:

One might have to use a separate system with Spektrum RX, Satellite, and telemetry and sniff the serial communication and compare what's transmitted via telemetry. Not quite sure how one could distinguish the fades from the satellite and main rx.

[2016-01-11 14:42] solaris3000 opened #1671 "TAER1234 receiver Tab Missing all AUX channels"
Dragonfly32, Cleanflight ver 1.11
radio-Taranis X9D
rec-D4R-II

under the receiver tab the TAER channels are working.
All AUX channels unresponsive. (no GUI slider movement when switches are moved)
Flashed to older ver of Cleanflight firmware with same result....

Attempted same setup with Walkera F12E and RX703 receiver and able to see AUX channels along with AETR mapping selected.

Thanks for lo

[2016-01-11 17:12] joshuabardwell commented on #1671
This is almost certainly a support issue, not a development issue.

https://github.com/cleanflight/cleanflight/blob/master/CONTRIBUTING.md

[2016-01-11 17:14] joshuabardwell commented on #1670
This is almost certainly a support issue, not a development issue.

https://github.com/cleanflight/cleanflight/blob/master/CONTRIBUTING.md

[2016-01-11 17:31] #1666 closed

[2016-01-11 17:38] brannan commented on #1100
Is anybody still interested in this? I put a Naze32, built from GitHub checkout on 2015-01-05, on a wood h-quad that weights about 1kg and has a wheelbase of 460mm. The default PIDs were way, way too high for me as well. Yaw turned out to be the biggest change. I can post results later today if anybody cares.

[2016-01-11 19:15] ciscoe commented on #1670
where do i post issues

[2016-01-11 19:56] martinbudden commented on #1632
@borisbstyle any update on the availability of those logs? If you don't have time to provide them them let me know and I'll close this issue.

[2016-01-11 20:00] martinbudden commented on #1651
@hydra are you OK with changing the MSP_DEBUG value? If so I'll submit a PR

[2016-01-12 00:05] rocboronat commented on #1377
Friends! Thanks for your patience. I very sad to say that the issue was in the board. After getting a Flip32 instead of an AfroFlight32... it worked :·)

Please, if you're curious about my development on working with CleanFlight via Bluetooth and Android, don't hesitate to watch https://github.com/Fewlaps/flone-android

Thanks!

[2016-01-12 00:05] #1377 closed

[2016-01-12 01:49] JohnOCFII commented on #1670
Your best bet is to use the RC Groups Cleanflight thread:  http://www.rcgroups.com/forums/showthread.php?t=2249574

[2016-01-12 09:51] #1671 closed

[2016-01-12 09:51] #1670 closed

[2016-01-12 09:59] hydra commented on #1662
@dkisselev yup. that's good work! they should be congratuated for providing all the details in a great way.

Definately having the information recorded in blackbox logs would be great to start with.  Having it displayed on an OSD would be icing on the cake.

[2016-01-12 10:10] hydra commented on #1609
this seems like a support issue.  no response from the user after 20 days. closing.

[2016-01-12 10:10] #1609 closed

[2016-01-12 10:11] #1589 closed

[2016-01-12 10:18] hydra commented on #1551
this is an error in the configurator. there is no 'disabled' setting in the firmware.

[2016-01-12 10:26] hydra commented on #1551
please test latest development configurator where a fix has been applied.  If there's still an issue please open an issue in the configurator issue tracker.

[2016-01-12 10:26] #1551 closed

[2016-01-12 10:28] hydra commented on #1561
PR please!

[2016-01-12 12:27] digitalentity commented on #1658
The first byte is probably a "Frame loss" counter. It is definitely not Hold (increases too fast).

[2016-01-12 13:12] flounderscore commented on #1658
How about something like this: (sorry for the pseudo code. That would be my best guess to get something rssi-like from the Spektrum sat)

    float loss = 0.0;
    float tau = 1e-3; // Some exponention decay rate. Should be something around 5s or so to make sure you can see it on the OSD. Numeric value depends on how often the code is going to be called. (11ms VS 22ms).

    counterPrevious = 0;

[2016-01-12 13:15] digitalentity commented on #1658
@flounderscore
Setting RSSI to "oh crap" value is the safest way of dealing with saturation.

@hydra
What do you think? Should I post a PR for a "fake" RSSI?

[2016-01-12 19:23] martinbudden commented on #1632
To close this issue I'll create a pull request to add trapezium integration. This is cheap, has already been implemented in betaflight and may provide some small benefit at the margins. It seems that it is not worth doing Simpson integration since it is more expensive and provides no additional benefit.

[2016-01-12 19:43] martinbudden commented on #1625
I'm closing this issue. The discussion has revealed that there is an underlying problem: the storage of PIDs as 8 bit values does not allow sufficient range or resolution for proper tuning. I'll raise an issue for that and close this one. (Once the underlying issue is addressed it will be possible to revisit the scaling of the PID values.)

[2016-01-12 19:43] #1625 closed

[2016-01-12 20:06] martinbudden opened #1675 "Storage of PIDs as 8 bit values does not allow sufficient range or resolution tuning pidLuxFloat"
Currently the cleanflight configurator uses 8 bit values for the PID values (both in the UI and the MSP). This does not really provide sufficient range or resolution for PID tuning. There are already workarounds in the cleanflight code because of this (multiplying the ITerm by 10 #666) and boris finds that the D values are currently too aggressively scaled.

To improve PID tuning the configurator

[2016-01-12 20:07] borisbstyle commented on #1632
@martinbudden
I got plenty of logs where Iterm can mess up dynamic flight behaviour like acrobatic flights.
I found a solution for that which I am still testing. I simply scale Iterm down with more stick input and starting from above 70% stick reflection. This completaly solves the problem with bumps after some flips and rolls and makes possible to use higher I gains.

[2016-01-12 21:03] ledvinap commented on #1632
@martinbudden : Simple sum as PID integrator is adequate, there is no need to complicate that.

[2016-01-12 21:41] martinbudden commented on #1632
OK, I'll just close this then.

[2016-01-12 21:41] #1632 closed

[2016-01-12 22:17] ledvinap commented on #1675
half-precision floats (https://en.wikipedia.org/wiki/Half-precision_floating-point_format)
- conversion to integer is trivial, just mask mantisa / exponent and shift result, then apply sign. resulting value is exact from -2048 to 2048 and covers whole uint16_t and int16_t.
- conversion to float is even easier, just  move mantisa  and exponent into correct places of 32bit float.
- code size will be

[2016-01-13 11:19] error414 commented on #1658
we can call it "SFL" (spetrum frame loss), or something like that, instead of RSSI, and will be clear what it is.

[2016-01-13 13:05] flounderscore commented on #1658
You can call it that in the documentation, but I think it should be treated as RSSI in the code to be compatible with OSDs etc.

[2016-01-14 09:56] latomgo opened #1679 "little documentation problem"
Hi,
the heading of the "Board - CC3D" section is wrong formatted in the documentation:
![image](https://cloud.githubusercontent.com/assets/16700832/12321139/e034fda8-baac-11e5-9237-d431747b28de.png)
It's hard to see that a new section starts.
Thomas

[2016-01-14 10:25] SteveAmor commented on #1679
Did you want to have a go at raising a pull request to fix?

https://github.com/cleanflight/cleanflight/blob/master/docs/development/Development.md#using-git-and-github

[2016-01-14 11:16] latomgo commented on #1679
this is just a hint, do whatever is necessary to correct the documentation.
I'm a user, no developer, no github knowledge at all. sorry, if this is the wrong place for my issue.

[2016-01-14 14:35] SteveAmor commented on #1679
That's cool. It's a documentation issue that needs fixing. I'll take a look later :)

[2016-01-14 15:47] iforce2d opened #1680 "Option to allow arming regardless of current attitude"
Unless I'm mistaken the default behavior is not to allow arming when the frame is not reasonably level. My quad is spending the night at the top of a very tall tree with a hard-to-climb lower section, and I'm 98.4% certain it could have thrashed its way loose if could just have armed it... but it was facing downward.

[2016-01-14 16:00] ledvinap commented on #1680
just set 'small_angle' to 180 ..

But you may end up spending night at hospital ...

[2016-01-14 16:22] iforce2d commented on #1680
aha... that's great, thankyou.

[2016-01-14 16:22] #1680 closed

[2016-01-14 18:37] SteveAmor commented on #1679
@latomgo PR raised.  Could you close this issue please (to keep things tidy).

[2016-01-14 18:41] joshuabardwell commented on #1680
You can use stick commands to re-calibrate the accelerometer, then the copter will believe it's level and you can spin the motors.

[2016-01-14 19:09] latomgo commented on #1679
ok, thank you

[2016-01-14 19:09] #1679 closed

[2016-01-14 23:00] martinbudden commented on #1651
I notice you've labled this as an enhancement. That suggests you may have misinterpreted my intent. I was not suggesting that we actually implement multi-byte commands, only that we reserve two command values to allow a future implementation. The easiest way to explain this is via code, so I've submitted a pull request. See #1682.

The thing I have reluctantly done is changed `MSP_DEBUG` from 254

[2016-01-15 01:48] iforce2d commented on #1680
oh yeah, that's even better, wish I had realized that before the battery died. Oh well, I'm sure the next big storm will bring it down.

[2016-01-15 09:09] martinbudden commented on #1675
@ledvinap to reply to your points:

* conversion to `int` and `float` may be trivial, but not as trivial as you suggest. The MSP is part of the public interface of Cleanflight, so a full implementation is required (ie including NaNs and subnormal numbers). Example code is here: https://stackoverflow.com/questions/1659440/32-bit-to-16-bit-floating-point-conversion. At a guess that looks like 68 byt

[2016-01-15 09:47] ledvinap commented on #1675
This seems like reasonable implementation, it may be stripped down a bit:
https://github.com/numpy/numpy/blob/master/numpy/core/src/npymath/halffloat.c#L466
https://github.com/numpy/numpy/blob/master/numpy/core/src/npymath/halffloat.c#L235

As for javascript, quick search revealed this: https://gist.github.com/levskaya/1541883

Cleanflight currently avoid using floating point. Scaling is used, whi

[2016-01-15 11:01] digitalentity commented on #1675
Why not use fixed point values for config storage? Integer PID code would use the values as they are (only scaling will change to respect the decimal point). Converting fixed point to float point (where necessary) is a matter of doing a float point multiplication/division operation.

[2016-01-15 11:27] ledvinap commented on #1675
@digitalentity :
PID parameter dynamic range is over 10^3:
https://github.com/cleanflight/cleanflight/blob/bcd4800a0ccb4adb2e777b86332ee1941879eba6/src/main/io/serial_msp.c#L726-L743

An there are issues with range not being wide enough.

Also it would be nice to have I,D parameters in seconds, which would add some scaling to current values ..

Other parameters may have similar problem - first dev

[2016-01-15 14:33] Flugsicherung commented on #1552
Please update the Documentation for CLI in the Master.... I had the same Problem and I search a long time and than I found this....
Many Thanks

[2016-01-15 14:43] skaman82 commented on #1552
It is already up to date: See https://github.com/cleanflight/cleanflight/blob/master/docs/Cli.md

[2016-01-15 14:53] Flugsicherung commented on #1552
Sorry but if I open your Link I get the wrong settings like this "DEFAULT, CW0_DEG, CW90_DEG, CW180_DEG, CW270_DEG, CW0_DEG_FLIP, CW90_DEG_FLIP, CW180_DEG_FLIP, CW270_DEG_FLIP." and this false !!!

[2016-01-15 14:55] skaman82 commented on #1552
oh, sorry you are right. I make a PR for that one.

[2016-01-15 14:56] Flugsicherung commented on #1552
Great, thanks.

[2016-01-15 18:54] btimby commented on #1587
I published a release including this feature for testing:

https://github.com/btimby/cleanflight/releases/tag/v.11.0-SerialPassthrough

[2016-01-15 18:54] btimby commented on #1439
I published a release including this feature for testing:

https://github.com/btimby/cleanflight/releases/tag/v.11.0-SerialPassthrough

[2016-01-15 22:49] Arakon commented on #1587
Works for me to configure a micro minimosd on a CC3D nano.
- CP2102 via Mainport
- OSD on Flexport
- serialpassthrough 2 115200 rxtx
Disconnecting, then connecting to the com port of the CP2102 via the MWOSD gui works.

Flashing via Arduino does not, but I believe that is because it's attempting to access the bootloader via 57600 baud:
Using Programmer              : arduino
         Overriding Ba

[2016-01-16 02:19] btimby commented on #1587
I have not been able to get flashing to work yet. There are two main issues:

1. You have to reset the OSD before an upload can proceed. This is usually done by AVRDude using DTR, which is not connected to the FCB.
2. The timing is critical as the bootloader waits only a short time to receive the upload.

I will be working on something, but I don't have an easy way of flashing yet, so this is conf

[2016-01-16 02:21] btimby commented on #1587
This issue is a duplicate of #1439

[2016-01-16 15:56] skaman82 commented on #1552
@Flugsicherung Done in: https://github.com/cleanflight/cleanflight/pull/1683

[2016-01-16 16:06] taileron opened #1684 "custom tricopter for vtol"
till CF 1.11 the three flight situations (hover / transition / forward flight) can be partially and separate tested with the profiles three PID (rate profiles are not that important) settings are essential and probably three mmix and smix per profile. In CF 1.12 I couldn´t find pid profiles anymore. Currently the plane has to be landed between the flight situations ... an inflight mix/pid profile

[2016-01-16 16:15] bbbenji opened #1685 "Extreme oscillation results in uncontrollable quad"
For some reason CF 1.11.0 as well as at least BF 2.3.0 and 2.3.1 are causing me issues with my Flip32+ v2.3 and Naze32 Rev6. ~~Arming is intermittent wether I set a switch or use the stock method with thumbstick.~~ Once it actually does arm I get extreme oscillation as soon as I arm. This happens right from start.

Screenshots: http://imgur.com/a/URLWR
~~Video: https://youtu.be/0Gb7qQht6x0~~
Dump:

[2016-01-16 19:30] SteveAmor commented on #1685
@bbbenji can you perform a git bisect to find out exactly which commit caused this issue?

[2016-01-16 20:32] ledvinap commented on #1685
@bbbenji : Are signals on RC tab stable and correct?

[2016-01-16 21:19] hydra commented on #356
Initial cut of this is dont in #1689

Refactoring started by @ledvinap in https://github.com/cleanflight/cleanflight/issues/356#issuecomment-69941314 can now continue

[2016-01-16 21:22] hydra commented on #356
The corresponding configurator change has also been merged.

https://github.com/cleanflight/cleanflight-configurator/pull/315

[2016-01-16 21:36] hydra commented on #1685
That dump you provided was not a dump of the config you were trying to use.  I can see this from the 'aux' section - it's all defaults.

I suspect your receiver configuration is not correct and new cleanflight rx loss detection is either working perfectly.

Please reflash Cleanflight 1.12.0-RC1 via firmware flash (tick 'Show unstable releases') then configure it from scratch.
Please check that you

[2016-01-16 21:41] hydra commented on #1684
Your request is *very* hard to understand except for the last part - `Is there a way to give custom_tri 3 esc and 3 servos outs ?`

Probably, is the answer.  However this might have an impact on other aspects of the sytem right now so not yet.  #884 needs to be completed first.

[2016-01-16 21:50] hydra commented on #1675
I'm sitting on the fence right now.  I had a read up on half-floats, I'd not encountered them before so it was very interesting reading.  Amazing how much knowledge there is out there!

@ledvinap Can you perhaps point us at some areas (on both sides, firmware and gui) that would benefit from using half-floats.

As @martinbudden points out @eziosoft would also need to implement them in his (java) c

[2016-01-17 07:22] KP1533TM2 opened #1690 "Add telemetry output/voltage monitoring support for Radiolink receivers through I2C."
Some Radiolink receivers, such as R9D and R10D, have an additional I2C port to plug in an addon module (PRM-01 or PRM-02).
- PRM-01 (http://www.radiolink.com.cn/doce/product-detail-111.html) only does battery voltage measurement;
- PRM-02 (http://www.radiolink.com.cn/doce/product-detail-110.html) requests telemetry data from the flight controller using PIX or APM protocol.

Receiver then sends tha

[2016-01-17 08:51] martinbudden opened #1692 "Scheduler optimisations"
I love the new scheduler. Brilliant!

I understand the people working on it know there are further optimisations possible, but wanted to get it out there so it can be used. I like the "get it working" and then "get it working well" approach: too much software is plagued by the problems of premature optimisation.

I normally like to keep issues atomic - that is only one item raised per issue. I've

[2016-01-17 11:04] martinbudden commented on #1675
@hydra There are two separate issues here:
1. What's the best solution for solving the PID storage problem (lack of range and resolution).
2. Would 16-bit floats be generally useful in Cleanflight?

It's important not to confuse the two.

To answer the PID storage problem we need to know what range and resolution we need/desire and choose a format that provides that. Additionally we wish to minimi

[2016-01-17 11:10] deBoulangerie commented on #1558
can you activate softserial in the ports settings with your naze 32 rev 6?
I cant see them.

[2016-01-17 14:24] joshuabardwell commented on #1558
I have the same issue using MSP to change PIDs via MWOSD. I opened an issue here, although I'm a bit too lazy to look it up right now. Just saying, the issue seems to be real.

[2016-01-17 14:36] error414 commented on #1558
I have naze32 rev6. And it works me. I connect mw_osd to softserial 1 and i set baudrate to 9600.

[2016-01-17 16:47] bbbenji commented on #1685
@ledvinap RC signals are stable and correct. Low 1000 mid 1500 high 2000. Will bisect asap.
@hydra I edited the OP with a clean install dump with the same problem, that is why it is missing the other aux's. But the same problem exists. Intermittend arm and wobble on throttle up.
Wiring is correct. Proof: works on 1.10.0
Receiver tab is working as should.
Want to stress that it is working fine on 1

[2016-01-17 17:48] int77 opened #1694 "Current meter isn't working properly in 1.12"
Hi,

Battery Current meter has some problems since implementation of the new task scheduler.
Current is measured correctly (hardware sensor in my case), but capacity drawn is always shown as zero in both configurator and OSD. Didn't get time to dig into the code, but it looks like there is something wrong with increment of the static variable mAhdrawnRaw in function updateCurrentMeter.

Same hardw

[2016-01-17 21:12] jelinj8 opened #1695 "SONAR pins with SOFTSERIAL (conflict)"
Is there some objective reason to not have a FEATURE_SOFTSERIAL in sonar.c (about line 73):
    `if (feature(FEATURE_SOFTSERIAL ) || feature(FEATURE_RX_PARALLEL_PWM ) || (feature(FEATURE_CURRENT_METER) && batteryConfig->currentMeterType == CURRENT_SENSOR_ADC) )` ?
It seems to work OK on my FLIP32/NAZE. Without it the SONAR and SOFTSERIAL features are in undetected conflict, with the modification t

[2016-01-17 21:57] dkisselev commented on #1695
I don't know the specifics in this case, but generally softserial is incompatible with other features because of a lack of hardware timers.

F1 boards only have 2(?) hardware timers which can be configured to trigger interrupts at precise intervals. I believe the flight control/rc/PID system uses one of the timers to fly, so the second one is free for additional features.

Softserial requires the

[2016-01-17 22:17] ledvinap commented on #1695
@dkisselev : F1 has 4 times each with 4 channels. But timer channels are used for PWM generation/receiving/ppm.
General timing is based on SYSTICK timer.

softserial timer is partially shareable, but I am not sure about details.
Sonar measurement is based on EXTI and systick, no TIM resources are needed.

RGB led driver needs dedicated timer (TIM) now, this timer can't be shared.

[2016-01-18 04:06] joshuabardwell commented on #1558
Mine works fine too. Except every so often the board hangs completely and has to be power cycled.

[2016-01-18 06:47] CerealKiller1 commented on #1658
Hi, have you all had a look at this DORA thing on ebay and how they calculate an "RSSI value" from spectrum flightlog data? They post the weights they assign to each event somewhere in their docs (fades, holds and losses all account for bigger changes in the displayed RSSI)

http://www.ebay.com/itm/321221945100?_trksid=p2055119.m1438.l2649&ssPageName=STRK%3AMEBIDX%3AIT

[2016-01-18 08:44] jkmrs commented on #1412
I have the same problem - though I only use Cleanflight. GPS gets a fast lock even in a concrete building when connected to the u-center via FTDI, but when running via Cleanflight and Flip32, I get the GPS detected by CF, some bars showing sats reception, but no fix, even outdoor.
I tried both via CF as well as u-center via Flip/gpspassthrough.
Any idea or suggestion?

[2016-01-18 09:01] ShikOfTheRa commented on #1675
Hi all, from my selfish perspective….

minimosd is native 8 bit so any float operations are avoided as will consume scarce resource resource. There is less than 1k of flash left and less than 100 bytes of SRAM.

Half float looks fantastic however if support that I may have to reduce functionality elsewhere.
Also will have to find or write something to deal with that.

For me – if have to go change

[2016-01-18 12:26] hydra commented on #1513
There was a PR for this here: https://github.com/cleanflight/cleanflight/pull/1563

[2016-01-18 12:28] hydra commented on #310
@tracernz Any update?

[2016-01-18 12:47] tracernz commented on #310
LibrePilot also working on it https://librepilot.atlassian.net/projects/LP/issues/LP-196

[2016-01-18 13:03] flounderscore commented on #1658
Correct me if I'm wrong, but I thought DORA connects to the data port on a full-size Spektrum RX, not individual sats.

[2016-01-18 13:17] hydra commented on #1694
thanks for the report, investigating.

@digitalentity @borisbstyle any ideas?

[2016-01-18 13:19] hydra commented on #1694
It's working ok on stm32f3discovery.  @int77 what board are you using?

[2016-01-18 13:24] digitalentity commented on #1694
@hydra
the updateCurrentMeter() code didn't change, we only changed the way it is called. Current meter is working for me (CC3D) - both current and mAh drawn are updated as they should.
@int77
can you give some details? board and config dump would be great.

[2016-01-18 13:28] CerealKiller1 commented on #1658
No sir, you're correct. I was just mentioning it as those guy's have already figured out how to get a at least somewhat reliable reading out of the same data. Yes they get it from the data port of al full rx but it's the same data set you're all talking here. I just thought maybe you guys could use that one aspect they've already figured out  (i.e. the weight each event is assigned in the coming-u

[2016-01-18 13:41] hydra commented on #1694
Working for me here on Naze32 too.

[2016-01-18 13:44] hydra commented on #1695
Yes, this would be fine, there is code in PWM Mapping to exclude the sonar pins that are selected by the configuration you mention.  I will add this into 1.12.0 now.

[2016-01-18 13:55] hydra commented on #1695
I also now make it select PWM5/6 when RSSI_ADC is used.

[2016-01-18 14:24] taileron commented on #1684
sorry for my bad english and the way of stumbling in. A few years ago we tried to do a fc with components of that time but the complete source code got lost on the way …
https://www.youtube.com/watch?v=rRZFcrikoxg
Transition back often ended in a crash

Then I was searching for years till I tested old MWC with medium success but after the first tests with Naze and CF now it flies absolutely brilli

[2016-01-18 14:51] hydra commented on #1695
fixed in 7aae53d8ebb6df65caad6d6a3122a8a1c19dbadd and 4ac96aeca416d16e8b2ab2299f75b79d311080b4

Please grab a new binary and test.

[2016-01-18 15:18] hydra commented on #1695
This is another issue that really highlights the need for #884.

[2016-01-18 16:39] Fvk1960 opened #1697 "esc Calibration issue"
I connect cleanflight through usb and give maximum motor throttle at motor page to set max for esc. Next I connect the battery but immediatly the motor slider automaticly revert to zero. It seems the motor setting page is aborted at battery connect. This happens before esc goes into setmode for min max throttle detection.
I am not sure but it looks like it works ok after default flash but after se

[2016-01-18 19:17] martinbudden commented on #1675
@ShikOfTheRa, that seems to be a clinching argument against using 16-bit floats.

@hydra, I've done an implementation with as fixed point decimal, two decimal points. See: https://github.com/cleanflight/cleanflight/pull/1698

2 decimal points has the advantage that all values can be scaled by the same factor, making the code clear.

The code could be fairly easily changed to do 3 decimal points or

[2016-01-18 19:25] martinbudden commented on #1692
For discussion, I've implented a priority queue for the scheduler, see:
https://github.com/cleanflight/cleanflight/compare/master...martinbudden:scheduler_queue

Note that this is completely untested and should not be used (there are also some kludges that need to be fixed). But if people like it I can clean it up, write the testcode and make a PR.

Note that this does not in any way change the un

[2016-01-18 20:32] universam1 opened #1699 "with mixer CUSTOM servos not working at all"
I have a Tricopter with 2 servos for tilt, unfortunately CUSTOMTRI is not applicable since I can configure 2nd servo but the output is not activated.
So I want to choose CUSTOM mixer, but there even though I configure cli servo and smix no servo output is on any port. I'm using a Naze32 board.

When looking through the code in mixer.c on line 455 you can see that loadCustomServoMixer() is not call

[2016-01-18 21:12] int77 commented on #1694
I'm running SPRF3. That't what I'm getting in GUI:
![gui_screenshot](https://cloud.githubusercontent.com/assets/6306557/12402846/0274aec8-be30-11e5-81f4-fe88befc75c5.JPG)

Corresponding dump file:
[dump_18012016.txt](https://github.com/cleanflight/cleanflight/files/94994/dump_18012016.txt)

[2016-01-19 01:11] vulture1 commented on #1659
I just hit the same issue where with CF 1.1.0 I can't get channels 1,2,3,4 to work. I have two rev 5 boards (6 DOF and 10 DOF), a full lemon receiver (PWM), CF is configured for PWM. AUX channels (1-4) work fine. I tried two different breakout cables. I know the receiver is working fine since I tested it with a attached directly to it. Thx

Val

[2016-01-19 04:06] kressir commented on #1323
I have the same issue running a Flip32 (NAZE).  I had 1.09 running fine and updated to 1.11.  I did a backup on 1.09 and restored in 1.11.  After the update, the servos were not responding correctly - they were moving the wrong control surfaces.  Throttle was OK.

![image](https://cloud.githubusercontent.com/assets/7967757/12409059/47e481a8-be2c-11e5-9771-c375e0496684.png)

I reset the configurati

[2016-01-19 06:23] AustinSaintAubin opened #1701 "Google Spreadsheet Cleanflight - CLI Settings Tool"
I created a [Cleanflight CLI](https://github.com/cleanflight/cleanflight/blob/master/docs/Cli.md) Tool using Google Spreadsheets that will be useful for Cleanflight users & Developers dealing with CLI compairison between updates. I use it to check my settings against the defaults after flashing updates to my flight controller. Spreadsheet also pulls some of its info from this github repo, so the s

[2016-01-19 11:44] hydra commented on #1699
what board?

[2016-01-19 11:45] hydra commented on #1695
@jelinj8 have you tested this yet, it's waiting your feedback.

[2016-01-19 11:59] jelinj8 commented on #1695
Sorry for delay, I've reflashed yesterday, it is working OK (I'm using it recompiled with this mod already since summer)

[2016-01-19 15:19] universam1 commented on #1699
Naze32 F1 acro

[2016-01-19 17:07] Johetan commented on #313
Worked for me, I just cut the connector on the compass chip with a razor blade, put some plastidip over it and it worked, a little solder and it is as good as new

[2016-01-19 21:51] taileron opened #1702 "custom tricopter 1.12.0-RC1 yaw_p_limit value not above 200"
cli parameter yaw_p_limit seems to be limited at 200 (servo pulse moves only 200ms) even if set to 500
If set below 200 the servo pulse moves with the corresponding limit

[2016-01-20 03:34] CradyCopter opened #1704 "Just an FYI - Identical Descriptions In Cli.md"
The descriptions are identical for both _throttle_correction_value_ and _throttle_correction_angle_.

; )

[2016-01-20 20:06] henn1001 commented on #1692
@digitalentity is the right man for this :)

[2016-01-20 22:02] int77 commented on #1694
After some investigations, I’ve found the root cause. Actually, the issue is linked to my hardware.

The calibration of my current sensor in the middle / high current range requires high offset, resulting in slightly negative drawn current (variable amperage) measured in idle mode. In current implementation, variable amperage is constrained to non-negative values when sent over MSP, but is taken a

[2016-01-21 01:57] drl-tzanetos opened #1706 "Table of available modes in /docs/Modes.md is not consistent with /src/main/io/rc_control.h"
https://github.com/cleanflight/cleanflight/blob/master/docs/Modes.md
https://github.com/cleanflight/cleanflight/blob/master/src/main/io/rc_controls.h

Table of modes listed in the Modes.md document is not consistent with the modes listed in the boxId_e enum typedef in /src/main/io/rc_control.h, line 22.

For example the reference document lists GTUNE as having a CLI ID of 26. The boxId_e enum type

[2016-01-21 14:53] xiaoqixia opened #1707 "an issue about CC3D's UART3"
I flashed V1.12 fireware on my CC3D board last day and wanted to enable the UART3 to use GPS,but actually I find I can not enable the UART3.It will disable when the system saved and restart.when I enable the GPS and set baud in 115200 in Ports  or enable the GPS in Configuration,it happened again.I am not familiar with cleanflight but I am trying my best to learn it.So is there any wrong with me?w

[2016-01-21 15:22] xiaoqixia commented on #1707
PS:
a small question:in the Modes,why can't I find GTUNE ?

[2016-01-21 18:38] Viosphera opened #1708 "Problem with set failsafe_off_delay= 200"
I have the latest stable version of CF for naze 32 and using the failsafe functions.

When i use the failsafe_delay it allow to set the time to recover the lost signal from the tx but when i use failsafe_off_delay= 200 it dont spin the motors that amount of time/steps.

It means that when i turn off the tx, the motors stop, but when i turn it on again, and apply the throttle. the motors spins agai

[2016-01-21 19:38] joshuabardwell commented on #1708
This is a support issue, not a bug. Please get support on the RCGroups thread. The bug tracker is not for support requests.

http://www.rcgroups.com/forums/showthread.php?t=2249574

[2016-01-21 23:06] hydra commented on #1435
@seattleite09 Please see #1710 for a different approach.  I would love it if you could do some testing of the new PR and give feedback on it.

[2016-01-22 02:00] CraigJPerry commented on #1125
Hey Guys,

I've started working on this tonight. I've proven it works on an F3 discovery (checkout the ludicrous voltage report in this photo - i was just counting up in a loop to test it):

![img_20160122_014700](https://cloud.githubusercontent.com/assets/1908742/12500409/cc1ba05c-c0aa-11e5-96af-93badd088cd4.jpg)

Here's a trace of a higher voltage from the logic analyser:

![voltage sensor logic

[2016-01-22 02:18] CraigJPerry commented on #1125
Here's the temperature gauge protocol kind of working. It displays some data, but not what i was expecting! Anyway, seems it's pretty hot in here so time to logoff for sure!

![img_20160122_021546](https://cloud.githubusercontent.com/assets/1908742/12500799/4ca978fe-c0ae-11e5-90d3-65cfb53762eb.jpg)

[2016-01-22 02:42] CraigJPerry commented on #1537
I followed the steps on http://gnuarmeclipse.github.io/install/ in order. I skipped the jlink step (don't have one). I used the openocd (and qemu) binaries from that projects GitHub downloads.

I'm in windows so even after all that, clean flight wouldn't build, complaining that make failed to spawn another command "CreateProcess(... Failed". To fix that I added msys bin dir to my path in the eclip

[2016-01-22 05:18] digitalentity opened #1711 "Failsafe - Voltage-activated failsafe"
I have received a few requests for adding RTH functionality on a "low battery" event to iNav firmware.
This issue is opened here and not in iNav as it this it would be better to implement a more generic "failsafe on a low battery event".
@ProDrone, @hydra what do you think?

[2016-01-22 06:17] lostcontrol commented on #1711
As you probably know, Ardupilot has "do nothing", "land" and "RTH" options on battery fail-safe. I think you can now even define additional safe landing points and Ardupilot will chose the nearest one if it can't reach home again.

[2016-01-22 06:41] cklam2 commented on #1125
Over here Dave Borthwick posted some pic code that emulates a sensor for the i6. Maybe can check what he already figured out:
http://www.rcgroups.com/forums/showpost.php?p=33365816&postcount=152

[2016-01-22 07:04] digitalentity commented on #1711
@lostcontrol I know what APM is capable of, but this is about Cleanflight that does nothing except beeping on low battery.

[2016-01-22 07:43] lostcontrol commented on #1711
@digitalentity Just wanted to list the available options there since Cleanflight will probably end up with similar behaviors. Also I always wondered why Cleanflight has *vbat_min_cell_voltage* and *vbat_warning_cell_voltage* since both seem to result in the exact same action (beeping)!? Or is it not possible to arm anymore if *vbat_warning_cell_voltage* is triggered?

[2016-01-22 07:45] universam1 opened #1712 "servo and smix rates"
Could you please check the rates for servo and smix CLI?

Refering to
https://github.com/cleanflight/cleanflight/blob/master/src/main/flight/mixer.h#L156
https://github.com/cleanflight/cleanflight/blob/master/src/main/flight/mixer.h#L177
the servo rates should be extensible to +/-125 - unfortunately they are limited to +/-100.

This is especially an issue with smix cli where I want a higher rate o

[2016-01-22 08:23] universam1 opened #1713 "duplicate functions 'smix reverse' and 'smix' rate negative"
The cli 'smix reverse' has the same function as 'smix' with a negative rate value ( like -100).
This interfering function is confusing and IMHO no benefit.

Regarding #1712  I would suggest to continue to use 'smix reverse' but change the rate value from signed (-125 -> +125 ) to unsigned with a value from 0 -> +255.
This would solve issue #1712 while still keeping functionality but extending refl

[2016-01-22 08:31] universam1 commented on #1712
please consider #1713

[2016-01-22 08:36] CraigJPerry commented on #1125
Nice one! He's documented the fields and the bit I was struggling with - the timing parameters.

I'll get some more time on this over the weekend. It's not a complicated protocol, the code to support it is pretty easy but this is my first stm32 project so I'm sure I'll run into some issues! Just learning about the stm32 support for bi directional half duplex serial has been cool. I thought we'd ha

[2016-01-22 12:14] cklam2 commented on #780
Just FYI: in the [rcgroup forum](http://www.rcgroups.com/forums/showthread.php?t=2486545) a guy created custom [firmware](http://www.rcgroups.com/forums/showpost.php?p=33772227&postcount=282) for the FlySky FS-i6 (and TGY-i6) which turns the 6 channel into a 10 channel transmitter.

With this modification I was able to receive 8 channels in cleanflight through i-BUS with my FS-iA6B :)

And if some

[2016-01-22 14:59] Bengt-M commented on #1537
Yepp, same here on my win laptop. It's like it cannot find the path to mkdir. No such path in win.

In a cygwin terminal window it will make fine. I followed the "Building in windows" instruktion and added c++ compiler (needed by unit tests), and set the path to include the arm things (where I used the latest 4.9 version of GCC ARM Embedded).

This is not a good solution because building in cygwin

[2016-01-22 15:16] CraigJPerry commented on #1537
Fwiw Linux and Mac are *far* better developer platforms. I'm only on windows just now due to a quirk of fate but I'd much rather have a decent Unix shell!

All that said, I build in eclipse just now - it does use makefiles not the native eclipse builder but the point is it's all done in eclipse, there's no external shell in my workflow but it sounds like there is in yours? I can share screenshots

[2016-01-23 07:46] Bengt-M commented on #1537
In the post before you said it fails.
How did you fix that?

[2016-01-23 11:03] CraigJPerry commented on #1537
Right click the project folder in eclipse -> properties -> c / c++ build -> environment

Edit the PATH variable and add the bin dir of cygwin or msys at the end of the list. E.g. c:\mingw\msys\1.0\bin or if you have cygwin installed instead then c:\cygwin\bin

[2016-01-23 12:36] Bengt-M commented on #1537
Wow, thank you! That made a big improvement.
Someone should really update the instruction in /docs/develoment.

Now a default make works well and produces a hex file.

Remaining issues with clean and test, however:
[code]
Does this work for you?
It is frustrating because I'm kindof interested in the tests.

[2016-01-23 13:50] CraigJPerry commented on #1537
Yeah make clean works, I haven't had a chance to revisit the tests but mine fail for a different reason. Both your failures are the same thing - it seems to be a quoting issue with the variable substitution which is weird because the makefile is correct.

Back on a computer later will take a look

[2016-01-23 21:16] CradyCopter opened #1716 "GPS Possible With Non-CPPM Receiver?"
I'm using a FrSky VD5M micro RX (*non-CPPM*) with a NAZE32 rev 5 board and was wondering if there is an alternate method of connecting GPS.

Maybe I missed something but all the wiring diagrams I've seem require a CPPM RX in order to free up pins 3 and 4 of the RC inputs for the GPS connections.

Thanks!

[2016-01-23 21:40] kilrah commented on #1716
CPPM has nothing to do with GPS, and a GPS would connect to the telemetry/smart port, not the servo pins... but given the VD5M doesn't even have telemetry you obviously can't use a GPS with it.

By the way this is not an OpenTX technical issue, please use forums for usage questions.

[2016-01-23 21:45] CradyCopter commented on #1716
Uh... WTF???
a) GPS doesn't require a RX with telemetry and b) I mentioned CPPM because as I stated, all diagrams [that I have seen] indicate that a CPPM RX is required in order to free up pins 3 and 4.

[2016-01-23 21:52] dan557 commented on #1716
This is a support question not an issue with cleanflight. Please ask on the cleanflight thread

http://www.rcgroups.com/forums/showthread.php?t=2249574

[2016-01-23 23:41] skaman82 commented on #1716
You can use the UART1 pins (see manual), but have to disconnect the gps to use the usb port.

[2016-01-24 00:19] Arakon opened #1717 "Suggestion: Different VBAT pin for SPRacing F3 derivatives"
I noticed several FCs came out recently that use the SPRACINGF3 target. However, some of these have no vbat pin (i.e. fpvmodel X-Racer). It would be great if that pin could be reassigned to another (similar to CC3D, where VBAT is on RC-In5, using a basic voltage divider). I had attempted to change it myself via the target.h, but apparently more work is needed, as the compiled code continues to mon

[2016-01-24 03:37] CraigJPerry commented on #1298
@Boomer91 please test the new eclipse doc in https://github.com/cleanflight/cleanflight/pull/1718 and provide your feedback

[2016-01-24 03:37] CraigJPerry commented on #1537
@Bengt-M please test the new eclipse doc in https://github.com/cleanflight/cleanflight/pull/1718 and provide your feedback

[2016-01-24 04:32] tbren100 opened #1719 "Afromini Naze setup in Cleanflight"
Hey all,

Trying to get connected to cleanflight and not having any luck. I have downloaded the CP210x driver. When I plug it in through the FTDI, I get a solid blue light and a flashing green light. Red solid light on the FTDI. I know for a fact this has betaflight flashed on it.

If I try to connect through comm 3, it will say "No configuration received within 10 seconds, communication failed".

[2016-01-24 09:30] sjtrny opened #1720 "Add support for binding R616XN receiver"
The R616XN receiver is a nano PPM receiver. To put it into bind mode you set or connect the signal pin to ground. However this is a huge pain if you have the R616XN direct soldered to the FC and buried in a small quad.

This issue is a feature request for adding a small CLI utility to assist with binding. It would be used as follows:

[code]

This will set a variable `ppm_bind` in the `master_t` s

[2016-01-24 09:58] ledvinap commented on #1720
There is already spectrum bind code that handles similar problem ...

[2016-01-24 10:15] sjtrny commented on #1720
Yes I am well aware. However the binding procedure is very different and the pin assignment is also different.

[2016-01-24 10:23] DL6ER commented on #1711
I looked into the source code and (currently) that is not the case. The beeper beeps differently for warning and critical levels. That's everything that seems to happen.

[2016-01-24 10:34] ledvinap commented on #1720
The mechanism to configure/reset binding and alter pin soon enough is the same. So new binding procedure may be modeled after it

[2016-01-24 10:37] ledvinap commented on #1711
Battery voltage (or remaining battery capacity) +  warning/critical level may be exposed as virtual AUX channel .. Then it will be trivial to configure it for desired action

[2016-01-24 11:03] SteveAmor commented on #1719
This is a support question not an issue with cleanflight. Please ask on the cleanflight thread

http://www.rcgroups.com/forums/showthread.php?t=2249574

Please close this issue.

[2016-01-24 18:18] hydra commented on #1694
can you please create a pull request for this.

[2016-01-24 18:28] ledvinap commented on #1694
Truncating negative current values makes it hard to calibrate sensor properly. And is only masking wrong calibration.

It would be better to truncate negative values only when calculation battery capacity (amperage in updateCurrentMeter)

[2016-01-24 23:00] hydra commented on #1694
Thanks for the ibfo @ledvinap I haven't had the time to properly digest everything yet.

[2016-01-24 23:43] int77 commented on #1694
The point regarding calibration makes sense.

However, the current is already constrained to non-negative values when sent over MSP with Multiwii Current Output option activated:
[code]

[2016-01-25 08:03] ledvinap commented on #1694
Does anyone use multiwiiCurrentMeterOutput? Documentation should mention its limitations..

ad 1) There is no need for 0xffff limit (655A should be enough for everyone), simply strip negative values
[code]

[2016-01-25 09:28] timdonovanuk commented on #366
Beep beep beep beep beep? It's a pity this was closed, I've just gone back to working with naze32 boards and the constant beeping when the board is on the bench is quite annoying!

[2016-01-25 15:34] timdonovanuk opened #1722 "ARM in Mode tab should give visible danger warning"
I noticed this in EZ-GUI (android app) today, when setting up modes, and confirmed it in Cleanflight.

Incorrectly/accidentally setting ARM mode to a aux channel and range that's 'on', will instantly cause props to spin (when MOTOR_STOP is disabled, or even when its enabled, if throttle is up)..obviously this is because the quad has been armed. And this is correct however..

**All other actions in

[2016-01-25 15:43] readerror67 commented on #1722
Don't see how this would make things any safer, just don't have the battery hooked up when doing risky things.

[2016-01-25 16:07] timdonovanuk commented on #1722
I completely agree you should not have the battery hooked up when doing risky things, and this is not the place for discussing best practices I already agree with. However, poor and momentary lapse of judgement do occur.

Generally Cleanflight provides at least a cursory warning to a user when their actions are potentially dangerous, in the examples I provided. This action is arguably more dangero

[2016-01-25 22:03] CraigJPerry commented on #1125
Hi Guys, can some folks please test PR #1723

Once you've flashed the hex and restored your settings, go to the config tab in the configurator and enable telemetry.

Set the function bitmask to 256 for your chosen serial port. Baud rate is ignored because ibus always runs at 115200. E.g. i run on serial port 1 so i enter this at the cli:

`serial 1 256 115200 57600 115200 115200`

Lastly, to conne

[2016-01-26 00:05] int77 commented on #1694
MinimOSD or clone boards running MW / Rush / KV team OSD or similar firmware could be affected by this issue.

I've created [7a074ff](https://github.com/int77/cleanflight/commit/7a074ff2ed34527002ee61af4603ff642668a16a) commit summarizing the discussion. Pls have a look and feedback if any further suggestion.

[2016-01-26 00:11] cklam2 commented on #1125
Amazing, very excited.
Trying to make it work but I'm stuck at the last step. Flashed your hex file and in Cleanflight config (ver 1.2.0) trying to set the serial but somehow it doesn't save it.

[code]
When checking again it shows this
[code]
And also lost my serial on UART2. Any tip on this?

[2016-01-26 00:17] joshuabardwell commented on #1722
Isn't this actually a configurator issue, not a Cleanflight issue? Configurator is its own repo.

[2016-01-26 01:13] CraigJPerry commented on #1125
Aha IBUS sits and blabs away all the time so if you port share it with MSP like that i think it will cause problems so I didn't enable this sharing for that reason. However i don't know it's a problem for sure i just guessed so we should test it to see, it could be fine to share these. MSP may be robust enough to handle the collisions.

I'll upload a new hex tomorrow night when I'm next on a compu

[2016-01-26 01:17] CraigJPerry commented on #1125
If you want to build a new hex yourself before then I also updated the dev docs so that might help some folks too. Also if you have something other than a base. Although, there are much easier ways to build a hex than installing eclipse but this might interest some all the same, help get more contributors to the project!

https://github.com/cleanflight/cleanflight/blob/72e1fab1749ec2a7a14791a27b8f

[2016-01-26 08:16] Fheilmann commented on #1125
I would recommend you get in touch with the people in this rcgroups thread:

http://www.rcgroups.com/forums/showthread.php?t=2486545

They have cracked the Firmware of the FlySky i6 transmitter wide open and I am pretty sure they can help you get meaningful telemetry data onscreen of this TX (they can rename the temperature sensor to something else for example)

[2016-01-26 09:08] Flugsicherung commented on #1707
Hi xiaoqixia,
I flashed V1.12.0 RC1 on my CC3D Board and reset settings to default.
On the Ports Tab I set UART3 on GPS to 115200 and it works. After Reset the Configuration is working too.You must flash the CC3D on Mainport with a FTDI Board.....

[2016-01-26 15:15] Flugsicherung commented on #1697
Please take the Firmware V1.11.0 or the new 1.12.0RC1 and test that again.
Is this a Naze32 or a FLiIP32 Board?

[2016-01-26 16:42] cklam2 commented on #1125
I tried that too, built a custom hex file but I see the same thing happening. I actually don't do anything with MSP but when using 256 instead I see the same result. Also when giving up the iBUS rx on UART2 (just want to see telemetry working) and running "serial 1 256 ..." it also resets after I save it. So not sure what I'm doing wrong. Will try again tonight.

[2016-01-26 21:07] SteveAmor commented on #1722
@timdonovanuk could you close this issue and raise it in the Configurator repo.  Thanks.

[2016-01-26 21:52] Bravo13 commented on #1586
Same trouble with CC3D board

[2016-01-26 22:05] CraigJPerry commented on #1125
Hey @cklam2

Yeah the serial 0 port being reconfigured to default settings was expected with the last hex, i'd deliberately not marked ibus as shareable. Here's a hex with it shareable:

[cleanflight_NAZE.zip](https://github.com/cleanflight/cleanflight/files/105750/cleanflight_NAZE.zip)

Can you test a) that it works but also b) that the configurator works as normal with this in place. I.e. no ran

[2016-01-26 22:08] CraigJPerry commented on #1125
@Fheilmann yeah i definitely would, even just to say thanks for some of the stuff those guys have made because it's been awesome for me. However, rcg won't let me login. My original account there (i used to fly rc planes and heli's years ago) got deleted / disabled / disappeared.

My old posts are still on the forums but the account doesn't exist. Super weird. So i created a new account and they b

[2016-01-27 00:55] #1722 closed

[2016-01-27 00:56] hydra commented on #1720
agreed

[2016-01-27 00:57] hydra commented on #1717
See #884.

[2016-01-27 00:57] #1719 closed

[2016-01-27 00:57] #1716 closed

[2016-01-27 00:58] #1707 closed

[2016-01-27 00:59] hydra commented on #1707
Please use forums for support.

[2016-01-27 01:02] hydra commented on #1694
Please create a PR with the commit.

[2016-01-27 01:03] hydra commented on #1701
Thanks for the details.  Nothing else to be done with this ticket so I will close it, people will still be able to find it via search.

[2016-01-27 01:03] #1701 closed

[2016-01-27 01:05] hydra commented on #1697
no response after a week, closing.  Please re-open if the problem persists and we can look into it further.

[2016-01-27 01:05] #1697 closed

[2016-01-27 07:31] gkvirkvia opened #1725 "Naze32 hangs right after arming when MSP telemetry is enabled on UART1"
As the title states. Having MSP telemetry on UART2, or non-MSP telemetry on UART1 is fine, motors spin up, drone is happy.
However, when MSP telemetry is enabled on UART1, upon arming motors spin up just briefly(100 ms?) and stop. The board becomes unresponsive after that and stays like that till I cut the power.

The behavior is present in Cleanflight 1.10, 1.11 and laters Betaflight.
The only se

[2016-01-27 13:50] joshuabardwell commented on #1725
I think that MSP telemetry has been removed for 1.12.

https://github.com/cleanflight/cleanflight/commit/1e098bf1990feab5dc4987526a9557b6e54fc28c

[2016-01-27 18:05] gkvirkvia commented on #1725
Hm. Does that mean that Cleanflight is dropping support for MWOSD?

[2016-01-27 18:29] lostcontrol commented on #1725
@gkvirkvia No, MWOSD still works, it uses MSP, not MSP telemetry.

[2016-01-27 18:46] gkvirkvia commented on #1725
Ah I see!

[2016-01-27 18:46] #1725 closed

[2016-01-27 19:04] joshuabardwell commented on #1725
MSP = two-way protocol. MSP telemetry = one-way telemetry using the same protocol format. Basically, Hydra's argument is that mostly nobody uses MSP telemetry, and those who do would be better off to use regular MSP instead.

[2016-01-27 19:05] joshuabardwell commented on #1725
MSP itself is not going anywhere. In fact, if you look around here on Github, there has been some discussion of removing the CLI entirely, and replacing it with a GUI front-end that uses MSP to communicate with the board. Every CLI command has an MSP equivalent, basically. This would free up a LOT of program memory, since text parsing is pretty memory intensive.

[2016-01-27 19:28] Fvk1960 commented on #1697
It is a Flip32 and windows 10. Configurator 1.1.0

[2016-01-27 20:01] int77 commented on #1694
[PR#1729](https://github.com/cleanflight/cleanflight/pull/1729) created.

[2016-01-27 20:01] #1694 closed

[2016-01-27 21:05] joshuabardwell commented on #1697
Please reproduce the issue on CleanFlight 1.11 or 1.12 RC1 as requested, if you still want help on this.

[2016-01-27 23:09] gkvirkvia commented on #1725
Thanks for giving the context. To your previous comment, it might be that there's unpredicted interaction between MSP telemetry and MPS code. I'll try to verify that once I get back home by enabling MSP and telemetry on other UARTs.

Also just being curious here: I assume MSP telemetry just rotates telemetry packets in a loop as it's TX only. Does MSP (two way) do the same by default, or it's bein

[2016-01-27 23:13] joshuabardwell commented on #1725
I don't know the answer to your question. I believe that MSP telemetry is one-way, but I don't know the details.

[2016-01-28 08:44] iSevenDays opened #1730 "Installation.md does not exist"
I can't open https://github.com/cleanflight/cleanflight/blob/master/Installation.md

[2016-01-28 09:13] tigert commented on #1730
Where did you see the link to this? As the correct link is https://github.com/cleanflight/cleanflight/blob/master/docs/Installation.md

But it would be good to fix the broken one if we know where it is.. :-)

[2016-01-28 09:14] iSevenDays commented on #1730
It is here https://github.com/cleanflight/cleanflight

[2016-01-28 09:16] tigert commented on #1730
Thanks!

I created a pull request for a fix #1731 - in the meanwhile see the above working link :-)

[2016-01-28 09:17] iSevenDays commented on #1730
Thank you! :)

[2016-01-28 09:17] #1730 closed

[2016-01-28 15:22] goldjacket commented on #780
Just trying to set up a ibus with my FlySky on a naze 32 with clean flight. With the FF - IAB 6 receiver. Downloaded multiple clean flight versions 1.12. What settings in clean flight do I select to enable serial communication. I don't see any Ibus boxes. the FF  - IA 6b receiver it tells me to connect to channel 1 according to the transmitter or do I connect to  top right of the FF -IA 6B where i

[2016-01-28 15:24] huston007 commented on #780
@goldjacket you have to use a development version of cleanflight configurator to see that options in UI.
https://github.com/cleanflight/cleanflight-configurator#alternative-way

[2016-01-28 15:28] goldjacket commented on #780
I have used multiple dev release . I'll try again with some of different
releases maybe that's the reason. Thanks
On Jan 28, 2016 8:25 AM, "Andrey" <notifications@github.com> wrote:

[2016-01-28 15:30] goldjacket commented on #780
Oh my bad I have to use clean flight configurator that is a dev. Not the
hex  files. Thanks
On Jan 28, 2016 8:27 AM, "Kyle" <kpmagee123@gmail.com> wrote:

[2016-01-28 20:44] AivarsKK opened #1733 "EZUHF Vortex 250 PRO RSSI range"
RSSI on EZUHF are displayed on range from 80% to 100%
I tried to change RSSI scale through CLI set rssi_scale, but it did not change anything.
How it is able to set that SRRI on OSD would be 0% at lowest RSSI reading in receiver?

[2016-01-28 21:43] ctzsnooze commented on #1268
FSSP_DATAID_CELLS id is complex.

Maybe could just use the existing code for VFAS in main/telemetry/smartport.c, but if the cell count is known, divide by the number of cells?  That way VFas would represent an 'average cell' value, not full battery...

current code:

          case FSSP_DATAID_VFAS       :
                if (feature(FEATURE_VBAT)) {
                    smartPortSendPackage(id, vb

[2016-01-28 22:34] cklam2 commented on #1125
Hi @CraigJPerry. Sorry, been busy on other things lately.

I flashed your hex and this is much better, doesn't overwrite the serial 1 when setting the serial 0 for MSP+IBUS telemetry. In the configurator I don't see any random disconnects either.

However, no telemetry info on my TX (flashed with 10ch 1.5 firmware). In the Sensors list I see IntV, Tx.V and Err only. Just to make sure that I follow

[2016-01-29 16:42] CraigJPerry commented on #1125
Thanks for testing this @cklam2

Can you send me a dump of your CLI please. You've done everything right, it behaves like the pin isn't connected but you're on the correct pin on both the naze and the RX.

[2016-01-30 05:18] joeynuggetz opened #1739 "Missing RPM sensor using SBUS/S.port?"
Upgraded from D4R-ii to X4R and I do not see any RPM sensors available. Running OpenTX 2.1 on Taranis X9D Plus.

Also, tmp1 sensor shows erratic values using X4R. Normal temperatures when using CPPM/D4R-ii.

Cleanflight 1.11.0  Target =RMDO

[2016-01-30 07:48] stronnag opened #1740 "New Makefile behaviour flashes wrong target (regression)"
The new behaviour of #1724 has an unfortunate side effect of flashing the wrong firmware.
Prior to #1724:

[code]

now:

[code]

If this is intended behaviour it needs to be documented in the release notes; if not please revert or revisit.

[session_log.txt](https://github.com/cleanflight/cleanflight/files/110715/session_log.txt)

[2016-01-30 08:47] ledvinap commented on #1740
I'll look into it. `make TARGET=CC3D flash` should work correcly

[2016-01-30 09:34] ledvinap commented on #1740
@hydra: I can't find any simple fix, here are possibilities I can think of:
-  replace target-specific rules with dummy ones using `if` on MAKECMDGOALS. The conditional section will be quite large (almost all of makefile), Makefile is already complicated enough
- Rename current Makefile as target-specific (Makefile-target) and create new Makefile that will handle TARGET (by invoking Makefile-targe

[2016-01-30 12:02] mosi0815 commented on #1739
Temp1 and Temp2 are used for flags. Like flight mode, arm status etc. That's why you see weird values jumping around.

[2016-01-30 12:12] mosi0815 commented on #1412
Same problem here. Maybe there's something wrong with the ublox auto configuration code. I'll now disable auto config and do it manual. I tried it with a NEO 7 and a NEO 8.

[2016-01-30 14:13] Propitiation opened #1741 "Sbus not working in cleanflight"
serial_RX option will not save under UART2. I have tried everything, it just won't save, I flashed baseflight on my quad and took it for a flight after redoing all my settings, so i know my wiring is correct. I am using a naze32 rev5 from Armattan.

[2016-01-30 14:24] Propitiation commented on #959
I think this might be the same issue I am having with my quad. Cleanflight configurator 1.1 will not allow me to enable serialRX in ports tab under UART2, it just won't save. I have tried enabling sbus and serialRX in config tab first and second and still nothing. My quad flies with baseflight so I know its not a wiring thing. I'm using a naze32 rev5 from Armattan.

[2016-01-30 14:30] Propitiation commented on #731
where is the configurator tracker?

[2016-01-30 19:39] thenickdude commented on #731
https://github.com/cleanflight/cleanflight-configurator/issues

[2016-01-30 19:40] thenickdude commented on #959
Take a screenshot of the ports tab before you're trying to save it. (You
can attach it here by dragging and dropping)

[2016-01-31 00:43] joshuabardwell commented on #1741
This is a support question. Github is for bugs and other development issues. Please ask over on the RCGroups thread and close this issue.

http://www.rcgroups.com/forums/showthread.php?t=2249574

[2016-01-31 02:50] joeynuggetz commented on #1739
I dont think that's true. While running the D4R I took a heat gun and gave the PCB a blast of hot air and the temperature reading went up.

What about RPM?

[2016-01-31 05:23] Propitiation commented on #959
![image](https://cloud.githubusercontent.com/assets/16974224/12700442/9e020820-c7b0-11e5-89e3-9f176c79be95.png)

if i turn on UART2 it saves, but Serial RX never saves. I've tried doing config tab first second still nothing.

[2016-01-31 05:25] Propitiation commented on #1741
actually this is not a support question, this is a bug issue. I know its a bug, because my quad flies perfectly in baseflight without changing a single wire. Cleanflight is not operating properly, if there is a workaround great! But that's exactly what it will be... because this is a bug.

[2016-01-31 05:27] Propitiation commented on #959
![image](https://cloud.githubusercontent.com/assets/16974224/12700456/588dcf44-c7b1-11e5-8df8-ada72147a9dc.png)

Sorry, this is what it looks like before I hit save, the first image I posted is what it looks like after I hit save.

[2016-01-31 05:30] thenickdude commented on #959
By "turn on UART2" you mean ticking serial rx for UART2, right? Because
there's no switch to "turn on" that port. You aren't enabling MSP for UART2
by mistake are you?
On 31 Jan 2016 6:23 PM, "Propitiation" <notifications@github.com> wrote:

[2016-01-31 05:31] thenickdude commented on #959
Yeah untick MSP for UART2, you can't run MSP and SerialRX on the same port,
which is why the configuration gets rejected.

[2016-01-31 06:12] joshuabardwell commented on #1739
@joeynuggetz are you suggesting that the D4R2 has a temperature sensor built in?

[2016-01-31 06:13] Propitiation commented on #959
You Rock! yep that was my problem, I figured it would be something stupid... I don't know why cleanflight doesn't do this automatically when you click sbus...

[2016-01-31 06:21] joshuabardwell commented on #1741
It's not a bug. Most likely, what has happened is that you are trying to enable serial RX on the UART before you have set your receiver type to serial and selected the correct serial provider in the Configuration page. You would have found this out if you had done what the "new issue" readme told you to do, and gone to the support forum, instead of creating a new issue.

So go give this a try:

1.

[2016-01-31 06:40] Propitiation commented on #1741
Ok I actually just got a reply from a nice guy and now I know what was going on. In hindsight, it may not be considered a bug, but the gui could have been a tad bit more intuitive about it. Under UART2 all I needed to turn on was Serial RX, while leaving everything else as is. Turning on MRP will deactivate Serial RX and MRP. Sorry for freaking out. Looking forward to trying cleanflight for the fi

[2016-01-31 06:41] Propitiation commented on #1741
Ok I actually just got a reply from a nice guy and now I know what was going on. In hindsight, it may not be considered a bug, but the gui could have been a tad bit more intuitive about it. Under UART2 all I needed to turn on was Serial RX, while leaving everything else as is. Turning on MRP will deactivate Serial RX and MRP. Sorry for freaking out. Looking forward to trying cleanflight for the fi

[2016-01-31 06:41] #1741 closed

[2016-01-31 09:58] johnlenfr opened #1745 "SPRacingF3 - Softserial port mismatch?"
Don't know if it is a problem in GUI or in the SP Racing F3 hex file but to have Telemetry on IO1 port I have to select Hott telemetry on Softserial 2 in the GUI.

Is there someting inverted in the code or I missed something in my hardware?

Thought config was like this:
PIN-IO1-IO2
5-SS1Rx-SS2Rx
6-SS1Tx-SS2Tx

Here is my setup:
Running - OS: Windows, Chrome: 48.0.2564.97, Configurator: 1.1.0
Flig

[2016-01-31 12:56] mosi0815 commented on #1739
The smartport telemetry code is entirely different to the frsky telemetry code. Frsky sends the temperature of the gyro chip or the temperature of the baro chip depending on which one is available. Thats temp1. Temp2 represents the GPS quality.
In smartport mode temp1 and temp2 are both filled with flags. Try it. arm your copter and look what happens to temp1.
The smartport code doesn't send RPM a

[2016-01-31 14:05] cklam2 commented on #1125
Hi @CraigJPerry, Here is the dump of the cli settings ([clidump.txt](https://github.com/cleanflight/cleanflight/files/111291/clidump.txt))

I restored the connection to the UART1 and I connected it as shown in the picture. It's the black wire, bit hard to see. I hope that someone else can try your firmware cause I'm not trusting my iBUS sensor port and configuration anymore.

![ibus_connection](ht

[2016-01-31 18:11] joshuabardwell commented on #1741
Glad your issue is solved.

[2016-01-31 18:14] joshuabardwell commented on #1741
PS: I'm glad that @thenickdude was able to help you, but Github is still the wrong place for this type of question. Please post on RCGroups next time, and you will get good help without taking the attention of the devs.

[2016-02-01 00:11] CraigJPerry commented on #1125
Your wiring looks good. The only real difference between our setups is you're using IBUS serial RX and I'm stuck on PPM for now. I have a naze32 in the post to me just now so I'll be able to exactly duplicate your setup and test soon!

[2016-02-01 01:38] edusteinhorst opened #1748 "Random cut outs on CC3D"
I couldn't find an issue for this on CF, but it exists on borisbstyle/betaflight#64.

Tested on a CC3D with CR 1.12-RC1.

I get cut outs randomly, where all motors cut at the same time, usually under 2 minutes after arming. The motors cut out, the blue led turns off and the yellow led comes on. If I lower and raise throttle it rearms (blue led) and motors come back on.

This only happens when gyro

[2016-02-01 10:12] borisbstyle commented on #1748
The problem is the oneshot timer clash on PPM.

Disable oneshot125 and you will be fine till its solved

[2016-02-01 11:58] ther0x commented on #45
any news? I have a quanton but i'm tring to find out an alternative to taulabs thanks

[2016-02-01 12:40] davidbuzz commented on #45
I was able to get my quanton to fly using the link I gave above.  I recommend you try it, an let us know how it goes for you.

[2016-02-01 13:52] ther0x commented on #45
Thanks david! I have read your link but don't find any reference to quanton or colibri
Sorry i'm a noob :)

[2016-02-01 15:53] universam1 commented on #884
Could be solving #1699 as well!?

[2016-02-01 16:51] sgstreet opened #1749 "SP Racing F3 with Spectrum AR7700 with SLRX or Remote Receiver protocol"
Has any one made this work on 1.11?  Hookup/setup hints?  Suggestions on how to debug this?  PPM works correctly....

[2016-02-01 17:33] pdelcast commented on #1662
Castle has had this functionality for several years.  And releasing new quad code RSN.

http://www.castlecreations.com/support/documents/castle_link_live_2.0.pdf

[2016-02-01 18:05] ChrOnOs83 commented on #1437
In the docs, it's wrote :
"In this mode, the "head" of the multicopter is always pointing to the same direction as when the feature was activated."

But I have read nw.c and the only place where the variable headFreeModeHold is set is when arm. So, maybe the docs isn't correct. I will test that soon.

[2016-02-01 18:08] ChrOnOs83 commented on #1437
Not the only place, also when HeadFreeAdjust. But headFreeModeHold seems not reset when the headfree is activated

[2016-02-01 20:52] paulwas opened #1750 "GTUNE not defined for CC3D\target.h"
Is there a reason that GTUNE is not included in CC3D?

I loaded the latest code (1.12.0) onto a CC3D and noticed that there was no GTUNE mode. So I looked at the code and noticed that "#define GTUNE" was not included in "main\target\CC3D\target.h". So I added it to my copy and built it then loaded it onto my CC3D and now it's there. I've not had a chance to test it out in a quad chopper yet so I d

[2016-02-01 20:56] taileron commented on #1702
sorry it´s no issue about the 1.12 RC1 (it´s similar in 1.11) ....
as soon as 4 mmix entries are active the P limit of 200 activates on yaw servo ?!?
So the 4´th mmix can not be really used in custom_ti simultaneous with a yaw servo
the second servo output only does gimbal or aux, a smix on this servo outputs only a neutral signal without function

[2016-02-01 21:30] joshuabardwell commented on #1750
I believe that it's removed to make room for the OpenPilot bootloader.

[2016-02-01 22:14] paulwas commented on #1750
Thanks. If that's the case I can deal with it locally.

[2016-02-01 22:24] cklam2 commented on #1125
Well, well @CraigJPerry, I finally got some telemetry data on my RX display :)

Tried everything I could think of but your last post gave me the clue: I only get the i-BUS Telemetry working when configuring PPM instead of i-BUS RX and connecting SENS to pin 3 of UART2. I guess that the UART1 is limited in its use. Or something else need to be modified in the code in order to make it work on this p

[2016-02-01 22:47] martinbudden opened #1751 "Further judicious use of build #defines will reduce ROM size of CJMCU target"
Further use of build #defines, in particular USE_QUAD_MIXER_ONLY, BARO, TELEMETRY and BEEPER can reduce the ROM size of the CJMCU. This will give more headroom for future changes.

[2016-02-01 23:22] headspindle commented on #1321
switched from baseflight to cleanflight and motor 3 and 4 esc will not calibrate an motors will not run motor 1 and 2 run only

[2016-02-01 23:47] taileron commented on #1684
probably it is possible to have 4 motors and two servos -  mmix 0 ...3 and two smix outputs then the vtol toy box would be a bit more comfortable.
An inflight virtual tilt of the fc itself by controled an aux channel would help as well

[2016-02-02 00:11] CraigJPerry commented on #1125
Nice one @cklam2 ! I suspect this is might be a hardware (naze specific) thing for uart1 since i run both ibus serial 10ch AND ibus telemetry together on an STM32F3DISCOVERY. I'll know more once my naze arrives.

ExtV on sensor 2 shows as 0v for you in that screenshot. I just want to make sure you have vbat monitoring disabled? Or does the battery status show correctly in the cli when you do a "st

[2016-02-02 00:32] gkvirkvia commented on #1725
Just in case anyone stumbles upon this thread, dug up MWOSD source up, it indeed is actively polling MSP protocol for stats. Keeping UART1 just in MSP mode worked fine with MWOSD.

[2016-02-02 00:37] cklam2 commented on #1125
The displayed value is correct cause I did not yet connect the main battery to the vbat connector :) Right now using an external battery monitoring device but I'll switch over to the naze once I have a buzzer.

[2016-02-02 10:52] hydra commented on #1748
@borisbstyle can you give more details into the cause?

Additionally the 'channel stability' PR #1710 I created might help with this (but agreed it masks any underlying problem).

[2016-02-02 11:57] edusteinhorst commented on #1748
@hydra

Checkout the issue borisbstyle/betaflight#127

I'm not familiar with the project, but I'll try giving it a go.

[2016-02-02 12:05] borisbstyle commented on #1748
@henn1001
Can explain this better.

I even don't have CC3D anymore to troubleshoot this. From my understanding there is a timer clash between PPM and oneshot125 timer. Openpilot already moved PPM pin to somewhere else.

@hydra
This is exactly why I wanted more disarming security. The code as it is now needs 1 single glitch to fall out of sky.

[2016-02-02 12:17] edusteinhorst commented on #1748
Just an idea, but it might be worth having some hysteresis on the disarm trigger, be it switch or sticks.

[2016-02-02 12:29] hydra opened #1753 "Corrupt CLI output when using UART ports with latest 1.12.0-RC2"
As noted by @borisbstyle there are issues on non-VCP targets.  MSP is fine but the cli output is corrupt.

Related to PR #1143, PR #1151

[2016-02-02 12:30] hydra commented on #1695
great, thanks for feedback. will close this issue now.

[2016-02-02 12:30] #1695 closed

[2016-02-02 12:56] henn1001 commented on #1748
Yeah it would be cool if @hydra could look into borisbstyle/betaflight#127 :)

Just for testing https://github.com/henn1001/cleanflight/commit/66edf2434cf496896ef9f8f7cf463cd40efd4f20

Compiled from latest source
[cleanflight_CC3D.zip](https://github.com/cleanflight/cleanflight/files/113925/cleanflight_CC3D.zip)

Give it a go on the bench without props and see if you can reproduce it - PPM goes no

[2016-02-02 13:24] edusteinhorst commented on #1748
@henn1001

Awesome, I'll test it tonight. Is there any other pin the RSSI analog input can be moved to?

[2016-02-02 15:05] borisbstyle commented on #1753
What about check in cliprintf function?

When VCP connected just use printf and otherwise use buffer?

[2016-02-02 15:06] borisbstyle commented on #1750
CC3D even without bootloader is near the end of its flash.

Cleanflight doesnt support bootloader anymore btw

[2016-02-02 16:32] martinbudden opened #1755 "Documentation would benefit from a few extra links"
In particular links from Boards.md to the relevant boards.

[2016-02-02 18:56] hydra commented on #1753
fix confirmed by @stronnag

[2016-02-02 18:58] #1753 closed

[2016-02-02 23:22] edusteinhorst commented on #1748
@henn1001

Ok, I tested it. The PPM input did change to the RSSI pin, but it only works with OneShot disabled. If I enable it I get not PPM signal, all channels completely still. Is OneShot messing with the TIM2 config?

[2016-02-02 23:40] henn1001 commented on #1748
Welp

[2016-02-03 00:29] borisbstyle commented on #1753
@hydra
It does work now but is still not 100%. I get echos on commands now

[2016-02-03 00:29] borisbstyle commented on #1753
when typing status you get this
# statusstatus

[2016-02-03 01:51] badfrogg opened #1758 "Passthrough mode missing from custom airplane mixer - Nase23 rev5"
Nase23 rev5 - RC 1.12.0
I noticed that if you select airplane mixer, you will have passthrough mode on the modes tab. But, if you select custom airplane, the mode "Passthrough" disappears from the modes list. Is there a command in CLI to enable this pass-through mode

And just to be clear i mean the mode "passthrough" for servos not serial passthrough.

Another odd thing is if you go back to regul

[2016-02-03 05:54] Ravid824 opened #1759 "SPRacingF3 ESC/Servo Configuration document"
Can someone point to any documentation describes the SPRacingF3 ESC/Servo port configuration ?
Previously I was using Naze32 that has 6 outputs while 4 were used for the motors and two for gimbals servos.
The SPRacingF3 has 8 outputs and I couldn't find anywhere explaining where to connect the servos and what the is the use the extra two outputs when I use QUAD.

[2016-02-03 06:18] metalnow commented on #1759
did you check the official website?

[2016-02-03 06:37] Ravid824 commented on #1759
Yes, nothing besides
"16 PWM I/O lines for ESCs, Servos and legacy receivers. 8 available on standard pin headers. 8 via side mounted connectors"

[2016-02-03 10:00] astragalizont commented on #1616
I checked it with version 1.12, the Problem still persists.
If led strip and channel forwarding are saved in the GUI, the board doesnt crash, but only channel forwarding is active, led strip is switched back to grey "off"

Servo tilt and channel forwarding and servo tilt together work.

Servo tilt and led strip  can't be used together, servo tilt is active but led strip is still off.

I startet wi

[2016-02-03 10:26] phantom-8 commented on #1393
Today is my first time trying Luxfloat.  Acro mode is very nice, but Angle mode is unflyable.  The stick is very sluggish and hard to control.  The symptom is exactly as skaman82 described.  I didn't change max_angle_inclination and left it as default.  I also use Openpilot CC3D and never encountered this problem.

[2016-02-03 16:38] stronnag commented on #1753
Don't see that here:

[code]
I'll try the later commit next.

[2016-02-03 23:16] MJ666 opened #1760 "Using GNU ARM 5.2 2015Q4 will break F3 VCP support"
If the new compiler gets used the F3 VCP port is not detected properly and the FC can not be configured. We had a similar problem already in the past.

https://github.com/cleanflight/cleanflight/issues/763

there are no issues with F4 VCP support.

[2016-02-04 03:21] joeynuggetz commented on #1739
For sure. That's what I was asking. D4R (Frsky telemetry) sent temps and noticed they weren't there using S.port. Was just curious if it was a protocol thing or something that was missed. Thanks for clearing it up. So are these "flags" useful? Why are they being sent?

Regarding RPM, what do you mean about throttle position? The numbers I was getting on Frsky telem when using RPM appeared to be le

[2016-02-04 06:36] borisbstyle commented on #1753
yeah it seems good. It was my mistake on the last pr.

Only thing I notice now is that it didnt like large paste dumps. I believe I tried naze board without VCP. Will test some VCP boards later as well.

[2016-02-04 17:43] #1758 closed

[2016-02-04 17:44] hydra commented on #1758
Please test new release candidates ASAP.  Raise a new bug and reference this if it's not OK.

[2016-02-04 18:00] hydra commented on #1745
please provide configuration dump and wiring photo if possible

[2016-02-04 21:30] joeynuggetz opened #1762 "Heading indicator changing by 1 degree every few seconds"
I'm on my 2nd RMRC Dodo F3 board and the replacement board is doing the same. If I perform a calibration and let the board sit perfectly still, the heading indicator and graphic in the CF setup page will increment by a single degree every 3 or 4 seconds. Graphic updates as well and if I let it sit it will spin by 1 degree forever.

I RMA'd my old board because of drifting issues in angle mode and

[2016-02-04 23:43] edusteinhorst commented on #1748
I'm working on this, just to let you guys know.

[2016-02-05 07:52] #1751 closed

[2016-02-05 07:53] #1755 closed

[2016-02-05 08:29] martinbudden opened #1769 "Support for sub-32K Cleanflight build"
Some people have been hacking some of the toy quads. Most of these seem to have 16K ROMs, but a few have 32K ROMs. Some of these hacks are based on forks of Bradwii, for example see [Bradwii for JXD JD385, WLToys V202, Hubsan H107L and clones](https://github.com/victzh/bradwii). Others seem to be writing a flight controller from scratch, for example this [Floreon H101 port](https://github.com/silv

[2016-02-05 10:34] gpolic commented on #1537
Been trying to compile Cleanflight and Betaflight for about a week on Windows / Eclipse.
I will give this a try and let you know.

[2016-02-05 10:40] CraigJPerry commented on #1537
Cool thanks @gpolic

[2016-02-05 11:12] timdonovanuk commented on #1722
Yep, will do. Apologies for this.

[2016-02-05 11:27] digitalentity opened #1770 "CC3D: Timer clash for SOFTSERIAL/LEDSTRIP and motor/servo output 5"
Encountered this bug when configuring CC3D for AIRPLANE with SOFTSERIAL enabled. Servo connected to Motor5 wasn't moving at all while servo at Motor6 was actually Servo5.

Looks like we have a TIM3 clashed between Motor5/Servo5 and SoftSerial/Ledstrip feature.

[2016-02-05 14:52] gpolic commented on #1537
I will do that when I am on my desktop and have some spare time to uninstall everything and install again as per the instruction.

However in the meantime, I found something else.
If you use the Cloud9 service at http://c9.io you can logon with your Github account and create a new workspace, by cloning your repository. It happens by the click of a button! Already had cleanflight fork on my github

[2016-02-05 16:07] CraigJPerry commented on #1537
Yeah, there's a vagrant file in the project root, compiling is easy - type vagrant up then make. Getting a usable dev env with hardware debugging etc is harder though :-(

[2016-02-05 18:47] gpolic commented on #1537
Sorry mate I have no luck here. I did the following steps (on Win 7 64bit)

Software Installation - step by step
JDK, I already have 1.8 64bit
Eclipse IDE for C/C++ Developers Windows 64bit  - Luna
gcc-arm-none-eabi-4_9-2015q3-20150921-win32.exe
gnuarmeclipse-build- tools win64 2.6-201507152002-setup.exe
minGW   <---- Link not working
cygwin setup-x86_64.exe
Cygwin <---installation steps are found

[2016-02-05 20:41] JohnOCFII commented on #1769
Very Interesting!  I know that the brushed micro-quad audience is growing for CleanFlight due to FC's like the SciSky.  If more of that audience could use CleanFlight on some of the smaller boards, that might give them a good path to move up with CleanFlight as they move to later, brushless quads.

[2016-02-05 20:43] martinbudden opened #1772 "Inclusion of EXTI callback handler definitions in system.h is problematic for test code"
The inclusion of

[code]

means that `system.h` cannot be directly included in unit tests.

[2016-02-06 07:50] bbbenji commented on #1685
I purchesed a Naze32 Rev6 clone. Hoping I would be able to get latest CF working. Unfortunately I am unable to! CF 1.11 and latest RC both cause extreme oscillation making it unflyable. It goes out of control.

I tried CF 1.10, as it worked on my Flip32, unfortuantely it does not recognize any of my sensors  on the Naze32.

I'm having trouble finding people with the same issue. Closest I could fin

[2016-02-06 08:49] bbbenji commented on #1685
Video: https://youtu.be/ur65Dl_zALo
Pics: http://imgur.com/a/ErfW5

[2016-02-06 09:13] SteveAmor commented on #1685
@bbbenji this is a support issue and should be raised in the support forums such as you provided a link for above. You will get much more support on RC Groups than here.  Please close this issue and reopen if you find a bug.

[2016-02-06 10:18] bbbenji commented on #1685
@SteveAmor Considering the fact that on the Flip32, CF 1.10 works just fine compared to 1.11, I can't help but come to the conclusion that this is infact a bug. With no other variables being different.

[2016-02-06 12:33] SteveAmor commented on #1685
@bbbenji can you perform a git bisect to find out exactly which commit caused this issue?

[2016-02-06 15:39] edusteinhorst opened #1779 "Typo on release notes for v1.12.0-RC2"
@hydra

https://github.com/cleanflight/cleanflight/releases/tag/v1.12.0-RC2

Reads on known issues:

Do not use PPM and ONESHOT on CC3D when using sticks to arm (use a switch). See #1748

Should read:

Do not use PPM and ONESHOT on CC3D when using a switch to arm (use sticks). See #1748

[2016-02-06 19:05] skaman82 opened #1780 "Drift issue in ANGLE and HORIZON"
My micro quad is drifting to the right in ANGLE and HORIZON mode. It gets stronger over time until I really have to fight the quad hard not to drift. As you see in this video the drift grows over time - the quad is standing COMPLETELY still on the table the whole time. Tested with CF 1.12, 1.11 and Betaflight 2.3.5. Tested the Naze32 and AlienWiiF1 versions. I think this is a bug that needs lookin

[2016-02-07 00:51] joeynuggetz commented on #1780
So you're saying that it drifts when running all those different versions you listed? Sounds like a hardware problem. Make sure your trims are centered. I've seen this happen before but in Acro and was caused by my trims being non-centered.

[2016-02-07 00:53] skaman82 commented on #1780
All trims are centered, all channels are at 1500.
This even happens when TX is off an the model is connected to CF and lying still on the table (see video).

[2016-02-07 01:10] joeynuggetz commented on #1780
I see. I was having an issue with the yaw drifting. Feedback I was getting is that its normal for the heading to drift when you dont have a mag.

To be honest, if you load different firmware on that board and it happens all the time then it has to be the board, no?

There was a thread on here talking about drift some time ago but I think it was closed.

[2016-02-07 01:15] digitalentity commented on #1780
It's not necessarily the board itself. If the issue is the same on
different boards and different firmwares it is likely not a firmware issue
but something else. Do you have this issue with stopped motors add well?

[2016-02-07 01:18] skaman82 commented on #1780
Thanks. I just ordered a spare FC. Hopefully it arrives in the next three weeks. Will check if same issue occures and close this if not.

Von meinem iPhone gesendet

[2016-02-07 01:21] skaman82 commented on #1780
@digitalentity yes, this happens also with motors of and lying flat in the table. See video in the first post.

[2016-02-07 01:37] badfrogg commented on #1758
Yes, The 1.12.0 RC2 has fixed the issue (enhancement). Passthrough Mode now avalable in Custom Airplane Mixer.

Thanks!

[2016-02-07 01:50] badfrogg commented on #1762
I am seeing this too on naza32 rev5 1.12.0 RC2 (6 dof , no mag)

[2016-02-07 02:09] badfrogg opened #1782 "PWM output 1 & 2 Can only be configured as Motors in custom airplane (not servo)."
V1.12.0 RC2 Naze32 rev5 (6 DOF)
smix has no effect on servo 0 & 1 (PWM output 1 & 2 ) These two channels can only be configured with mmix. I realize that is is likely a feature request and not a bug.

My current project is Cleanflight on a Glow airplane! The motor channel is controlled with a servo and not an ESC. This not critical but would be nice. For now throttle is directly connected on the r

[2016-02-07 04:17] hydra commented on #1758
Great, thanks for the feedback and bug report.

[2016-02-07 10:38] skaman82 commented on #1762
Having a similar issue with my scisky board. Roll offset is rising by itself until the quad drifts extreemly to the right. See: https://github.com/cleanflight/cleanflight/issues/1780

[2016-02-07 10:55] digitalentity commented on #1780
@skaman82
Can you record a video of "Sensor" tab with Gyro and Accel graphs? I have an idea but I'd love to confirm it first.

[2016-02-07 11:03] ledvinap commented on #1780
@skaman82 : cli `status` may help too

[2016-02-07 11:41] skaman82 commented on #1780
# status
System Uptime: 34 seconds, Voltage: 0 * 0.1V (1S battery - NOT PRESENT), System load: 0.07
CPU Clock=72MHz, GYRO=MPU6050, ACC=MPU6050.n
Cycle Time: 1001, I2C Errors: 0, config size: 2020

[2016-02-07 11:44] skaman82 commented on #1780
@digitalentity I've made a new video: https://www.youtube.com/watch?v=5alUJJxPxdY
At the end of the video I've tried to do an new calibration, but it didn't work.

I was able to investigate this further. This only happens if I set "set motor_pwm_rate = 16000" for my brushed motor setup in the CLI. With the defaults I wasn't able to reproduce this.

[2016-02-07 11:57] digitalentity commented on #1780
Ok, this must be interference issue from motor pwm. Pwm frequency is higher
than gyro sampling frequency and this is probably causing aliasing.

set imu_dcm_ki = 50 will solve level drift for you, but in rate mode you
still will be having issues with drift.

[2016-02-07 12:04] skaman82 commented on #1780
yes, set imu_dcm_ki = 50 has done the trick. The drift is still there, but now it stops at 0.4 instead of 3.0.

[2016-02-07 14:35] paulboes73 commented on #310
I own a JETI DS-16 and I would be interested in this also.

[2016-02-07 14:49] skaman82 commented on #1780
@digitalentity had further testing with imu_dcm_ki=50. The quad is not drifting to the right anymore but to the left with the same behavior as before :(

[2016-02-07 14:52] xoration commented on #310
Doesn't the SBus protokoll also support telemetrie? As the Jeti Supports SBus I am curious if we could send telemetrie via SBus?

[2016-02-07 17:05] gpolic commented on #1537
I went back to Eclipse Mars. Now I can install the ARM plugins, not problem !
So this part is now working:
**--Add a new update site to Eclipse named "GNU ARM Eclipse Plugins" with the URL "http://gnuarmeclipse.sourceforge.net/updates" and install all the features offered
**
I guess Luna version did not work so good.

Installed the GNU ARM, GCC ARM stuff and another GCC compiler from here: http://

[2016-02-07 18:29] marv-t commented on #310
@xoration
The Jeti implementation of the SBus are only the channel values, telemetry aren't supported.

@paulboes73
In this PR #1709 is the Ex Bus completely supported. I'm waiting for a merge...

[2016-02-07 18:30] marv-t commented on #1513
This is the new PR: #1709

[2016-02-07 20:04] ledvinap commented on #1692
IMO the priority concept as used in current code is a bit problematic. Available RTOS have strict priority ordering (higher priority task is always run before lower priority), scheduling on same priority level may be round-robin.

Cleanflight should adopt this 'limitation' early, so that porting is possible later.

If some 'backoff' strategy on high load is necessary, it may be implemented indepen

[2016-02-07 21:13] bbbenji commented on #1685
@SteveAmor Give me a few days to get a new order of props in and I will deliver the commit that started the problem. Thanks for brining git bisect into light for me. I have never heard of it before but it seems like a great tool.

[2016-02-07 22:33] gpolic commented on #1537
Well I got some success finally.
I deleted the GCC and installed Cygwin as per instruction in
https://github.com/cleanflight/cleanflight/blob/master/docs/development/Building%20in%20Windows.md
now it works, I build some HEX for NAZE and CC3D
There is only one warning !!!!

To summarize at least for the Windows platform, Eclipse Mars works  (Luna I dont think so)
No need to add the GNU ARM and GCC

[2016-02-07 22:59] skaman82 commented on #1780
Increasing looptime to 1600 helps.

[2016-02-07 23:02] digitalentity commented on #1780
@skaman82 another confirmation of aliasing - you changed sampling frequency and this moved aliased noise from motors from DC bias (0hz) to some other frequency.

[2016-02-08 00:23] gpolic commented on #1537
And one more important thing:
Before the build, you have to go to File/Properties/C/C++ Build/Build Variables
there enter a variable. I enter TARGET with values CC3D
Otherwise the build does not start.

There are different options presented in Eclipse menus depending whether:
1. You clicked your cursor inside a text/code file that is opened i.e. main.c
2. You clicked on the Navigator on your proje

[2016-02-08 01:25] joeynuggetz opened #1786 "Configurator doc links should link to appropriate sections"
How's about linking the documentation button that's on each page to its corresponding section in the guide? If I click help under motors, I expect to be dumped to the motors section of the docs instead of the index. Just a thought.

Also, is it possible for anyone to go in and help clean up spelling mistakes in the docs or do I have to post them as issues here? I'd like to contribute with document

[2016-02-08 01:29] joeynuggetz commented on #1762
I'm starting to think this is normal. I RMA'd a board that was experiencing this (board had other issues like only registering 60 degrees of movement in the setup screen when in reality I rotated my quad a full 360 deg). After I removed the old board and tested the new board - the old board stopped doing the heading drift thing and the NEW board was doing what the old board used to do. New board s

[2016-02-08 06:44] tigert commented on #1786
You can go to the document in question and click the "edit" button. Github will guide you through creating a merge request out of it.

[2016-02-08 08:15] martinbudden commented on #1555
Now working on SciSky flight controller. Here's an SRF10 mounted on a picnic quads 120mm frame and connected to a SciSky flight controller:

![srf10inuse](https://cloud.githubusercontent.com/assets/194586/12880797/02e8d6d8-ce3c-11e5-8cd7-1b7d5bfe9845.jpg)

[2016-02-08 16:14] gpolic commented on #1537
Craig, it seems that I got a little carried away with this and forgot to comment on the instruction!
One issue for me is that with Eclipse Luna I could not get the ARM plugins installed.
Although it worked with Eclipse Mars.

One comment I would have is regarding Windows users. More specific: in the Checklist part:
"Windows platform only: Download and Install either Cygwin or MinGW MSYS"
There is

[2016-02-08 16:27] bbbenji commented on #1685
@SteveAmor After completing a git bisect the first bad commit is e347e7d4bf28ef15a214ea01643355910e39ce6f

[2016-02-08 18:36] Bengt-M commented on #1537
I still say it is too complicated.

I have realised that to build the tests I need a native build which on windows means cygwin (or similar). I have also given up on Eclipse's own way and accepted that I want to use the supplied makefile anyway. After taking those steps there is no need for GNU ARM Eclipse\Build Tools.
(If I wanted to do only cross target the Eclipse way then I should not need cyg

[2016-02-08 18:58] edusteinhorst commented on #1748
@henn1001 @hydra @borisbstyle

This patch wasn't working because TIM2 channel 3 was mapped as a motor output (PWM12/S6_OUT), so whenever Oneshot was enabled it would change the prescaler for the entire TIM2 to increase resolution (can't change prescaler per channel).

The way OneShot is implemented now forcefully overflows the timer to have an imediate output when motors are set. To allow it to co

[2016-02-08 23:35] drichards0725 opened #1793 "Buzzer doesn't work on SPRacing F3 deluxe."
Seems there is a difference on SPRacing F3 deluxe and the use of the buzzer on the buzzer pins not working.

[2016-02-09 01:07] CraigJPerry commented on #1537
Thanks for trying it out guys

[2016-02-09 05:12] nveeser commented on #1537
I had some success with Eclipse on a Mac a while back, thought there were a few things which didn't work well.  (Namely Eclipse gets confused by the all the #ifdefs that get pulled in by different Makefile targets. I was thinking that one could cleanup the Makefile to make things easier for an IDE, but I didn't want to step on anyone's toes.)

The docs *are* a lot of steps to get all the pieces wo

[2016-02-09 05:52] nveeser commented on #922
Is the general consensus that UAVO is too heavyweight?

I only have a limited understanding from using OpenPilot but I assume that it's similar to [protobuf/releases](https://github.com/google/protobuf/releases) and [capnproto](https://capnproto.org/cxx.html)

[2016-02-09 06:22] digitalentity commented on #922
We already have MSP and we probably don't want another bi-directional protocol only for configuration.

[2016-02-09 06:29] nveeser commented on #347
(New to embedded stuff, so this is mostly for my education):

What about using a serialization library like thrift or [capnproto](https://capnproto.org/)?
Describe the data in a file,  backwards compatible wire forma, maps directly to a set of structs which get passed around? Is this too heavyweight?

[2016-02-09 07:02] 3djc opened #1794 "1.12.0 RC2 default for Naze32"
Pre RC2, default for Naze32 with Oneshot ESC where resulting in a 500Hz pulse frequency for the ESC. Applying RC2 default result in gyro_sync (not an issue per say) but also a pulse frequency of 1 khz, which many ESC do not handle well. Changing gyro_sync_denom to 2 bring it back to  500Hz, closer to previous defaults, fixing it for me (at least on the bench). Will fly test it when the tempest is

[2016-02-09 07:12] tracernz commented on #922
UAVOs are not a telemetry layer, they are objects for passing state around both within the firmware and externally (and also storing it in the flash filesystem in the case of settings objects). UAVTalk is the telemetry layer used to access them externally.

[2016-02-09 08:14] martinbudden opened #1795 "I2C overclocking seems to be set on by default"
See:

https://github.com/cleanflight/cleanflight/blob/master/src/main/config/config.c#L492

This may be the desired behaviour, I raised this issue in case it is an oversight.

Also note looptime is set to 2000 by default. Just checking this is correct.

[2016-02-09 08:28] 3djc commented on #1795
About the looptime, it is not used I believe, since gyro_sync is enabled by default

[2016-02-09 08:38] Piradoxlanieve opened #1796 "Flying Wing mix problem(CC3D) v1.12.0-RC2"
I whereas there is an issue with the flying wing , when I move the roll the elvevones are functioning as picth . and pich elevons act as roll, I'm going crazy in the GUI , move roll and roll bar will move and move the picth and picth bar moves. sorry for my English

[2016-02-09 08:42] martinbudden opened #1797 "Some gpio functions are not const correct"
In particular `digitalIn` and `gpioInit`.

[2016-02-09 09:08] digitalentity opened #1799 "CC3D - Building using GCC 5.2 results in non-working VCP"
Building latest master with gcc-5.2-2015q4 results in "Device not recognized" message on CC3D target when plugging USB cable. gcc-4.9.3 builds are working fine.

This might be vcp library bug, similar to #452, #763

[2016-02-09 09:11] ledvinap commented on #1797
Can you explain a bit more?

[2016-02-09 10:21] digitalentity commented on #1799
Disabling optimisation on usb_init.c fixed the issue. Also issue isn't present under debugger.

[2016-02-09 10:32] martinbudden opened #1801 "Identifiers should not be defined in serial_msp.h"
The identifiers `flightControllerIdentifier` and `boardIdentifier` should not be defined in `serial_msp.h`.

[2016-02-09 12:31] borisbstyle opened #1803 "Serial Buffering broke ESC passthrough function"
Just to bring it here. Perhaps bypassing buffering  just for this function would be enough

[2016-02-09 12:45] borisbstyle commented on #1803
@nathantsoi Can you have a look?

[2016-02-09 13:58] Chadster commented on #1685
I have similar results in both CF and BF.  I've never had good results with MW rewrite in any version, but after CF 1.10, and ~ BF 2.2.x (not sure of exact release), it's totally unusable and will result in a crash every time.  When I switch to Luxfloat, even with default PIDs, everything is smooth and locked in.

I stopped further testing cause I was going thru too many props.

[2016-02-09 14:11] bbbenji commented on #1685
@Chadster Sorry you are having the same problem but I am glad I'm not the only one:) I have gone through a grip of props because of this problem myself. Which FC are you using?

[2016-02-09 14:33] Chadster commented on #1685
Forgot to mention my setups - multiple NAZE32 FC's (acro and full), with Afro and ZTW ESCs.

Luxfloat works good so I never really investigated it much, but didn't want you to think you were the only one with this issue.

[2016-02-09 17:05] 4712 commented on #1803
I can confirm that. What was changed and what for?

[2016-02-09 18:01] borisbstyle commented on #1803
It was changed to speed up the serial communication and especially for VCP
targets it was really needed as that was slow and choppy.

I just cant see why it would break the passthrough.
Op 9 feb. 2016 18:05 schreef "4712" <notifications@github.com>:

[2016-02-09 19:28] DerDominik commented on #1587
Tested it today with a SPRacingF3 and a MicroMinimOSD ("serialpassthrough 2") and seems to work without any failures after closing cleanflight GUI and starting MWOSD-GUI.
Great Work!! Hope it will be integrated in betaflight or cleanflight next time

[2016-02-09 20:29] borisbstyle commented on #1801
It should all go into target.h IMO.

I think as much as possible stuff could best stay out of the code

[2016-02-09 21:05] borisbstyle commented on #1794
What ESC doesnt like 1khz? As far as I know there is no ESC out there what has problems with it.

[2016-02-09 21:06] borisbstyle commented on #1795
@martinbudden
Yes correct. Higher i2c speed does not have any negative effects on the boards out there. Why just not enable it. This allows more optimal defaults for F1 boards

[2016-02-09 21:48] 3djc commented on #1794
Hello Boris,
I use ZTW Spider Series 18A, blheli 14.4. When running rc2 défaut, i have a stable 1khz out pulse to the esc, but the esc will reset within 10 or 20 secs. If i turn off i2c overclock, i have a more jittery output, between 977 and 946hz. The esc will reset but it takes longer. If i set the gyro divider to 2, i get a 500hz output, and the esc does not reset. I do not have a signal gener

[2016-02-09 23:01] borisbstyle commented on #1794
Me and many others have tested pretty much any ESC on the market and never experienced that.

Are you sure that 1khz is the reason?

[2016-02-09 23:34] flacjacket commented on #1799
I have the same problem with gcc 5.3.

[2016-02-10 02:50] Chadster commented on #1685
This got me curious so I installed CF 1.12 RC2 on my Naze/ZMR250 and took a quick test spin.  Default settings on Luxfloat worked really great.  In fact my motors were running super smooth at 1000 loop time.

Landed and then switched over to MW rewrite and default settings.  Quad became immediately unstable upon launch and I killed the arm switch just to prevent more damage (was ready for this!).

[2016-02-10 02:58] nathantsoi commented on #1803
@borisbstyle can you point me at a commit or line number?

[2016-02-10 06:47] martinbudden commented on #1795
OK, I'll close the issue. I saw this and just wanted to check it wasn't done accidentally.

[2016-02-10 06:50] martinbudden commented on #1801
When I said "definitions" I meant "C variable definitions", not the #defines. The #define for boardIdentifier is already in the `target.h` file. This issue is about the "correctness" of the C code.

[2016-02-10 07:20] borisbstyle commented on #1801
oh....yes indeed. Its already in there.....silly me.
Op 10 feb. 2016 07:50 schreef "Martin Budden" <notifications@github.com>:

[2016-02-10 07:23] borisbstyle commented on #1795
It is totally not a problem to have high speed i2c running on small
electronic circuits with just 1 or few components connected.
The trouble would only start with many devices connected or longer
distances between them.
High speed i2c still stays within the voltage specs so the chip can
recognise rising/falling edge.
Op 10 feb. 2016 07:47 schreef "Martin Budden" <notifications@github.com>:

[2016-02-10 07:54] 3djc commented on #1794
Hello Boris. You are right, I have done further test and the 1 khz is not the issue, but a side consequence, my apologies for getting us on the wrong track.

On my FC, the issue is that the default settings seem  to work fine ONLY when nothing else is activated. If you enable GPS it fails, if you enable softserial, it fails,(that's just on the bench, I've not taken it flying !)

If you set the div

[2016-02-10 08:06] Ravid824 commented on #1759
I connected a scope and found out the gimbals pins:
ESC/Servo output Pin7 -  Pitch (controlled from CF by servo 0)
ESC/Servo output Pin8 -  Roll (controlled from CF by servo 1)

I am not sure what Pin 6 & 7 do  with Quad configuration (looks like that they are configured and  emitting motor signal). Do they these pins has any other use beside of motor connections?

Still it worth to update the doc

[2016-02-10 09:47] copter58 opened #1807 "Oneshot125 doesn't work with naze32 and BLHeli with 1.12.0 RC2"
In Cleanflight 1.12.0 RC2 Oneshot125 does'nt work with naze32 and ESC "Favourite Sky 3 Quattro 4 x 12A  BLHeli"
[http://www.hobbyking.com/hobbyking/store/__69363__Favourite_Sky_3_Quattro_4_x_12A_Brushless_Quadcopter_ESC_2_4S_1A_BEC_BLHeli_EU_Warehouse_.html](url)
In the Motor-Tab i can see the Motor-Signal, but the Motors doesn't turn.
With 1.12..0 RC1 it work's.

[2016-02-10 09:58] 4712 commented on #1803
done: https://github.com/cleanflight/cleanflight/pull/1808

[2016-02-10 10:12] borisbstyle commented on #1803
Cool! I felt like it should be a minor fix :D

[2016-02-10 10:56] ledvinap commented on #1795
@borisbstyle:
It's not that easy - I2C uses filters to minimize noise influence. Standard defines 100/400kHz and filters may be optimized at this frequency. Some chips may not work at higher speed at all. But even worse, some filters may be set to about double of 400kHz, so running at 1MHz may be at edge, working only for someone ...

Also MPU is not the only peripheral on I2C bus, other chips may

[2016-02-10 11:11] borisbstyle commented on #1795
@ledvinap
I understand that.

I did extensive testing on a full list of available Flight controllers out there right now.
I found the worst performing F1 flight controller to be naze32 rev6.....not sure why. Maybe the baro type. That one had limit of 1Mhz. All other targets were able to run up to 1.2Mhz without issues.

I decided to put a safe limit to 800Khz on F1 targets and 1Mhz on F3 targets.

[2016-02-10 11:20] robschii commented on #1780
i have the same problem. i m using the cc3d witch the last 1.12.0rc2. the drift is to the left and back. i have many times recalibration the acc but with no success.  some minutes ago i testet the copter with librepilot and there is no drift.  when i disarmed and armed again, the drift is away but with flight time it comes back

[2016-02-10 12:10] lostcontrol commented on #1780
I once add a bad MPU-6xxx on a Chinese Pixhawk-clone. I could see from time to time the AHRS drifting a lot (really a lot) while the copter was laying flat on the bench.

This was with APM:Copter but maybe something similar could also happen with Cleanflight/Naze32/CC3D/etc!?

I managed to switch the MPU-6xxx on this board with a new one and... tada... problem solved. The chip was most likely defe

[2016-02-10 12:33] ledvinap commented on #1795
Yes. Just commenting on distance part - there are other things that limit speed.

[2016-02-10 13:07] robschii commented on #1780
so i switch back to 1.11.0  and the drift is away.  seems to be a bug in 1.12.0rc2??

[2016-02-10 13:32] E120103016 opened #1809 "cleanflight/docs/Board - CC3D.md and betaflight/docs/Board - CC3D.md"
A:.cleanflight:Pinouts
The 8 pin RC_Input connector has the following pinouts when used in RX_PPM/RX_SERIAL mode

Pin Function    Notes
1   Ground
2   +5V
3   PPM Input   Enable feature RX_PPM
4   SoftSerial1 TX / Sonar trigger
5   SoftSerial1 RX / Sonar Echo
6   Current Enable feature CURRENT_METER. Connect to the output of a current sensor, 0v-3.3v input
7   Battery Voltage sensor  Enable featur

[2016-02-10 13:35] borisbstyle commented on #1795
@ledvinap
Yes I know :d. I am trying to prevent bad stories going around about it :d

It does seriously unlock good performance on some boards like naze32. 1khz full gyro sampling for example does make a difference.

[2016-02-10 13:37] borisbstyle commented on #1807
@copter58
There is no issue with the RC2. You just have outdated ESC firmware.

you can still use it though by decreasing looptime:
set gyro_sync_denom = 2

Note that its better to upgrade your ESC's to firmware what does support modern looptimes.

[2016-02-10 14:23] martinbudden commented on #1795
Reopened because there is an ongoing discussion.

[2016-02-10 14:28] martinbudden commented on #1795
My view:
For people who want to get the absolute max performance out of their boards, setting overclocking on is just one small extra thing to do.

For people who have just built a copter and want to get it going, this is something that could go wrong. Admittedly it probably won't go wrong, but if it does it is the kind of thing that could take ages to figure out.

Remember we are talking about th

[2016-02-10 15:56] pdoreika commented on #1793
I have found that a fairly large amount of counterfeit SPRacingF3's are being made and sold by Chinese manufacturers.  In fact, I was told that if you bought an SPRacingF3 from a Chinese seller then you are practically assured to have a counterfeit.  I learned this AFTER I bought one over the internet.  The good news is that the buzzer will work, but you'll have to solder to the pins on the bottom

[2016-02-10 15:57] drichards0725 commented on #1793
This was purchased from getfpv and does have the cleanflight logo on it.
On Feb 10, 2016 10:56 AM, "pdoreika" <notifications@github.com> wrote:

[2016-02-10 16:05] pdoreika commented on #1793
It's probably NOT a counterfeit board then.  Though I've never heard of a buzzer going bad I guess it's possible.  Have you checked polarity?  Tried a different buzzer?  I do not know if there is a way to suppress the buzzer in the Cleanflight software.  I presume you have put 5 volts to the board?  If you're using ESC's without a UBEC (like the OPTO ones I'm using) then a separate power source ha

[2016-02-10 16:11] drichards0725 commented on #1793
Yes I have ordered and tried other 5v buzzers that worked with 5v applied
and I am running the lumenier 20amp esc with oneshot enabled connected on
the pdb from getfpv. I normally run the cppm mode and tried the pwm
thinking it was an issue but still didn't change the buzzer working. The
only difference in my thought was this was the deluxe spracingF3 and
whether it made any difference.
On Feb 10,

[2016-02-10 16:14] pdoreika commented on #1793
I wouldn't think that the deluxe version makes any difference but unfortunately I am still pretty new to the hobby and I am at the limit of my ideas on the matter.  Hopefully someone else will chime in but in the meantime, if I were you, I would drop a note to getfpv about the issue.  They may have the answer, or be willing to replace the board for you.  Either way it can't hurt.  Sorry my friend.

[2016-02-10 16:17] drichards0725 commented on #1793
Thank you for the help and yes I already reached out to them and they
didn't have any answers either on it. I am waiting for my new spracingf3
mini to arrive to swap out and see if they will replace this one as I need
to practice for racing.

Thanks and have a wonderful day. :)
On Feb 10, 2016 11:15 AM, "pdoreika" <notifications@github.com> wrote:

[2016-02-10 16:32] nathantsoi commented on #1803
nice @4712

[2016-02-10 19:27] neildotwilliams opened #1810 "RX_Serial not working in Naze 1.12.0 RC2, works fine in RC1."
Naze 1.12.0 RC1 was working. Naze 1.12.0 RC2 stopped working for me.
Using MX NANO OVERSKY 32
I set Port 2 to be "Serial RX"
I set Receiver Mode to be "RX_Serial"
Using RC2 the Receiver does not seem to work.

[2016-02-10 19:39] jflyper opened #1811 "RC Inputs 5-8 outputs PWM under RX_SERIAL or RX_PPM"
Cleanflight 1.11.0 and 1.12.0, target is NAZE.

The RC inputs 5-8 generates (outputs) constant PWM (1ms high, 1.5ms low) after reboot, when receiver mode is set to RX_SERIAL or RX_PPM.

I initially found this with no features enabled.
If the SOFTSERIAL is enabled, the behavior is completely suppressed (naturally).
If the LED_STRIP is enabled, the behavior is completely suppressed, although LED_STR

[2016-02-10 20:31] Chadster commented on #1685
Tested a bit more and realized I had accidentally enabled angle mode instead of horizon, which I generally use as a default.  The combo of Angle and MW re-write PID resulted in a completely unstable quad.  Angle mode with LUX PID worked great.

I then tried Horizon mode with MW rewrite and found much more stable behavior and in fact it was quite flyable (though in need of PID tuning).  When I swit

[2016-02-10 20:35] bbbenji commented on #1685
@Chadster Thank you for further testing. When I have some free time in the future I may do another bisect to find when (rewrite) started causing the problems.

[2016-02-11 00:33] mbr1989 commented on #363
![Progress](http://shirta.de/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/p/r/programming-in-progress-d75429511.png)
:smile:

[2016-02-11 09:49] lostcontrol commented on #1685
@Chadster What are your "P" setting for LEVEL? This is what is written in the documentation:

https://github.com/cleanflight/cleanflight/blob/master/docs/PID%20tuning.md

Have you tried to lower this value?

[2016-02-11 14:34] Chadster commented on #1685
Ah, thank you for pointing this out!  I didn't notice that value in the
configurator, and I haven't reviewed the PID doc in a while.  It looks like
there have been quite a few improvements and additions.  Thanks again!

On Thu, Feb 11, 2016 at 1:49 AM, Cyril Jaquier <notifications@github.com>
wrote:

[2016-02-11 14:42] lostcontrol commented on #1685
@Chadster Could you report if you test it? I plan to switch to MWREWRITE and this issue makes me a bit nervous :anguished:

[2016-02-11 15:09] bdoiron74 commented on #1499
@universam1  Keep an eye on this pull : https://github.com/cleanflight/cleanflight/pull/1805

It won't handle switching batteries, but I can see further development allowing it to. It would be pretty cool to not only adjust to battery drain, but also battery maxVoltage*cellcount. As-is, the top side of stick ends up being a dead zone as the battery drains, so it probably isn't the right way to han

[2016-02-11 15:13] sigrokBlack commented on #1659
Same problem here!

[2016-02-11 15:22] sigrokBlack opened #1813 "First 4 Input Channel not working, tested with multiple boards"
HI,
I've two Naze32 boards, 6 DOF and 10 Dof, since Cleanflight update 1.10 I'm not able to use Inpu 1, 2,3 and 4 anymore. My Aux channles are working, is there a bug with the mapping of the channels?

[2016-02-11 15:36] sigrokBlack commented on #1811
Could be linked with my issue: https://github.com/cleanflight/cleanflight/issues/1813

[2016-02-11 16:26] copter58 commented on #1807
Thank you. With BLHeli 14.4 it works well

[2016-02-11 19:17] Lippy1968 opened #1814 "RX_PPM - Receiver not working with oneshot125 enabled SPRacingF3 Mini"
have tried

Flashing the receiver with 27ms Firmware. d4r-ii
Re-flashing the controller with the same firmware using DFU (1.12RC2)
Setting failsafe on TX.
Resetting RX
If oneshot is disabled, then the controller sees the RX input and enabling FC with TX gives full functionality

To rule out the TX and RX completely, I have tried a Flysky I6 and IA6b in ppm mode. The symptoms remain identical

[2016-02-11 19:24] gpolic commented on #1537
It is complicated sure. But as long as there is no installer to fix everything for us we have to manually do this stuff :-o

Going back to scratch because I had some issue with compiling C files (in x86)
I removed everything except the JDK.  Did a CCleaner to clear my registry.
Installed as per instruction steps:
Eclipse Mars, GCC ARM Toolchain, GNU ARM Build Tools, Cygwin (with Windows instructio

[2016-02-11 21:08] lostcontrol commented on #1685
FYI, I setup a new RotorX Atom this evening with 1.12.0-RC2, MWREWRITE and it works perfectly in angle mode. I lowered the "P" setting for LEVEL down to 2.0 instead of the default 9.0.

[2016-02-11 22:09] taileron opened #1815 "Configuration for 4 motors and 2 servos"
With custom airplane a copter with 2 motors and 4 servos can be done with all stabilized functions (smix and mmix) ...

Customtri for instance avoids using more than 3 motors cause the an unwanted p limit of 200 as soon as the 4 th mmix is activated and the second servo only outputs unmixed signals like aux channels.

Which configuration can be used to operate mixed signals on 4 motors and 2 servo

[2016-02-11 22:28] sigrokBlack commented on #1659
markitos020 How did you solve the problem above before you got the magic smoke?

[2016-02-11 22:36] CraigJPerry commented on #1537
Nice one!

[2016-02-11 23:07] markitos020 commented on #1659
Well in my case for some reason my problem was hardware. A loose solder pad, how did this happen right after update, I dont know maybe a coincidence. I noticed my problem was the board when I used a frsky sbus inverter and all channels worked. So I did a continuity test and found there was no continuity from channel 2 pin up to a tiny chip were all the reciever signals go to. I fixed the solder an

[2016-02-12 05:29] Arakon commented on #1813
Actually, that behavior points to failsafe. It sounds like your stick channels are in the wrong order, missing, or out of bounds (1000-2000).

[2016-02-12 11:25] sigrokBlack commented on #1813
No, i don't think so. My Failsafe is turned off and the Aux channles are working great. When I use an Arduino to simulate an PPM signal and chabge the cleanflight settings to ppm its working great on channle 1 aka PPM input. So the Gpio are not broken.  I'll hock up an logic analyzer to rx pins 1 to 4 when in rx_pwm_parellel to see if the ports are used for something else.
How can I change the pin

[2016-02-12 14:02] robschii opened #1816 "Drift to the Left in Angel and Horizon"
Hallo, i have a cc3d and i run the LibrePilot firmware, cleanflight 1.11.0 and cleanflight 1.12.0rc1 and 2

my problem ist with LP and CF1.11.0  everything is fine. The Copter makes a stable hovering.

Now with  1.12.0rc2 i noticed that i have a drift to the left. i can not say if it is also in 1.12.0rc1 becaue i do not flyi it outside, but only in my room.

where is the problem now, coukld it be

[2016-02-12 14:33] lostcontrol commented on #1816
Why do you open a new issue since there is already #1780 and you even commented in it!!???

[2016-02-12 14:35] lostcontrol commented on #1780
@digitalentity Don't you think this can be caused by a too high vibration level?

[2016-02-12 15:16] robschii commented on #1816
sorry

[2016-02-12 15:18] SteveAmor commented on #1816
@robschii please close this issue

[2016-02-12 15:50] joshuabardwell commented on #1813
I believe rx_min_usec and rx_max_usec changed between 1.9 and 1.10. Check that your channel endpoints are not going outside those values.

[2016-02-12 17:18] Cheredanine opened #1817 "voltage sensor fluctuation"
Lux (colibri race) target, CF1.12 RC2 (4s)
(confirmed on BF2.4 RC7 on naze and lux also)
VBat Voltage reading fluctuates rapidly with about 1 volt between peak and troughs
Initially noted in flight as low voltage alarm starts and stops early
testing on the bench just adding battery the symptom can be seen on voltage reading of the setup tab even immediately after clean flash

CF1.11 does not have

[2016-02-12 17:38] #1816 closed

[2016-02-12 18:57] #1813 closed

[2016-02-12 19:01] sigrokBlack commented on #1813
Error was an faulty solder joint between the header pins of my Naze32.
Sorry, I thought it was an issue because it appeard on two Naze at the same time(the secound naze has a broken solder trace) Everything is working. Thanks for your support!

[2016-02-12 19:58] skaman82 commented on #1780
@lostcontrol I don't think so, because:

1. this happens in the configurator even when the model is sitting still on the table with motors off (heading  "roll" changes in the setup tab, see video in the first post)
2. the drift seems only to occur when PWM is et to a high frequency like 16000 or 32000 or 4000

[2016-02-12 20:45] robschii commented on #1780
the problem are not the vibrations, so why it is not in earlier versions and only in the last rc2?  i use s.bus

[2016-02-13 08:29] borisbstyle commented on #1817
yes this most likely has to do with the new scheduler causing a lot of jitter for battery readings.
The filters are sensitive for jitter.

i have a pr for new filtering of battery voltage....i think a median filter is necessary too on top of the existing one.

[2016-02-13 08:31] borisbstyle commented on #1814
It all works here.

Are you sure this isnt your esc not able to do fast oneshot?

[2016-02-13 11:40] Lippy1968 commented on #1814
on the frame are Afro 20a Race spec opto ESC's. I have flashed them with BLheli and Simonk and neither firmware works, both exhibit the same issue. I can try moving the FC to my other quad with Littlebees in and see what happens.

[2016-02-13 12:34] borisbstyle commented on #1817
@hydra
I will try to fix this in PR https://github.com/cleanflight/cleanflight/pull/1806

[2016-02-13 12:35] borisbstyle commented on #1814
So you dont see your channels moving in RC tab in the configurator?

[2016-02-13 12:36] borisbstyle commented on #1810
What does not work?

[2016-02-13 12:53] hydra commented on #1593
done using a combination of both PR's

[2016-02-13 12:53] #1593 closed

[2016-02-13 12:57] ledvinap commented on #1817
@borisbstyle : median filter is nonlinear - it will cause more problems than it can fix.

ADC is read using DMA, it's quite easy to change the initialization so that queue of ADC values is available. ADC task may then filter them (or just use mean filter and implement summing in ADC driver)

[2016-02-13 13:18] neildotwilliams commented on #1810
While looking at the 'receiver' tab in cleanflight, the values change when moving my transmitter sticks around for throttle, etc.

If I flash rc2, keeping everything else the same, the values no longer move when I move my transmitter sticks.

This is on a hermit 145 drone kit.

[2016-02-13 13:22] Lippy1968 commented on #1814
No channels move, remains static (with the TX on or off I usually have jitter).I have flashed a spare Naze rev6 with 1.12RC6 and put that in the same frame with the same hardware used on the F3 mini. Enabled oneshot and that works as expected.