[2015-02-24 17:08] olexs opened #546 "System - Improve Oneshot ESC startup behaviour"
ESC initialization at bootup with Oneshot enabled happens with weird artefacts: ESCs not initializing in sync, and some ESCs initializing twice. Video of async and double init sequence beeps (using BLHeli 13.0 on HK BS12A ESCs with Oneshot enabled): https://www.dropbox.com/s/v87p3ttz066dbks/2015-02-24%2016.33.47.mp4?dl=0

Probably linked to 500ms blocking LED blink code in the boot sequence: https

[2015-02-24 18:38] justadude-OG commented on #483
I am watching this because I just bought one of those Paris air hero32 's and wanted to run it on clean flight. Keep us posted.

[2015-02-24 20:56] danielolsman opened #547 "FC crashes when using certain serial combo"
My flip32+ "crashes" and my ESCs are beeping slowly when using this serial configuration:

UART1 : MSP, CLI, TELEMETRY, SMARTPORT TELEMETRY, GPS-PASSTHROUGH
UART2: SerialRX (SBUS)
Softserial1:MSP
Softserial2:GPS

UART1 is connected to an bluetooth module, UART2 to a orangerx r620, Softserial1 to a MavlinkOSD 2.0 runnning MWOSD 1.3 and Softserial2 is connected to a Crius NEO6 GPS module.

All seria

[2015-02-24 21:05] stronnag commented on #547
orangerx r620 and sbus? No excuse to crash though.

[2015-02-24 21:52] stronnag commented on #547
Bench testing a similar combo (GPS on SS1, MSP (mwp) on SS2 both @19200 I certainly see large data loss (maybe 15% loss on SS2). Shall not to tempted to fly it.

[2015-02-24 22:24] hydra commented on #547
There are the incoming softserial changes to improve performance.  This is a known issue and other issues are already open. Closing as duplicate.

[2015-02-24 22:24] #547 closed

[2015-02-24 23:31] smarblewnec opened #548 "Support Tricopter 3D flight"
The issue is with tricopters in 3d mode using the Naze. The rudder servo needs to reverse when the throttle goes negative and currently the software does not allow for this.

Due to the motor reversing the thrust angle on the rudder motor changes 180 degrees off from what the flight controller expects. Currently, once a tricopter is inverted it spins uncontrollably.

[2015-02-25 07:01] matbogdan79 commented on #309
Autotune should autofinish each axis, every time. Why wait until the operator flip the switch. This is not right.
Should be like this:
1- take off with resonable pid values
2- find a clear groud area with no possible risk of injury or material damage
3- flip the switch - start roll autotune
4- after values are determined or after 3-4 sec - auto finish the roll tune and get back to normal flight.
5

[2015-02-25 07:10] matbogdan79 commented on #293
This should be not a fixed value , but a range of values ex: 1400->1500 us. For those that don't have a autocenter stick. We will never find the same sweet spot in center, shit why it should be a range when it is considered centered.
Myself i can put my Taranis to do a sound/beep when i am in middle but other wont benefit of a taranis features.
This should be a nice feature, specially for me, beca

[2015-02-25 07:58] Roeland54 commented on #309
I also would like a fully automated autotune sequence. But maybe we should look into the real problem first. And that is: Why is autotune going crazy if you enable it to long?

[2015-02-25 09:11] marksev1 commented on #529
Adns3080 is also very readily available on eBay. If a IC is being discontinued, it not a problem for the Chinese, since they just clone it...an example for that is max7456 for minimosd :)

[2015-02-25 14:21] OpCode1300 opened #549 "Sensors - Add support for TeraRanger One distance sensor."
[TeraRanger One](http://www.teraranger.com/product/teraranger-one-distance-sensor-for-drones-and-robotics/)

Support Forum: https://groups.google.com/a/terabee.com/forum/#!categories/forum/download

[2015-02-25 21:22] pinkywafer opened #550 "Virtual Current meter calculation issue when MOTOR_STOP is used."
I've found a few issues with the Virtual Current Meter:
I'm running Naze32 acro board.  LEDs on the frame (wired from PDB)
With Feature motor_stop, my armed AND disarmed current is the same - 0.6A
so I use current_meter_offset = 60
I calculated current_meter_scale = 166 (using the formula in the docs)

Problem 1: when DISARMED, telemetry and GUI is reporting current draw at 0.6A.  when I ARM, curr

[2015-02-25 21:35] tracernz commented on #550
There is an error in the update I made to the docs last week sorry. I've corrected it in 872b1ea6955273eb98ddf0c9d26947d0f4796ac3 which I will submit a pull request for very soon. As for the current difference when armed and disarmed with MOTOR_STOP enabled, I'll look into this later but I thought that was accounted for already.

[2015-02-25 21:44] tricopterY opened #551 "mixer.c L# 665 Code readability improvement"
Question for the experts:
[code]
Any reason why it can't be changed to:

[code]

[2015-02-25 21:48] thenickdude commented on #551
+1 for the if-else suggestion, though I would prefer to always put the positive branch first (the armed branch).

[2015-02-25 22:14] pinkywafer commented on #550
That looks good.
I've just been having a look at the code... motor_offset only seems to be taken into account in mixer.c when it's applied to the motor outputs, so I'm guessing it's not been applied to the rcCommand[THROTTLE], but I may be wrong
so where you have:
    `int32_t throttleOffset = (int32_t)rcCommand[THROTTLE] - 1000;`

just wondering if it needs:
[code]
or something similar (I haven't

[2015-02-25 22:25] pinkywafer commented on #550
Just realized this probably makes sense, I'm using Taranis and getting motor PWM reported on RPM on telemetry, and I think it's reporting 1150 when armed with motor_stop - I'm away from my quad at the moment, so can't check, if so, I'll raise another issue, but just checking the code, that is also getting its data from rcCommand[THROTTLE], so it may also need a fix.

[2015-02-25 22:26] tricopterY commented on #551
I guess a quick check to perform useful work, won't hurt coding style vs spending time setting all sorts of values for nothing.

[2015-02-25 23:05] thenickdude commented on #551
Well, the extra CPU usage when disarmed is not really important, but the readability would be an improvement since it'd make it clear that none of the preceding code has any effect when not armed (so you don't have to carefully read through it looking for side-effects).

[2015-02-26 02:16] matvey83 opened #552 "Too many PID controllers (difficult to choose best one)"
Hi guys,

I'm new to Cleanflight, and one thing that I found confusing is that there are so many PID controllers, and each has its own caveats.   It's difficult to choose the right one, because before I make this decision, I  would need to tune each one, and then compare them.

IMO the user experience would be better if there was a single default PID controller that works relatively well most of t

[2015-02-26 02:21] matvey83 commented on #498
I initially thought I wouldn't like it, but after a few flights I actually like the current behavior of having the motors spin slowly until I disarm.

(One thing that is confusing, IMO is the name of this feature: MOTOR_STOP)

2 cents

[2015-02-26 03:15] thenickdude commented on #552
There's no need to try everything, PID controller 0 works just fine for
most situations.

[2015-02-26 06:14] matbogdan79 opened #553 "IO - Retractable landing gear"
A small but important feature would be nice on the servo retract when your drone have a retractable landing gear ( like DJI Inspire - transformer )
Description:
1. use aux to gear down/gear up
2. optionally auto gear down when altitude is less than some distance from the ground ( sonar metered )
3. optionally don't allow gear up when the motors are disarmed and/or distance is less than a value
4.

[2015-02-26 08:04] heathicus opened #555 "Update LedStrip documentation"
Update the LedStrip documentation to list the pre-defined light colors for orientation and flight modes.  This could be a chart similar to the existing chart for "Warnings."

[2015-02-26 10:05] hydra commented on #552
We have a few now yes. The plan is to delete the ones we don't want after people have been given time to find out which one works best.

[2015-02-26 10:05] #552 closed

[2015-02-26 10:54] ethomas997 commented on #317
On the KK2, when you hold rudder/yaw stick to the left (disarm), the buzzer will sound continuous periodic tones.  This can work as a lost aircraft finder (without tying up an RC channel).  Really good feature; I used it the other day to find my little tricopter in the snow.  If it beeps this way, and also beeps when radio contact is lost, then they'll always be a recovery buzzer (as long as the b

[2015-02-26 11:02] jamesb72 commented on #317
You can just use alarm for this, on same channel as flight mode so no extra channel needed.

This isn't what this request is for which is an arm/disarm beep so you don't miss the start of an FPC race by 5 seconds and then have to catch up. https://www.youtube.com/watch?v=FI-gmC-YSvY

Doesn't help that default for auto_disarm_delay is 5 seconds, which is far too short, you can set to 30 or 0 (disab

[2015-02-26 11:53] hydra commented on #551
yes, the inner loops should ideally cater for the normal case when armed.  yes to clarifying braces, etc.  submit a PR please.

[2015-02-26 11:54] hydra commented on #551
actually, don't bother, i will fix now.

[2015-02-26 12:05] #551 closed

[2015-02-26 12:05] hydra commented on #551
Done

[2015-02-26 12:20] tricopterY commented on #551
Looks ten times better and more efficient. Thanks

[2015-02-26 12:41] CopterFail opened #556 "CC3D, HoTT Telemetry with main port or flex port did not work"
Using soft serial,the telemetry is fine. Using the physical ports, no response is generated by cf. Tested with: CC3D, clean flight 1.7.2 (and some earlier versions), MX12, GR-12S, protocol analyser.

[2015-02-26 13:09] bcdebusk commented on #530
GPS Waypoints and RTL should not be that difficult, but many designs need the magnetometer on a mast to sit above all the electrical noise.  I can't find the answer to two questions:

1) Is the I2C bus used by the on-board HMC5883L magnetometer the same I2C bus as exposed on pads located on the underside of the Naze32 Rev 5 board?  If they aren't, users should be able to purchase a commonly availa

[2015-02-26 13:17] tricopterY commented on #556
Is UART1/UART2 scenario set for telemetry?
eg.
feature TELEMETRY
set serial_port_2_scenario = 4
save

[2015-02-26 13:23] hydra commented on #556
Some points:

A) 1.8 will include updated serial/telemetry port handing
B)  this is likely just a mis-configuration issue - check your port configuration. There should be only ONE port with telemetry enabled on it in 1.7.2.
C) no details provided as to how you have it wired up - the FC only responds when it receives data for HoTT unlike with FrSky.
D) no configuration dumps provided.
E) there are

[2015-02-26 13:23] #556 closed

[2015-02-26 13:25] Sean295 opened #557 "Sonar not working on Dragonfly Pro32"
Running latest cleanflight and Naze32 firmware..activated Sonar, box is green at top, sonar sensor is at zero, stays there until i tilt the quad 45 degrees then it goes to -1, stays there until the quad is flat again then goes to zero. No matter hw quad is moved it only goes to -1. Using a spek satellite rx, trig and echo connected to M5 and M6, 5 volt and grd connected....tested on 2 sonar units.

[2015-02-26 13:30] hydra commented on #530
Let's keep this conversation specifically about GPS Waypoint support.  Discuss sensors in other topics please.

Good GPS PH is key, once that is better we can start getting all fancy with RTH and Waypoints.

Blocking this until GPS PH is improved.

[2015-02-26 13:33] hydra commented on #530
Please also search and comment on the other topics before starting new topics too since there is much duplication in the tickets right now.

See #61 #197 #270 #363 #251 #113 #234 #251 #476 #490

[2015-02-26 13:33] hydra commented on #476
Blocking, GPS PH needs improving first.

[2015-02-26 13:34] hydra commented on #197
Getting a solid PH is key here.  Let's keep this ticket focused on improving GPS PH.  Renaming to reflect since this ticket is too vague.

[2015-02-26 13:35] hydra commented on #270
Need better GPS PH first, see #197

[2015-02-26 13:39] hydra commented on #557
[code]

Please connect using the correct pins, reopen if there's still an issue.  Remember to read the docs regarding the inline resistors.

[2015-02-26 13:39] #557 closed

[2015-02-26 13:43] hydra commented on #548
Thanks for the report.  Having it logged here is the best place, if you want to get someone to look into this then feel free to post a link to this issue along with your call for help.

[2015-02-26 13:46] hydra commented on #546
also as reported switching profiles also makes some BLHeli oneshot escs re-initialise.  Likely both caused by signal loss at the ESCs during beeping events.

The buzzer/beep/notification system needs an overhaul.  Generating beeps should not block.

[2015-02-26 13:49] hydra commented on #544
As a workaround, define an adjustment in the other two profiles that uses the same aux channel and same slot in the other two profiles but set it to 'do nothing' / 'no changes'.

I think the adjustment state needs resetting when profiles are switched.  This is a bug, thanks for the report.

[2015-02-26 13:58] #544 closed

[2015-02-26 13:59] hydra commented on #544
That commit /should/ fix it, please re-open once you have verified the fix using a binary that includes this change.

[2015-02-26 14:07] CopterFail commented on #556
Is there a diffence in wiring / configuration to softserial? I've tested a 1N4148 and a simple 1k resistor, both work fine with the softserial, but fails with physical ports.
The enhancement in #260 does not touch the port handling - in case you think about E). I've tested pierre's version too.
The config is a full reset device with the suggested settings from serial.md (the port number are wrong

[2015-02-26 14:22] matbogdan79 commented on #197
I am not an expert in GPS and GPS PH, but read that this is already done in other projects with great success. Isn't easier to get inspiration from the code already made and tested ?

[2015-02-26 14:50] hydra commented on #197
Yes, we can leverage existing code.

[2015-02-26 16:20] clos8 opened #558 "Firmware wont load from On Line"
When I go to load firmware on line it says failed to load firmware. I have to download and load it locally. Any ideas? I am on the network.

[2015-02-26 16:24] PaulHam211 commented on #546
Dominic that might be the reason.
I reported this on the irc channel the other day. I didn't realise at the time that the escs also re initalise when trimming the accelerometer using the sticks

[2015-02-26 17:40] hydra commented on #558
Yeah, something has changed with github/amazon s3, as of today from inside the Chrome debug console issue this:

`$.ajax({url:"https://github.com/cleanflight/cleanflight/releases/download/v1.7.1/cleanflight_ALIENWIIF1.hex"})`

results in:

` XMLHttpRequest cannot load https://s3.amazonaws.com/github-cloud/releases/9066347/6ee31b7a-ac62-11e4-8…TNZFOVBIJMK3TQ&Expires=1424972257&Signature=DgfKCgr05Q0

[2015-02-26 17:48] hydra commented on #558
Fixed with this:

https://github.com/cleanflight/cleanflight-configurator/commit/400ac563c99389d61640b089ae0bf1f9f2cc43be

requires a release of the configurator :unamused:

[2015-02-26 17:50] #558 closed

[2015-02-26 18:49] matvey83 commented on #391
This would be a great feature.

[2015-02-26 20:47] Sean295 commented on #557
My mistake...didn't know when using serial rx to connect to the esc side. Added resistors...working great...thank you

[2015-02-26 21:17] fiveangle commented on #546
FYI: I've not seen any of these issues on Flyduino PR1575 K.I.S.S. ESC with Oneshot125 enabled so it may be related to BLHeli specifically and not Oneshot125 ESCs in general.

-=dave

[2015-02-26 21:35] RandGH commented on #541
See cf configurator ticket for steps to reproduce

[2015-02-27 02:08] bcdebusk commented on #530
My apologies.

Is there a specific thread I could go to and address the separation of the on-board HMC5883L and the integration of an alternative one on a mast?  I am inherently distrustful of a magnetometer buried between two sheets of carbon fiber and mounted below a fairly large battery.

I have an extra Naze32 Rev5 board and am thinking about doing the trace-cutting and magnetometer spoofing p

[2015-02-27 07:13] #496 closed

[2015-02-27 07:19] Ozzy33 commented on #500
Done and thanks!

[2015-02-27 07:19] #500 closed

[2015-02-27 07:43] Ozzy33 commented on #149
Would be nice to have the option to be linked or not.

[2015-02-27 14:52] MJ666 opened #560 "Autotune - G-Tune support"
I'm actually working on G-Tune support for CF and a few minor Harakiri PID controller updates. Here is my development repository:

https://github.com/MJ666/cleanflight/commits/Harakiri_PID_update

The coding is completed and I will go into testing phase now. I can do some initial tests but for an wider test I need some interested and experienced pilots to help.

Here is the related documentation:

[2015-02-27 16:08] roger1994 opened #561 "In flip 32, allow Pin 5 for LED strip while Softserial1 is also configured."
I have a flip32, configure Softserial1 TX for Frsky telemetry, Softserial1 RX (Pin 5) is not used,

Anyway to still allow Pin 5 be used for LED strip?

[2015-02-27 16:41] vadav commented on #561
As of now, softserial is not available when using Leds

[2015-02-27 16:43] vadav commented on #560
Cant wait to try this out  =)

[2015-02-27 18:44] pinkywafer opened #562 "RPM telemetry reporting incorrect with MOTOR_STOP"
When throttle is minimum, and board is armed, frsky telemetry RPM reports Minimum Throttle (ie. motors spinning) whether feature motor_stop is used or not.  When motor_stop is enabled, the RPM should be reporting the Minimum Command when throttle is minimum (as the motors are stopped)

I've made a fix for this in commit fc67c981b4669debc2a53104c68b8ad66c9c22e0 which seems to work well on my naze b

[2015-02-27 19:06] tommyleo commented on #532
Hello everyone,

I had a busy week at work.

Right now I did the test, I filled the SD Card with 16GB and after I did a delete of all files.

I made a flight, with this sensors: gyro, acc, mag, baro, GPS

Looptime = 1000

This is the log: <a href="https://www.dropbox.com/s/klfmja2rigwbsb7/LOG00005.TXT?dl=0">Log File<a>

[2015-02-27 20:11] danielolsman opened #563 "SSG (Super Simple Gimbal)"
Is there a possibility to add the SSG code

more info is found here : http://www.rcgroups.com/forums/showthread.php?t=1793759
Multiwii code is found here : http://www.multiwii.com/forum/viewtopic.php?f=8&t=3079

With this code you could use 2 servo's as a simple gimbal

[2015-02-27 20:37] SlyMike commented on #563
Its already supported!
 Tick the "SERVO_TILT" check box in the configurator app

[2015-02-27 20:48] danielolsman commented on #563
i don't think SSG is supported.

This is what i mean:

https://www.youtube.com/watch?v=KPBL4pPEzNI\

[2015-02-27 21:18] SlyMike commented on #563
Yeah, I watched that. It's actually quite an innovative design, maybe it will end up on someone's to do list.

[2015-02-27 21:58] strips commented on #560
I can test G-Tune if you got a binary for Naze.

[2015-02-27 23:00] lamnesique commented on #498
hi,
personnaly i set all my quads with the feature that the motors don't spin when armed for 3 reasons : -when i armed i know what i want and what i do so i don't need to have spin
-when i do some setup with just armed/disarmed on desktop it's just idiot and dangerous that the motor have to spin..
-when i crash (yes i'm not perfect like many pilots) in long grass or others it's stupid to burn anyt

[2015-02-27 23:03] olexs commented on #563
It's supported. See https://github.com/cleanflight/cleanflight/blob/master/docs/Cli.md and specifically the "gimbal_mix" parameter - you want "set gimbal_mix=2".

[2015-02-27 23:11] lamnesique commented on #317
hi,
+1 for arm beep feature

[2015-02-27 23:15] SlyMike commented on #563
@danielolsman looks like you can close this issue thanks to olexs keen eye.

[2015-02-28 02:35] mosh1 commented on #498
Having motors spin up when armed was one of the things that surprised me the most with Baseflight and looking to possibly switch to Cleanflight today, this is one of the first things I checked to see if it was fixed. Through years of R/C and dozens of models and electronics of all sorts this was the only time I've experienced motor throttling up on arm and where the throttle signal on control is z

[2015-02-28 02:59] mosh1 commented on #488
The default of the FC holding last command on FC failsafe caught me by surprise when I ran Spektrum Satellite (non full RX without its own failsafe) and lost signal (this was on Baseflight). Most full commercial receivers if not programmed, have the default to drop throttle and hold all other commands on signal lost. Holding throttle on signal lost is something that no full receiver has ever done.

[2015-02-28 03:38] tricopterY commented on #498
+1 all the way. It's crazy to have motors spin when armed. @mosh1 explained it really well for most scenarios/users. You smart people, who prefer a spinning prop - think about dumb guys like me too. You can disable MOTOR_STOP to suit yourself, at will.

[2015-02-28 03:50] mosh1 commented on #498
IMO the "smart people" should still have MOTOR_STOP enabled, and instead if they want spinning props at zero throttle when armed to set up a separate flight mode on the radio for this that adjusts the actual throttle curve on the radio for that flight mode to suit. In this case that flight mode can also be an 'aerobatic mode' where they won't have the motor completely stop at lowest throttle stick

[2015-02-28 03:58] fiveangle commented on #498
#1 I think the problem here is that it's *not* explicit, because it's performed by relatively "loose" stick movements and is prone to not engaging under many circumstances when setting up a new craft, so if someone performs the arm maneuver and the craft doesn't immediately respond to throttle up afterward, then it is in an unknown state (TX channels not set up correctly, THR not working at all, a

[2015-02-28 04:12] fiveangle commented on #488
Agree 100% @mosh1

I think the idea of adding disarm automatically on signal loss to that sequence should be via a new issue if someone else wants to raise it (and reference this one).

-=dave

[2015-02-28 04:48] mosh1 commented on #498
#1 For the specific situation of those setting up a new craft, there can be much better ways of letting the user know it's armed than spinning the motors. Flashing lights, audio and an alert when connected to the configurator, etc. And if those won't work then they can explicitly disable MOTOR_STOP.

#2 I don't think it's common at all today to have a radio that isn't capable of using an aux for a

[2015-02-28 06:08] timkostka opened #566 "Can we standardize line lengths?"
Just to get the discussion going...

Can we standardize the line lengths within cleanflight?  The MultiWii style guide doesn't really mention this at all.  I find it quite hard to read sections of the code that have 200+ character lengths with all the horizontal scrolling required.  It's even harder if you want to put two windows side-by-side.  I've used an 80-character rule in the past and it has

[2015-02-28 07:47] tricopterY commented on #498
@hydra - please make an "autocratic decision" and make CF a much safer bet for all. People who have MOTOR_STOP disabled, never Arm their FC when on the bench or close to them - they know the motors will spin. So, what's the concern? Do they really need to see spinning props, to give them a visual indication - that's clumsy?

[2015-02-28 08:41] Hardwiring commented on #529
Optical flow sensor support would be awesome, anyone seen the parrot rolling spider? Horrible Bluetooth thing, but position hold to kill for. Is this to much to ask? I imagine there would be a lot of processing involved. These modules seen to take a low resolution image and output something far more complex than the signal from the sonar unit.....

[2015-02-28 09:18] danielolsman commented on #563
Ok, thanks for the comments. I will try it.
issue closed.

[2015-02-28 09:18] #563 closed

[2015-02-28 09:40] matbogdan79 commented on #529
Optical flow sensor , get an low res image with high FPS and with some image processing ( matrix processing ) can give you left/right forward/backward movement with high accuracy on low altitude and with good light conditions. The sonar is other axe of movent up/down.
Processing the image should be possible on 32bit proceesor because it is a low resolution.

Here is some example of the data is out

[2015-02-28 09:46] jamesb72 commented on #317
Is there any plan or schedule for this feature to be implemented, it sounds like its a one line change, and others have hacked it, so can't be difficult ?

I was recommended cleanflight, as it was more actively developed than baseflight (a friend reckoned baseflight wouldn't last another year!), but they have this arm beep and cleanflight fliers are still waiting ?

If this has been refused, can w

[2015-02-28 10:15] tricopterY commented on #566
+1 Definitely much easier to read and comprehend. I hope any additions/updates to the code, could add more inline comments, to help newcomers like myself to follow the code and be able to contribute.
After all, this is supposed to be an open collaboration.

[2015-02-28 10:49] ledvinap commented on #566
speaking of style:
[code]
is more readable, the operator is before item it binds to ..

[2015-02-28 12:23] MJ666 commented on #560
I have finished the initial tests and have posted an Hex fro the Naze here:

http://www.rcgroups.com/forums/showpost.php?p=30919237&postcount=3897

Please read this post before you go ahead. I also can provide test binaries fro other targets if there is interest.

[2015-02-28 12:36] tricopterY commented on #566
I guess not all functions in CF need a description, as the naming convention is pretty good.
But, any new functions should provide the basic function description. May be someone would like to document the API in future.
/**
* @brief This function updates inflight calibration state and flags it to be saved to eeprom.
*  Only called if FEATURE_INFLIGHT_ACC_CAL is  set.
* @param None
* @retval None
*

[2015-02-28 17:34] waslater commented on #549
That is cool. +1

[2015-02-28 20:15] Rob2160 opened #567 "Artificial Horizon in Cleanflight configurator is wrong - IE pitch & roll are reversed"
Just noticed this.

When you pitch nose down, your artificial horizon should rise - when you roll left the left side of the horizon should rise.

Currently the display is opposite to how a real artificial horizon works.

See my video here.

https://www.youtube.com/watch?v=fhwFLmB2H0M

This is how it should display.

https://www.youtube.com/watch?v=dsCt88b5lwI

https://www.youtube.com/watch?v=PUmJO

[2015-02-28 20:54] MJ666 commented on #560
Did some more flight testing at the flying field. Please see here:

http://www.rcgroups.com/forums/showpost.php?p=30922850&postcount=3920

[2015-02-28 21:10] vadav commented on #560
Tested the hex you provided for the naze, and found front/right drift in acro mode. Tried to use gtune, but nothing was saved...  activated gtune while in air, flew around and made sure not to touch stick for as long as i could..  with some throttle bumps..   landed, disarmed and turned off gtune..  as your doc say "the tuning results will only be saved if you disable G-Tune mode while the copter

[2015-02-28 22:08] MJ666 commented on #560
I have tested this a couple of times (10-15 flights) and it was working for me. Was also testing on PID 0, PID 3 and PID 5. I have 3 profiles configured. On the NAZE you can se when it is saving. One of the LED's is flashing during save. I usually activate G-Tune already before takeoff but it should get active any time. Tuning will happen anytime when the sticks are released and there is no input.

[2015-02-28 22:14] vadav commented on #560
My test was in pid controller 5 with only one profile in use.

Can you confirm that you have to disarm before turning Gtune off, to make it save results.

[2015-02-28 22:31] MJ666 commented on #560
Yes first disarm and the switch G-Tune of. Switching G-Tune off before disarming will not save but will keep the new P values in memory as long you will not power off.

BTW: I use a switch for arming. Not sure if this makes a difference? Normally it should not.

[2015-02-28 22:34] vadav commented on #560
All ok now, stupid me didnt have trims centered..    all working as it should!!   =)

[2015-02-28 22:57] MJ666 commented on #560
This was likely also your drift :-)

[2015-02-28 22:59] vadav commented on #560
Sure was..   now im praying the weather gods are nice tomorrow..    =)

[2015-02-28 23:13] tricopterY commented on #567
Please open an issue in:
https://github.com/cleanflight/cleanflight-configurator

[2015-02-28 23:20] vadav commented on #560
While we're at it..  what does this do?   set pid5_maincuthz = 12 [1-50Hz] Cuf Off Frequency for D term of main Pid controller

[2015-02-28 23:28] MJ666 commented on #560
Please see here:
http://www.rcgroups.com/forums/showpost.php?p=30910398&postcount=3819

[2015-02-28 23:57] digitalentity opened #569 "Flight - Altitude calculation errors caused by looptime fluctuations"
I have a BMP180 sensor connected to my CC3D and I noticed that it produces strange spikes every few seconds. This is likely not a hardware issue as I have connected a BMP085 breakout board and seen these spikes as well. Configurator does not show any I2C errors. Copter is sitting still on my table.
![2015-03-01 09 49 09](https://cloud.githubusercontent.com/assets/11059099/6428759/b9cbf054-bff8-11e

[2015-03-01 00:14] Rob2160 commented on #567
Thanks, I have now done so and will close this one.

[2015-03-01 00:14] #567 closed

[2015-03-01 01:02] thenickdude commented on #532
The longest observed looptimes from your log:

[code]

That's actually shockingly good performance considering how slow microSD cards can be without violating the spec. That's a Sandisk Extreme, right?

[2015-03-01 04:23] tracernz commented on #566
I agree on the line length. I also agree that functions should have doxygen style descriptors. I'm not so sure about adding too many inline comments, what you end up with there is comment rot and then they're the opposite of helpful. Well written code should read almost like English anyhow.

[2015-03-01 09:21] tommyleo commented on #532
Yes, Sandisk Extreme 16GB Class 10 UHS-I microSDHC

I think that is good performance, considering looptime=1000 and rate 1/1, and all sensors activated!

[2015-03-01 11:20] SlyMike commented on #569
Do you have an i2c oled display connected? I noticed similar behaviour with my nase32 the other day. I was getting an occasional spike but also noticed a stepping pattern imerge as the pages changed on the oled display.

[2015-03-01 11:35] thenickdude commented on #569
Hm if that's the case then maybe the barometer code doesn't tolerate
variance in the looptime (I'm assuming that updating the display creates a
lag spike).

[2015-03-01 11:35] SlyMike commented on #569
Just tried to recreate my trace for you and ended up with this instead...

![screenshot 2015-03-01 11 30 51](https://cloud.githubusercontent.com/assets/10333811/6430548/d03235f2-c006-11e4-9358-c808960fc0e9.png)

Not what I expected!
Currently running Cleanflight/NAZE 1.7.2 Feb 23 2015 / 14:21:30 (afe44d1). I got the stepping pattern on 1.7.0.

[2015-03-01 11:51] SlyMike commented on #569
Flashed back to 1.7.1 to see if the original steps were there...

![screenshot 2015-03-01 11 42 07](https://cloud.githubusercontent.com/assets/10333811/6430596/a4b0dec2-c008-11e4-8e60-66182c52d2af.png)

![screenshot 2015-03-01 11 43 05](https://cloud.githubusercontent.com/assets/10333811/6430597/c03fa4fc-c008-11e4-9071-d0a313754763.png)

![screenshot 2015-03-01 11 43 38](https://cloud.githubuserco

[2015-03-01 13:08] Fvk1960 opened #572 "Ledstrip indication issue"
I have 2 ledstrips with each 8 leds.
I want to configure led 0,7,8,15 as corner indicator and remaining as ring.
if i wire whole 16 led at top line of the grid the indicator leds for pitch and roll seem to determine themselves there orientation regarding NSEW. Led1 assumes W all other assume E.
Even if i assign a compass direction to these leds this is not taken over.
My target is
LED0+7 Roll left

[2015-03-01 18:34] strips commented on #560
I had a 30 minute window to play inside today :)

I tested on PIDC 2 and flicking on G-Tune upped all Ps to 20 in GUI!!! It didn't have enoug power to lift off. Just wobbling on the floor. When I restored old PIDs and turned it on 50cm above the flor it started shaking violently and tumbled to the floor. I did not have more time to try limiting the max P. But it seems like G-Tune starts out at max

[2015-03-01 19:00] zdar opened #573 "IO - Servo gimbal on tricopter"
Could servo gimbal be allowed on tricopter? At least with one servo? Note: there are two outputs available  - one "servo" and one "esc".

Genarally it would be nice to be able to map "gimbal" (and motors) to any output pin(s).
Also it would be nice to be able to select which axis should be stabilised...

[2015-03-01 19:42] MJ666 commented on #560
The default max for P is 7.0. Did you modified the default settings? The range for P is between 2.0 and 7.0 (default, but can be changed in the CLI). If the starting P is in-between this range it will start with this one if it is above the range it will start with the configured minimum. If you fly in Level or Horizon the roll and pitch PID's should not be touched. What was your starting P if you

[2015-03-01 19:52] zdar opened #574 "PPM RX and PWM RSSI at same time"
Is there a chance to have both at once? E.g. to have PPM on one input and PWM RSSI on another input? Read FrsKY withou pwm->adc conditioner...

Another solution would be to put PWM channels (inuts) after PPM ones

[2015-03-01 23:12] digitalentity commented on #569
@SlyMike, no problem, we seem to have a common problem here.

I've noticed alot of spikes when motors are running at high throttle, this is probably a noise in powerlines issue. Will to some more testing in a few days.
Also ordered a new baro, this time a MS5611, to see if the issue is indeed hardware related.

[2015-03-01 23:20] MJ666 commented on #560
Found the problem for LuxFloat and G-Tune. committed a fix an will publish new HEX here:

http://www.rcgroups.com/forums/showpost.php?p=30933507&postcount=4026

[2015-03-02 00:09] thenickdude commented on #569
WIth props attached? Because with props on, you expect spikes at high
throttle due to prop wash.​

[2015-03-02 02:02] agrath opened #575 "Flight - Pitch/Roll Rotation limit / 2D Mode"
Suggestion for when in "rate" mode, aka not horizon/angle
A limit to maximum rotation off level angle for pitch/roll; the copter would not return to level but you could not rotate it past more than 45 degrees (configurable)
You would still have manual control over the angle off level, just like normal rate, but you wouldn't be able to over-rotate the quad.
This would be great for people trying to

[2015-03-02 02:06] magnazan commented on #575
This is exactly the same as what you can do with the Eagletree Vector mode called 2d. Very handy and great for just cruising around.

+1

[2015-03-02 02:11] tracernz commented on #550
I think if you change to
[code]

Unfortunately I don't currently have a toolchain setup so I can't compile anything at the moment and not a lot of free time to get it setup. Would you mind trying this out @pinkywafer ?

[2015-03-02 02:28] digitalentity commented on #569
@thenickdude Spikes due to prop wash are expected and present, but they are not a 25 meters variance. Moreover, I have my baro covered by piece of HEPA to prevent high speed air flow from messing with baro readings.

[2015-03-02 08:09] dkisselev commented on #529
Optical flow sensors come with their own processing chips built in, the ADNS3080 that we're talking about basically makes the motion vector available on an SPI bus that updates a certain speed (can't find the exact sped right now, but it's fast enough. PX4Flow is similar but uses i2c and outputs the data in a slightly different way).

All that needs to be implemented on the Cleanflight side is tak

[2015-03-02 08:59] pinkywafer commented on #550
Ok, I'll have a look at it this evening

[2015-03-02 10:14] hydra commented on #572
please:
a) provide configuration dump of the configuration you tried that didn't work for you
b) provide a screenshot of the led tab
c) raise one issue per ticket

[2015-03-02 10:25] hydra commented on #566
code should document itself where, ever possible.  comments rot and can't be refactored automatically.
i don't want to be draconian with line lenghts.

two simple rules apply:
1) do less per line - makes diffs much easier to read and the lines never get long in the first place.
2) if you have to scroll sideways to read it, it's too long.

[2015-03-02 10:25] #566 closed

[2015-03-02 10:26] hydra commented on #566
A PR with some coding/style guidelines might be useful now.

[2015-03-02 10:29] hydra commented on #562
PR please

[2015-03-02 10:30] hydra commented on #561
hardware limitiation, closing.

[2015-03-02 10:30] #561 closed

[2015-03-02 10:30] hydra commented on #555
Please create a pull request for this.

[2015-03-02 10:51] pinkywafer commented on #550
Just posted PR for similar issue... I think I may have to use ```escAndServoConfig->minthrottle``` instead of ```rxConfig->mincheck```  I'll get on it when I get home from work!

[2015-03-02 11:17] ledvinap commented on #550
IMO this won't help. Quadratic current approximation used in virtual current sensor will be usable only on much higher currents, so it make sense to use currentMeterOffset as disarmed consumption (quad may be disarmed but on for long period of time) and ignore low-current inaccuracy when armed.

If you want better precision, use more points for quadratic approximation and/or use motor command as s

[2015-03-02 12:59] pinkywafer commented on #550
I agree more points = more precision, but with motor_stop and motors not spinning (ie closed throttle) current draw is going to be the same as currentMeterOffset

[2015-03-02 14:01] ledvinap commented on #550
I checked my logs and current estimate is about half of actual value with minthrottle and FEATURE_MOTOR_STOP disabled. So it may actually gain some precision ...

Same check as https://github.com/cleanflight/cleanflight/blob/master/src/main/flight/mixer.c#L688 should be used..

[2015-03-02 14:51] heathicus commented on #503
If a change has to be made, why not just separate the Firmware and Board options into two drop-downs.  First drop down chooses a board.  Then the second drop down is a filtered list of the firmware applicable to that board with the most recent stable being the default.

[2015-03-02 15:54] hydra commented on #503
that is closer to the mark @heathicus yes.

Using drop-down menus and  sub menus is also not scalable and would make (IMHO) a horrid user experience.

providing the 'board' as a dropdown is fine, since there is a small list that changes infrequently and would lend itself to being automatically set based on an MSP inquiry to the board.

the main issue to fix is the dropdown, it's not a scalable ui

[2015-03-02 19:04] hydra commented on #574
Duplicate, see #208 - please search first.

[2015-03-02 19:04] #574 closed

[2015-03-02 19:07] hydra commented on #545
@natanke Any update?

[2015-03-02 20:49] zdar commented on #208
Let me expand this according to closed #574

Could the input code be altered in away to allow both serial/ppm and PWM at same time?
 E.g. to take channel 1-8 from PPM (or other serial format) and channels 9+ from remaining input (PWM) pins. This way more than 8 channels could be possible (e.g. two receivers connected) and it would also solve PWM RSSI problem.

[2015-03-02 20:53] strips commented on #560
Did some quick flights in the dark now. Looks much better. I had only one charged battery so I just managed to quickly test PIDC 2 and 5. I have a slight yaw drift and I presume thats why I did not see any change in yaw P.

At least it behaved perfectly and should not be a problem to implement in main release. At least when thinking of the other autotune still in the main release.

Posted som pics

[2015-03-02 21:58] sirbadger opened #578 "Failsafe causes props to spin even though throttle was at zero"
Board was armed and throttle at 1007, signal lost to RX, RX set throttle to 920 (failsafe on RX), RX regained signal, board span motors up briefly to 1200, settings:

failsafe_delay = 10
failsafe_off_delay = 200
failsafe_throttle = 1200
failsafe_min_usec = 985
failsafe_max_usec = 2115

Should the failsafe kick in and spin up motors even if throttle was at zero?

[2015-03-03 05:51] nebbian commented on #548
I've made a code change to get this working, and it's working in bench testing.  Will submit a pull request when it's flight tested (thanks @smarblewnec)

[2015-03-03 06:52] natanke commented on #545
@hydra No, because I'm not a programmer.

[2015-03-03 08:39] hydra commented on #545
Ahh OK, in that case perhaps I or someone else will make you a binary to test with the extra delay in it as above when we get time.

[2015-03-03 09:30] natanke commented on #545
@hydra well thank you, I'll wait to test it)

[2015-03-03 10:44] hydra commented on #276
this is a duplicate of #112

[2015-03-03 10:44] #276 closed

[2015-03-03 10:53] hydra commented on #578
I'm failing to see how the failsafe kicked in if your RX was sending a signal all the time.

the failsafe _only_ kicks in if no signal is received from the RX.

see:

https://github.com/stone/cleanflight/blob/master/src/main/rx/rx.c#L207-L211

and here:
https://github.com/stone/cleanflight/blob/master/src/main/rx/rx.c#L257-L262
https://github.com/stone/cleanflight/blob/master/src/main/rx/rx.c#L276

[2015-03-03 11:28] hydra commented on #395
@avoid3d are you working more on this or shall we close it?

[2015-03-03 11:30] hydra commented on #505
Ok, closing this now since the PR was merged, please submit new PR to update the documentation as required.

[2015-03-03 11:30] #505 closed

[2015-03-03 11:53] hydra commented on #253
Some links to help:

http://www.multiwii.com/forum/viewtopic.php?f=23&t=5345

http://www.rcgroups.com/forums/showpost.php?p=15964797&postcount=15361

http://polakiumengineering.org/custom-multiwii-motor-mixes/

https://www.youtube.com/watch?v=il6SoU8Hnak

[2015-03-03 11:57] hydra commented on #385
The hard fault handler has been changed, the problem with random motor spin-up on reboot persists.  The issue is elsewhere.

[2015-03-03 11:59] hydra commented on #385
See commit b9e1283809ec97353722f7b85ce7e5481e035259

[2015-03-03 12:01] hydra commented on #385
@tricopterY good to know the problem also occurs with baseflight

I'm starting to think this is perhaps a hardware issue with certain ESCs.

I would like someone to try converting the PWM outputs from 3.3v to 5v.

[2015-03-03 14:16] rebdel commented on #545
Hi, i´m also interrested.. which piece of code must be editied?

Can compile it myself..

thx

[2015-03-03 15:54] sirbadger commented on #578
The RX (OrangeRX R615X) drops the throttle to 920 when its failsafe kicks in.

Whilst watching the receiver tab it very briefly jumped to 1200 after signal was restored.  Perhaps this is a coincidence but after setting failsafe_throttle to 1000 it jumps to this value after signal is restored but obviously the motors do not spin.

The receiver was off for only a few seconds.  I'm not sure if its re

[2015-03-03 16:07] sirbadger commented on #578
For clarify i should have said the throttle rc input hit 1200.  I cant be sure of the motor output.

[2015-03-03 17:40] joefarmer commented on #555
I've added pull request #579 for this.

[2015-03-03 18:24] catchthewind commented on #548
That would be great to have it working.
How long is it going to take to have it implemented into official version?

[2015-03-03 18:35] sirbadger commented on #578
Ive just tried again with failsafe_throttle = 1300, turned transmitter off, RX set throttle to 920 (this is the failsafe it was bound with), turned transmitter back and throttle rc input jumps very briefly to 1300, motors spin and then throttle rc input returns to 1000.

[2015-03-03 18:54] vadav commented on #575
Best way to achieve this would be the ability to turn on/off the leveling in Angle mode, as we already have a max angle setting in cli for that..

[2015-03-03 20:44] zdar opened #580 "GPS - Add MTK support"
I'm thinking about adding MTK GPS. I have code mock-up in my fork
https://github.com/zdar/cleanflight/commit/99f65e883589b14be7ef50c7779f06cda5ea3671

It is completly untested now. Before I continue with it into usable form (and pull request) - Is proposed solution/code style acceptable?

[2015-03-03 20:50] avoid3d commented on #395
Hey, thanks for the ping, been very busy moving country, keen to get started coding and flying again soon, will definitely be working more on this!

[2015-03-03 23:06] hydra commented on #369
The original request is now possible in 1.8.x.  Please test and re-open if there's an issue.

[2015-03-03 23:06] #369 closed

[2015-03-03 23:19] hydra commented on #487
A new branch has been created with a potential fix.

https://github.com/cleanflight/cleanflight/compare/sbus-rx-failsafe

Please compile and test with your Futaba RX and let me know what you see on the receiver tab.

[2015-03-04 00:01] hydra commented on #3
Latest development branch now supports this.  Please re-open if there are issues found.

[2015-03-04 00:01] #3 closed

[2015-03-04 00:02] hydra commented on #40
Done, see master branch.  Please re-open if issues are found.

[2015-03-04 00:02] #40 closed

[2015-03-04 05:42] smarblewnec commented on #548
I should be able to test fly it in the next couple of days.  After that, I am not sure how long it will take. So far the bench testing works great!   Nebbian may have more info on how long it will take to get into a firmware update.

[2015-03-04 07:39] catchthewind commented on #548
Great, thanks for your help!!

[2015-03-04 07:46] thenickdude opened #581 "Invalid read of memory during hmc5883 compass initialisation"
The function [detectMag()](https://github.com/cleanflight/cleanflight/blob/94e499f9aae8b7f36568bd949b841503f89394ea/src/main/sensors/initialisation.c#L455) is called from `intialisation.c` to detect which magnetometer is in use. On the Naze, this function creates a nazeHmc5883Config on the stack and passes the address of this structure to [hmc5883lDetect()](https://github.com/cleanflight/cleanflig

[2015-03-04 08:57] #581 closed

[2015-03-04 09:54] l2smith2 opened #584 "CC3D becoming unstable mid flight"
I've recently put cleanflight on my CC3D board which was performing well using Openpilot firmware.
I switched because I wanted to use oneshot on my new Kiss escs and I don't like the GCS GUI.

General hovering and flying around all seemed well but when flying much faster but no rapid stick inputs in Angle mode the miniquad became very unstable. Seemingly trying to level itself at changing angles t

[2015-03-04 09:55] thenickdude commented on #584
Is it now doing slow oscillations? "I" set too high can cause slow oscillations.

[2015-03-04 09:59] l2smith2 commented on #584
I lowerd P because of very fast oscillation its pretty much gone now. no slow oscillation.
It was flying really well then after 1 min pitched back real hard then forward then side to side then just every which way until it hit the ground. I had pretty much no control from it starting to change attitude

[2015-03-04 12:34] tricopterY commented on #503
I have done a rush hack on the firmware flasher tab (needs better css styling) - that can be downloaded from:
https://github.com/tricopterY/cleanflight-configurator

![x](https://cloud.githubusercontent.com/assets/10737131/6483519/1a2f0af6-c2c6-11e4-9c6a-13ea6cea919a.jpg)
The AlienWiiF1 does not work, as it does not find a match, got do all lowercase compare etc.

[2015-03-04 12:43] hydra commented on #584
Does it fly OK in acro/rate mode? I.e. no horizon, no angle mode.  I saw a similar behaviour in auto level modes on a cjmcu quad just by changing the props.

[2015-03-04 16:08] lijingwei0710 opened #586 "Flight - No servo output on CC3D when using TRIcopter mode"
flashed the 1.7.2 firmware to CC3D. and using mix tri ,the servo output is S3,but can not found s3 output on CC3D.

[2015-03-04 16:30] hydra commented on #586
The pwm mappings and timer allocations needs updating for the CC3D.

[2015-03-04 16:32] bhuism commented on #572
I have the same, at first the leds are fine, and react as programmed, after some led conf changes, they become erratic and don't respond as programmed. I'll post a new issue with a) + b) later

[2015-03-04 19:12] madwasp opened #587 "Update Mixer.md"
There is no detailed information about the roll, pitch and yaw when defining a custom mixer in terms of the signal - or + .

It should exist more information in the Mixer.md documentation about how to know if the value of each motor roll/pitch/yaw should be positive or negative while defining a custom mixer.

The is allot of contradictory information in the internet forums and not easily to unders

[2015-03-04 20:46] hydra commented on #487
Merged to master.

I verified that when the RX (in my case, FrSky X4RSB) reports failsafe mode (via the flags in the data packet) that:
a) failsafe is correctly triggered when enabled in the FC
b) that the channels update to show the channel values (in the case of the X8R the value is 880).

Closing this issue.

[2015-03-04 20:46] #487 closed

[2015-03-04 20:47] hydra commented on #587
Duplicate of #253 - please search before creating new issues.

[2015-03-04 20:47] #587 closed

[2015-03-04 22:01] bhuism opened #588 "unstable leds"
To reproduce, change same led configurations + disconnect + connect + a board reset.
The leds don't initialise properly anymore, a flicker all at the same time.

hardware: an official naze32 board (afroflight32 rev5), powered by the bec of a turnigy plush 18a esc

---
# dump

# version
Cleanflight/NAZE 1.7.2 Feb 23 2015 / 14:21:30 (afe44d1)
# dump master

# mixer
mixer QUADX

# feature
feature -RX

[2015-03-04 22:49] tricopterY commented on #503
My rushed hack of Firmware Flasher - https://github.com/tricopterY/cleanflight-configurator
![x](https://cloud.githubusercontent.com/assets/10737131/6495259/938240fc-c31c-11e4-890a-3ea23962596a.jpg)

[2015-03-05 00:05] hydra commented on #588
please read the documentation regarding voltage inputs.  use forums for support, not issue tracker.

[2015-03-05 00:05] #588 closed

[2015-03-05 00:11] hydra commented on #572
@bhuism your problem is probably due to your LED VCC and DATA voltages - check documentation.

@Fvk1960 need steps to reproduce and your config dump otherwise this cannot be investigated.

[2015-03-05 00:21] hydra commented on #51
Tested with 1.8.0 development firmware.  Unable to reproduce. Please re-test and re-open if there is still an issue.

[2015-03-05 00:21] #51 closed

[2015-03-05 00:28] Davhed commented on #494
I apologize for putting a question on a closed topic. I was unable to find a definitive answer to this on the MultiWii forum or through a Google search. Does this commit mean that SBUS inverters are no longer needed for any boards, or just CC3D? I am curious if I will need an inverter for SBUS FrSky to Naze32

[2015-03-05 00:30] JBFUK commented on #494
I believe it's only the CC3D that has a built in inverter but someone else
may correct me on this.

On Thu, Mar 5, 2015 at 12:28 AM, David Trounstine <notifications@github.com>
wrote:

[2015-03-05 00:35] Davhed commented on #494
That makes sense, thank you for the clarification. Naze32 SBUS inversion would be a sweet enhancement then. Awesome work on CF!

[2015-03-05 00:41] hydra commented on #488
Ok, I think enabling FS by default and using low throttle is generally safer than a fly-away.   If we want to handle special cases please create new issues and discuss there.

@mosh1 Please update the PR to include an update to the failsafe documentation so we can merge for 1.8.x.

[2015-03-05 00:50] digitalentity commented on #531
@hydra sorry for bothering, I've made cleanups to the code and rebased #542 to most recent 'master' so it could be cleanly merged.

[2015-03-05 12:31] hydra commented on #494
Boards with F1 processors need external inverters. CC3D has one.
Boards with F3 processors do NOT need inverters. The CPU itself can do it.

[2015-03-05 15:40] sirbadger commented on #578
Any thoughts on this? config conflict or issue?

[2015-03-05 16:06] hydra commented on #569
I confirm that when disarmed you will get baro spikes when an OLED display is connected, especially when changing pages.

The baro code is coupled to the looptime, it needs decoupling.

This isn't an issue when armed since the display does not update.

[2015-03-05 16:08] hydra commented on #569
Regardless of OLED display, this still needs fixing.

[2015-03-05 18:40] smarblewnec commented on #548
Nebbian, It works!  Thank you so much!  It flies inverted just like it should now.  I have lots of tuning to do before I really push it inverted but the servo issue is fixed!

[2015-03-05 20:01] airiclenz opened #590 "RX - Futaba R3008SB SBus compatibility"
Target Naze32

I am not able to get SBUS working with a Futaba R3008SB. I tried it in all possible combinations:

- with and without inverter cable
- using input 4 (the one under GND) and not working on all other pins as well
- ```feature RX_SERIAL```
- ``` set serial_port_2_scenario = 3```
- ```set serialrx_provider = 2```
- ```feature -SOFTSERIAL``` (and also not with ```feature SOFTSERIAL```)

[2015-03-05 20:05] catchthewind commented on #548
Is it already implemented or do we have to wait some time for 1.7.3 ?

[2015-03-05 20:12] smarblewnec commented on #548
You can find the test firmware at the link below so you can start using it right away.  Hydra or Nebbian may have more insight on when it would be added to an official release.  I am not a developer so I don't know that kind of stuff.  If you are going to use it I would recommend using something other than PID controller 0.  It flew awful until I switched to PID controller 1.  Now it is great and

[2015-03-05 20:14] smarblewnec commented on #548
It shows that I closed the issue above my last post.  I did not mean to and must have clicked the wrong button.

[2015-03-05 21:53] Davhed commented on #494
OK thanks for the clarification. I guess that means since the Naze32 uses an STM32_F1_03CB it requires an external inverter. Thanks!

[2015-03-05 22:14] nebbian commented on #548
Pull request here:
https://github.com/cleanflight/cleanflight/pull/591

[2015-03-05 22:24] digitalentity commented on #569
I don't have an OLED connected, just usb vcp, mag, baro and gps.
On Mar 6, 2015 3:07 AM, "Dominic Clifton" <notifications@github.com> wrote:

[2015-03-06 02:31] mosh1 commented on #488
Done.

[2015-03-06 07:02] MJ666 commented on #523
Just working an VBat support for the AlienWii F3 which is quite similar to Sparky. Two pins which can be configured as ADC input and using the same ADC can be configured for voltage and current monitoring.
Here I would recommend PWM8 (current) and PWM9 (voltage). This will allow at least voltage monitoring even with an Octocopter. PWM10 is also capable as an ADC input but is part of an different A

[2015-03-06 08:42] Heliot1 opened #593 "CC3D with FrSky TFR4-SB"
Hey there,

acutally i got an issue with the receiver above. I can't get it working. There is absolutely nothing coming into the FC. Docs say, that i won't need an inverter with the cc3d. The courious thing...on openflight it isn't working, too. Maybe because of the Banggood board?! Are there different hardware versions of the cc3d?
With an "normal" TFR6 with PWM i can get every channel working...

[2015-03-06 09:13] maximan commented on #523
@MJ666 I have already gone for GPIO pins 1 and 4, which correspond to PWM 9 and 10 on the Sparky board and have a build to test (but won't be able to test until next week). I think the trickier proposition is going to be adding support for BUZZER and SONAR - although I think the solve for SONAR will be the same PWM5 and PWM6 solution used for Naze. DISPLAY is quite a bit more work also, but arguab

[2015-03-06 09:41] MJ666 commented on #523
@maximan PWM9 and PWM10 will not play together for ADC. You should use the pins as described above. This would require a major code rewrite for the ADC support @hydra may comment this. The buzzer can be configured to any available IO pin. Unfortunately they are not easily accessible (only via soldering to the STM directly. May be using PWM10 will be an option but I need to take look at the code if

[2015-03-06 09:53] maximan commented on #523
I went for PWM9 and 10 as this is what TauLabs are using, so I assumed these would be okay? The schematic shows the inline resistors on these pins: https://github.com/TauLabs/TauLabs/blob/next/flight/targets/sparky/hw/Sparky_v1.0.pdf

Telemetry is already working, I believe. I don't mind a bit of soldering to add a buzzer - although this issue is related that would offer an alternative: https://gi

[2015-03-06 10:20] MJ666 commented on #523
@maximan I agree from the hardware it will work. Only the actual ADC driver implementation of CF will not support this as it is an need some major changes.to support ADC cannels from multiple ADC's. PWM10 is on ADC1 and PWM8/PWM9 are at ADC2.

[2015-03-06 19:17] u8mydog commented on #590
I'm able to get it working between FrSky S.Bus and Naze32. The only difference with my setup is I have feature SOFTSERIAL disabled. AND, the naze32 does not support inverted serial for the hard uart so I modified my receiver to invert the serial protocol. I am using cleanflight/Naze 1.7.2.

[2015-03-06 19:19] airiclenz commented on #590
I am also using cleanflight / Naze 1.7.2.
Because I was not sure I tried it with SOFTSERIAL enabled and disables as well as with inverted signal and non-inverted signal... nothing.

[2015-03-06 19:39] airiclenz commented on #590
one more thing... it is working without any issues with the latest version of baseflight.

[2015-03-06 21:10] andypnz opened #595 "JR XG8 XBus channel mapping incorrect"
Using a JR XG8, XBus mode B, 731BX receiver.

Using JR/Spektrum channel mapping......

Tx pitch = roll in cleanflight
Tx yaw = pitch in cleanflight
Tx roll = throttle in cleanflight
Tx throttle = Aux 1 in cleanflight
Tx Aux 1 = yaw in cleanflight

Maybe we need custom channel mapping?

Also, using just a JR DMSS satellite (RA01T), the same channel mapping issue remains....

Thanks
Andrew

[2015-03-07 16:25] Pierre-A commented on #595
**andypnz**, did you try the *map* command in CLI ?

[2015-03-07 21:02] andypnz commented on #595
Thank you! Was unaware of that command...

AER2T134 and all is perfect :-)

[2015-03-08 01:09] tricopterY commented on #503
I would appreciate a feedback for the firmware flasher hack. Just download it and test it in the interim, until @hydra does his proposed paginated table.
The only side effect is for CJMCU, only gets the last three, since one in-between release is missing from the traversed indexes.
I have also updated the change log, with my fixes.

[2015-03-08 01:21] Ravenholm14 commented on #546
The double Int beeps in BLHeli 13 is a documented feature not a bug. Because the ESC F/W can run either with or without Oneshot, he second set of beeps are to signify it has detected Oneshot and has enabled it in the ESC F/W. Thus why you don't get it with the KISS ESC's, it's not a Oneshot problem but a BLHeli Feature.

[2015-03-08 13:20] Murphy-c commented on #573
I believe this is issue has already been brought up, see https://github.com/cleanflight/cleanflight/issues/162 for reference.

[2015-03-08 14:53] RC2211 opened #597 "LED Strip with PWM receiver"
Hello guys. First off: thanks so much for the hard work on Cleanflight.

My issue is this: I only use PWM and S.bus Receivers. I recent installed some WS2812 LEDs onto my 250 quad, and found out I need a PPM receiver to support this.

Could you guys add an option into the firmware where you can choose to have Pin 5 powering the LEDs and all of the other RC pins still supporting PWM?

Thanks for an

[2015-03-08 18:50] Ludn opened #598 "CC3D without Mag detection (external HMC5883L @Flexi Port)"
i did read #525 which should be included in v1.7.2?- not sure if my board GY271 is really ok.
Checked SDA SCL interchange already.

Set up Ports UART3 = unused, set mag_hardware=2.
This is the only way to get after boot up the sequence as follows.
Scaned with a logic analyser, does not look too bad:

Write 0xEE + NAK
Write 0xEE+ NAK, Write 0x3C + ACK, 0x00 +ACK, Read 0x3D + ACK, 0x48 + NACK
follow

[2015-03-08 22:00] digitalentity commented on #597
Hello! I have had this problem as well. Solved it using a cheap pwm to ppm
converter from eBay. Not sure if your suggestion can me implemented in
firmware without much effort.

On Monday, March 9, 2015, RC2211 <notifications@github.com> wrote:

--
С уважением, Константин Шарлаимов

Regards, Konstantin Sharlaimov

[2015-03-08 22:15] RC2211 commented on #597
Thats a great idea. I'm a bit tight for space, but it could work.

I would still like to see someone try to add this to the firmware.

All that needs to be done is isolate RC pin 5 from the others, although I don't know much about coding techniques

Thanks!

[2015-03-09 01:32] u8mydog commented on #590
I've done a lot of digging around into this topic but I'm by no means an expert. I don't know how baseflight can do it on naze32 because the baudrate for S.Bus is too high for softserial and the STM32F103xx processor does not have built in support for inverted serial. I did notice that cleanflight has comments that sound like inverted capability is available on USART2 using Pin_2 (PB2 BOOT1 signal

[2015-03-09 07:21] ledvinap commented on #590
I did not find any means for SBUS inversion on NAZEv5 when checking PCB.

[2015-03-09 09:24] thenickdude commented on #598
It's impossible to set `mag_hardware` = 2 in 1.7.2 using the CLI due to a bug which was fixed in this later commit:

https://github.com/cleanflight/cleanflight/commit/8a541a9fa28197da2d3f2b858ba837be5b9cea1d

Use "dump" to confirm the actual value of your `mag_hardware` setting.

[2015-03-09 10:09] Ravenholm14 commented on #317
I've created a pull request for my code... #599
See how it goes.

[2015-03-09 14:02] jamesb72 commented on #317
Thanks Ravenholm14 - that looks perfect, no wonder we've waited so long for such a huge re-write ;) Seriously, thanks !

[2015-03-09 15:11] edugit opened #600 "Autotune - Yaw not usable in a tricopter"
Reading how autotune works  It only autotunes roll and pitch from my understanding. Yaw PID is a proportional calculations from the other two, and this is calculated for a quadcopter.
I used autotune in a tri. It worked well for pitch and roll but increased a lot the yaw PIDś making the tri uncontrolable in that axis.

Is it posible to disable the yaw PID calculations? or enable autotune only for

[2015-03-09 15:30] airiclenz commented on #590
I don't need inversion on the Naze32 as I can invert the signal with an inverter-cable quite easily (here is the inverter I developed for this: https://oshpark.com/shared_projects/lBozCaxv).

I am not sure how baseflight does it but it work flawlessly with the pin marked with 4 (UART-2 RX following the cleanflight documentation https://github.com/cleanflight/cleanflight/blob/master/docs/Board%20-%

[2015-03-09 16:41] P-I-Engineer commented on #465
this is great, this what i was looking for.

i'm assuming this would allow me to run osd on uart 1 and frsky telem on soft serial and still have a current sensor hooked up.

thanks for all the great work.

[2015-03-09 17:18] fiveangle commented on #317
I see it passed Travis tests, but I'm not sure if that covers the condition where Blackbox is configured ?  Does this result in a double-beep upon arm ?

[2015-03-09 18:55] Ludn commented on #598
Thanks, can't wait getting this brilliant project to work also on other flight controller like sparky or flip32+.

'set mag_hardware = 2' writing on CC3D is confirmed using 'get' or 'dump'.
Indeed other setting does also create I2C communication on flexi port 682ms after boot up as noted above. However 'Mag' is not detected also an additional GPS doesn't help on this.

I have seen some SW-fragment

[2015-03-09 20:57] Ravenholm14 commented on #317
I'm not sure how blackbox is relevant. This is an audible tone for the pilot to hear.
Feel free to fix anything i've missed, I'm no developer, but can copy and paste ok ;)

[2015-03-09 21:09] ledvinap commented on #317
@fiveangle : blackbox beep will follow after arming beeps, so it should be OK.

Adding another code that does busy waiting is probably much bigger problem. At least baro related code may be affected (baro spikes (probably) when loop() is delayed too much), may cause funny bugs when someone tries to takeoff with altitudehold enabled ...

In general is is bad idea to delay more than few us. CF main

[2015-03-09 21:22] fiveangle commented on #317
@Ravenholm14, having blackbox configured results in a beep upon arm with current code (presumably due to blackbox detecting arm, then firing buzzer).  I just thought it would be good to test and ensure there's no clobber there, but according to @ledvinap it doesn't look like it.  I don't think double-beep upon arm when blackbox is enabled is a problem.

[2015-03-09 21:30] fiveangle commented on #317
Okay, just looked at #599:

"Two Short Beeps for arm
One Longer beep for Disarm."

This will result in 3 short beeps on Arm with Blackbox enabled, and 2 short beeps with it Disabled, plus 1 longer beep on Disarm in either case.  It would probably be test to with Blackbox before merging to ensure the behavior is obvious.

[2015-03-09 21:39] hydra commented on #550
Ok, i think the fix in #589 is incorrect.

two points:
1) when 3D flight is used throttle off is midrc (~1500)
2) perhaps rc_controls/calculateThrottleStatus() should be used instead of directly accessing masterconfig which will drastically reduce the dependencies and avoid code duplication.
3) the PR causes the tests to fail.

since updateCurrentMeter() is called from annexCode() in mw.c the valu

[2015-03-09 23:39] hydra commented on #518
Ok, I'm not happy with any of the proposed solutions, the BOX* should be decoupled from multiwii/msp - cli should not have a dependency on MSP.

Code should NOT be written to parse any CLI commands, it is not meant for machines, it is meant for users.

Since there are no, and should be no, CLI clients other than users it doesn't make sense to force all users to update the configurations.  Document

[2015-03-09 23:39] #518 closed

[2015-03-10 00:29] Ozzy33 commented on #503
Another possible solution would be each FC board has it's own text color in the drop down box.

[2015-03-10 00:38] l2smith2 commented on #584
I'll have to wait for more propellors to arrive to test it some more.

On Wed, Mar 4, 2015 at 11:44 PM, Dominic Clifton <notifications@github.com>
wrote:

[2015-03-10 01:22] thenickdude commented on #317
Yeah I wouldn't really consider the busy-waiting code that `blinkLedAndSoundBeeper()` uses acceptable. If I accidentally disarm in mid-air, when I try to re-arm I don't want it to be busy-waiting for the buzzer instead of flying. Similarly for disarm, if I'm getting chopped up by propellers, I don't want it waiting on the buzzer before it gets around to shutting them off.

[2015-03-10 02:45] dkisselev commented on #597
I feel like a good way to handle this might be to set up a configuration page that lets you explicitly see/configure what each pin maps to.

That way you can choose how much PWM you have, how your softserials are laid out, etc. (of course there are technical limitations where some pins are analog in, others are digital, but that would roll in as part of the options that you get for configuring eac

[2015-03-10 02:48] RC2211 commented on #597
This sounds perfect, and very easy to use. I'm excited for the release! I wish I could contribute but coding at this level is way beyond my sphere of knowledge

[2015-03-10 02:58] tricopterY commented on #503
This issue has been exhausted and the tacit vote is for a paginated table UI, that would handle all releases for each supported FC board. I personally prefer only the latest three or four releases shown, the rest are historical and serve no real value to a user.

[2015-03-10 03:52] dkisselev commented on #575
I feel like semantically speaking, it would make more sense to recreate the feature in rate mode.

Angle is known to be a self-leveling mode, so users expect that out of it. It's also documented as 'legacy', so it wouldn't make sense for new features to be developed against it.

Just need to implement the max inclination code in the rate flight code and add a parameter to disable/enable it.

[2015-03-10 03:53] Ozzy33 commented on #503
I agree to a point, what If I have a stellar PID setup for an older FW, I should be able to select it and dump my old settings in and go, not re-tune. it's all good, thanks CF for all the fixes and improvements!!!

[2015-03-10 04:27] tricopterY commented on #503
You could simply get that Older Release from 'CleanFlight Release Repository' and download it to your PC. In Firmware Flasher you would use Load Firmware [Local] button to select the hex file from directory you downloaded it to, and then flash the FC. I am not in favour of cluttered single screen UIs - most options/views don't even looked at, yet alone used effectively. Happy flying.

[2015-03-10 06:34] kuehn53 opened #603 "WHAT do 3 short beeps, repeating, mean?????"
I had an issue with CleanFlight and a DragonFly32 Pro (Naze32 clone) constantly issuing 3 short beeps, repeated endlessly, during flight.  Turning off VBAT stopped it; I believe it was caused by having overly powerful motors for the quadcopter (HobbyKing DT-900s).  When I changed motors to Sunnysky Angels, the beeping stopped.  I have searched for a list of beep codes for CLEANFLIGHT but haven't f

[2015-03-10 07:04] maymayday90 opened #604 "100% Servo Throw with only ~40% Rudder Stick (Tricopter Tail)"
Video:

https://www.youtube.com/watch?v=CyLWtJb_9d4

Servo works fine connected directly to an Rx, same rudder throws. Cleanflight has full throw (1000-2000) in the servo tab.

Worked fine on baseflight about a month ago (will try flash baseflight and see how it works).

[2015-03-10 07:15] thenickdude commented on #603
If you had set up a beeper mode on the Modes tab, and you inadvertently
activated it, that makes three beeps continuously.​ I think that's the only
one.

[2015-03-10 07:17] thenickdude commented on #603
(for reference, the warnings triggered by VBAT monitoring are
short-medium-medium for "warning" level and short-short-medium for
"critical" battery level.)

[2015-03-10 07:19] thenickdude commented on #604
The flight controller tilts the servo in order to achieve your commanded
yaw rate. You don't have direct control of the servo (there is no linear
relationship between your yaw input and the servo value).

Because your tricopter is static on the ground, Cleanflight will see that
its yaw correction isn't having any effect, so it'll continue to tilt the
servo further over to try to yaw harder to meet

[2015-03-10 07:20] Ozzy33 commented on #503
LOL, like I am? I started this request,,,,

[2015-03-10 07:27] maymayday90 commented on #604
Ah, gotcha. And if I lower my Yaw Rate to 0, it becomes much closer to being linear.

I guess I'm used to setting up the board with Yaw Rate at 0 (i.e. new board, new build), but this time it was preset to 0.35 since I was converting from a quad.

Thanks!

[2015-03-10 07:27] #604 closed

[2015-03-10 07:59] kuehn53 commented on #603
On 3/10/2015 2:15 AM, Nicholas Sherlock wrote:

Nicholas, thanks for the response......I DID (and do) have a beeper mode
set up on an AUX switch.   Had a flyaway recently, so won't leave home
without it.   I am certain that the beeper mode was NOT
activated.....just checked it on the bird with the downsized
motors.....   the beep pattern is a constant short beep.....beep beep
beep beep beep beep e

[2015-03-10 08:09] hydra commented on #603
Beeper system will have an overhaul soon, no point updating the documentation until this is done.

@kuehn53 Please use the forums or IRC for help/support and not the issue tracker.  the issue tracker is for reporting problems and discussion of new ideas.

[2015-03-10 08:09] #603 closed

[2015-03-10 08:16] thenickdude commented on #603
I think the beeper mode used to be three short beeps (or perhaps it was three short beeps on Baseflight), because I have it on video here:

https://www.youtube.com/watch?v=R9UGBlraiuk&t=51

However I tested my craft now (Cleanflight 1.8.0) and it did the steady single short beeps that you mentioned. Weird.

[2015-03-10 08:37] Ravenholm14 commented on #317
I guess ignorance is bliss...
I've been compiling my own hex files with those two extra lines of code for months. Been running it on my two quads without a problem.  Which i'll keep doing until another solution is in place.

[2015-03-10 09:24] thenickdude commented on #317
The suggested `blinkLedAndSoundBeeper` disarm beep would hang the system for 1590ms and the arm beep for 280ms.

[2015-03-10 09:48] jamesb72 commented on #317
I don't see why hanging for arm/disarm is an issue, as nothing should be happening then anyway.

If you disarm in flight you should expect consequences, its not something you could do inadvertently unless your a spoon. Does anyone know how baseflight manages this arm/disarm beep, I bet its the same?

For fpv racing lack of arm/disarm beeps is really annoying I will probably switch to baseflight, a

[2015-03-10 09:49] dronadair opened #606 "Flight - Add support for custom tricopter mix"
I tried to change the cmix values for my tricopter in the CLI to compensate for non-standard COG position.
When doing:
mixer tri
cmix 1 1 0 1.586 0
cmix 2 1 -1.352 -0.414 0
cmix 3 1 1.352 -0.414 0
save

The tricopter seems still flies like with the default values, althought the "dump" command show that my values have been correctly saved.I also tried to put extreme values to make sure. Still the s

[2015-03-10 11:16] Ravenholm14 commented on #317
@thenickdude  What about "queueConfirmationBeep(1)" ? is that command any better?
Trying to find a happy medium until the beeper code rewrite happens ?

[2015-03-10 12:30] thenickdude commented on #317
Yeah that one is totally non-blocking so it should have no negative impact.

[2015-03-10 12:49] Ravenholm14 commented on #317
Yey! Why didn't someone suggest that command earlier rather than getting
carried away with how bad the other command was. :)
On 10/03/2015 10:30 PM, "Nicholas Sherlock" <notifications@github.com>
wrote:

[2015-03-10 13:07] ledvinap commented on #317
queueConfirmationBeep() will probably collide with blackbox arm beep ...

[2015-03-10 14:02] thenickdude commented on #317
Blackbox beep will need to be rethought anyway to fit into the refactored buzzer code from upstream.

[2015-03-10 14:07] hofftari commented on #590
I have the exact same issue as OP. I'm using a Futaba R3008SB and have created a simple inverter for the signal cable coming out of the S-BUS port on the receiver.

Originally while running Baseflight, I had the signal cable connected to pin 4 on the Naze32, and everything worked flawlessly. But when I flashed it so it could connect to Cleanflight, this suddenly didn't work anymore.

I have tried

[2015-03-10 14:11] heathicus commented on #503
I agree with tricopterY that the list of firmware releases should be limited.  No need to list all of them, or even 10.  The current stable release (the default option), the current release candidate or experimental or beta or whatever you want to call it, then 1 or *maybe* 2 older stable releases.  Then a link somewhere on the screen to a repository of older releases.  Simple and easy.

[2015-03-10 15:58] Roeland54 commented on #503
Maybe the solution is simple. If the list would only show firmware versions that are supported by the installed configurator version it would be a lot shorter.
If you want a older firmware then install the older configurator and you can flash the older firmware...

What is the point of flashing version 1.2.0 if the configurator doesn't support it?

[2015-03-10 18:39] tricopterY commented on #503
+1 to @heathicus and @Roeland54  - scenarios very well articulated.

[2015-03-10 19:59] Ludn commented on #598
Did remove 2k2 pull-ups on compass board, still no success :(
Communication still stops after Write 0x3C + ACK, 0x00 +ACK, Read 0x3D + ACK, 0x48 + NACK

Isn't here anyone using a CC3D with a working compass who can give me hint?

[2015-03-10 20:18] ledvinap commented on #598
Can you post complete communication with HMC5883L ?

[2015-03-10 20:28] Ludn commented on #598
an overview first:
![image](https://cloud.githubusercontent.com/assets/11378494/6584537/571dfda0-c76c-11e4-904a-7a86c744fea9.png)

in detail:
![image](https://cloud.githubusercontent.com/assets/11378494/6584467/db0088aa-c76b-11e4-8be7-617597da2d53.png)
![image](https://cloud.githubusercontent.com/assets/11378494/6584482/06815f5e-c76c-11e4-9876-fc265991f91b.png)
![image](https://cloud.githubusercon

[2015-03-10 21:18] Ludn opened #607 "On CC3D LEDs stay dark on selected Profil 2 only.."
..WS2812-LEDs works fine in profile 1 and 3, but not for 2nd profile.
All Profiles are using PID controller 3.
Quite strange and can't explain why. Here segments of my quite simple configuration:
Profil
# version
Cleanflight/CC3D 1.7.2 Feb 12 2015 / 13:45:03 (d12d195)
# dump master

# mixer
mixer QUADX
...
feature RX_PPM
feature VBAT
feature FAILSAFE
feature LED_STRIP

# map
map AETR1234

# led
le

[2015-03-10 22:05] u8mydog commented on #590
The following works for me:
- external inverter
- SBus input is pin_4
- flash v1.7.2 NAZE 2015-2-17 0:27 via the gui firmware flasher
- CLI
  defaults
  dump
     verify build version Cleanflight/NAZE 1.7.2 Feb 23 2015 / 14:21:30 (afe44d1)
  feature RX_SERIAL
  feature -RX_PARALLEL_PWM
  set serial_port_2_scenario = 3
  set serialrx_provider = 2
  save

Now a dump will reflect the above changes in

[2015-03-10 22:32] digitalentity commented on #598
Communication looks really strange. It seems that magnetometer on your GY271 board is not responding to it's address. Can you post a photo of your GY271 board?

[2015-03-10 22:37] digitalentity commented on #598
This is how a proper initialization of HMC5883L compass look like on my CC3D + HMC5883L breakout board ![](https://cloud.githubusercontent.com/assets/11378494/6584508/2e4c089a-c76c-11e4-907e-f9d74f9240d5.png)

[2015-03-10 22:43] thenickdude commented on #607
I think there is a flight mode switch which can disable the leds, and flight modes are specific to the profile that you're using. Check your flight modes on profile 2 and make sure that a led flight mode hasn't slipped in there.

[2015-03-10 22:47] ledvinap commented on #598
0xee is BPM085 or MS5611, NAK is ok if no baro is installed.

Then register 0x0A (ID A) is read, 'H' (0x48) is returned correctly.

That is last communication?

Where did you get 0x3C + ACK, 0x00 +ACK ?

[2015-03-10 22:51] digitalentity commented on #598
Oops, sorry, posted the wrong screenshot. This one was for BMP180 baro.

[2015-03-11 08:31] airiclenz commented on #590
The exactly same setup is not working for me with the Futaba R3008SB (while the hardware is proving itself working with baseflight in the exact same configuration):

- inverter cable
- Naze32 inpout pin 4
- cleanflight 1.7.2 (verified with your telemetry_provider=3 check)
- CLI settings `feature RX_SERIAL` `feature -RX_PARALLEL_PWM` `set serial_port_2_scenario = 3` `set serialrx_provider = 2`

[2015-03-11 10:29] chilternflyer commented on #162
+1
I can see why it's not working in MultiWii and I could fix it there (using the Arduino IDE)  but I've got no idea how to change it on this platform.
All we need is the tilt servo enabled (forget the roll).
Can someone help us please.

[2015-03-11 12:43] hydra commented on #590
@airiclenz please dump the R3008SB sbus data using a logic analyzer or your scope and I can take a look and compare to data I have from the other 4 receivers I have tested it with.

The code has been tested with other futaba and frsky sbus receivers and works great.

Maybe there is something different about the  R3008SB.

[2015-03-11 12:47] hydra commented on #590
Also please try comparing signal quality after the signal has been un-inverted at the point of connection to the FC.  Maybe your inverter is messing the signal up?

[2015-03-11 12:50] hydra commented on #590
@u8mydog can you confirm your R3008SB works?  Can you provide a complete CLI config dump so that the others can try it?

[2015-03-11 12:56] airiclenz commented on #590
The R3008SB  is definitely working - I know that because it works when the Naze32 is flashed with baseflight (together with the inverter cable) but I can check that again. You'll receive the scope dump later today when I am home again - together with a screenshot showing the signal before and after the inverter cable.

[2015-03-11 14:00] MJ666 opened #609 "Failsafe does not work anymore in last deveopment build (may be limited to Spektrum sat only)"
If you are using the last development version of Cleanflight please be sure to test failsafe carefuly. Our tests during last days showed some issues here and the NanoCopters don't behave as expected anymore. We usualy configure them to cut the motors after 0.2s when the rx signal failed (Lemon RX satellite is very sensitive to power drops) but this is not happening anymore. Here are the settings:

[2015-03-11 17:07] airiclenz commented on #590
Here they come...

trace capture (inverted) for use with Rigol DS1000Z class oscilloscope (which I think you have): http://airiclenz.com/download/R3008SB_wave_capture.wfm

trace capture (inverted) as CSV file:
http://airiclenz.com/download/R3008SB_wave_capture.csv.zip

Now follow some pictures. If you need the measurements, please check my very first post in this issue.

- the yellow channel one i

[2015-03-11 17:17] hydra commented on #609
Yeah, looks like some investigation is required.  I'll look into it.  Thanks for the test report, much appreciated.

[2015-03-11 17:18] hydra commented on #609
Likely the spectrum RX driver needs updating a little for when the RX reports a failsafe condition.

[2015-03-11 17:21] hydra commented on #590
Thanks, I will digest that. Can you show me a zoomed in view of one of the spikes that occurs every fifth time and also measure the time between the previous frame and the spike.

[2015-03-11 17:30] MJ666 commented on #609
Here I wrote something we have seen from experience with the Lemon RX DSM2 and DSMX satellite receivers:

http://www.rcgroups.com/forums/showpost.php?p=31027412&postcount=4496

[2015-03-11 17:33] airiclenz commented on #590
You can download the waveform with the extra packet here: http://airiclenz.com/download/R3008SB_wave_capture_extra.wfm

The delay between the main and the additional packet is 2ms:

![ds1z_quickprint1](https://cloud.githubusercontent.com/assets/6122029/6602562/8d9aba20-c81c-11e4-9130-62cb1294fc3c.png)

the packet itself (duration ~ 0.35 ms):

![ds1z_quickprint2](https://cloud.githubusercontent.com

[2015-03-11 17:39] airiclenz commented on #590
....forgot to post the dump files (it worked with baseflight with this configuration):

Baseflight:
http://airiclenz.com/download/dump_baseflight_Feb122015.txt

Cleanflight:
http://airiclenz.com/download/dump_cleanflight_1.7.2.txt

[2015-03-11 18:43] Redshifft commented on #197
Good GPS PH is not going to be down to only GPS accuracy, I think that's a small part.I know what a Naza can do with 7 sats ;)
I think CF also needs to automatically switch all required sensors when a GPS function is selected also is there some sort of very high 3d lock sat count threshold in place ? I'm getting inconsistant reslts in tests here :(

[2015-03-11 18:59] hydra commented on #590
Can you also confirm if there are any settings you have made on your transmitter that affect the sbus output of the receiver, e.g. sbus mode/speed.

[2015-03-11 19:13] airiclenz commented on #590
I did not change any settings regarding the S.BUS. I am not sure if this is even possible.

[2015-03-11 19:32] hydra commented on #606
this is not something i've looked at, i would imagine that servos are enabled based on the value of the mixer type, let's see if my thoughts are correct...

https://github.com/cleanflight/cleanflight/blob/master/src/main/flight/mixer.c#L299

https://github.com/cleanflight/cleanflight/blob/master/src/main/flight/mixer.c#L210

https://github.com/cleanflight/cleanflight/blob/master/src/main/flight/mi

[2015-03-11 19:34] hydra commented on #600
yes

[2015-03-11 19:38] hydra commented on #590
The extra data that is occuring should be just ignored by the code, since it's not a the correct start byte for a frame.

[2015-03-11 20:14] hydra commented on #590
What software do you use to open the wfm files?

Can you use whatever software you have available to decode the serial data so that you can just give me the frame data as a binary or text file?

[2015-03-11 20:15] edugit commented on #600
Great!!!
I am very happy it can be done.
The way of doing this perhaps is evident but I can not see it.
Since autotune is one of the features that makes cleanflight so attractive is it possible to get a more elaborated response?
Or would it be more appropiate to move this topic to "pull request"?
Thanks anyway for your quick answer

[2015-03-11 20:21] Ludn commented on #607
Thanks: indeed i had 'LEDLOW' mode defined in 'modes', but for a small range on channel AUX2.
AUX2 did not vary when changing the flight mode and is pretty stable.

Thus there shouldn't any dependency (between AUX2 and profile no.) it helped to delete  'LEDLOW' mode.
After 2nd try reproducing this issue all 'modes' settings are gone, may be EEPROM saving got corrupted but there is nothing suspicio

[2015-03-11 20:42] Ludn commented on #598
@ledvinap
yes, Read 0x3D,  0x48 is the last communication. Shouldn't it end with ACK?
0x3C, 0x00 was the same 3rd and last term. It might changed cause of the missing second unnecessary pull ups.
@digitalentity
could you send the right screenshot or confirm after Read 0x3D + ACK, 0x48 which happens  (NACK / ACK)

[2015-03-11 21:19] thenickdude commented on #607
How were you reproducing it? If you were using the "dump" command and then pasting it back in, it does tend to erase your mode settings if you paste it in all at once. This is because the "profile" command halfway through the dump takes so long to execute that many of the following statements end up getting dropped, including the "aux" ones. If you copy and paste everything up to and including the

[2015-03-11 21:46] ledvinap commented on #598
@Ludn : Master send NAK on last byte to tell slave that transfer is done, so it should be OK.

The code is here: https://github.com/cleanflight/cleanflight/blob/3e73b3de5304fd235586831fbcb391ac974ee942/src/main/drivers/compass_hmc5883l.c#L125

Maybe data are received incorrectly? Can you check with oscilloscope?

[2015-03-11 21:50] tricopterY commented on #503
Inviting discussion for a simple UI - and not concerned about scaling, as it would only fetch the latest four releases from CF Rel Repo. Already working great for me - the get mechanism remains as is, and rel notes can be read when the hex file is fetched. If I need an older version I would click on Release Repository menu item and it would take me there.
![x](https://cloud.githubusercontent.com/a

[2015-03-11 22:13] tricopterY commented on #503
Inviting discussion for a simple UI - and not concerned about scaling, as it would only fetch the latest four releases from CF Rel Repo. Already working great for me - the get mechanism remains as is, and rel notes can be read when the hex file is fetched. If I ever needed an older version I would click on Release Repository menu item and it would take me there. I am unable to get a closer match t

[2015-03-11 22:49] pinkywafer commented on #550
I've updated #589 to use calculateThrottleStatus() as suggested and removed the now unnecessary dependencies, and this compiles fine and runs fine here, but I'm still getting failed Travis CI  - when RUNTESTS=True I'm getting undefined references to 'calculateThrottleStatus' and 'feature'.  I'd appreciate any help as I'm not sure how to fix this issue
Thanks

[2015-03-11 22:53] digitalentity commented on #598
@Ludn, NACK is ok, communication with my mag looks the same.
![screenshot](https://cloud.githubusercontent.com/assets/11059099/6608727/363a288c-c895-11e4-91e7-ba344ed2c327.png)

[2015-03-12 08:53] airiclenz commented on #590
You can save the file on a USB stick and open it with the scope itself.
Unfortunately I have no tools to convert the trace to binary text.

[2015-03-12 10:36] Dvogonen opened #612 "Not able to receive more than 4 receiver channels on CC3D boards"
I am trying to use cleanflight v1.7.2 on CC3D boards. I have not used any older versions, just downloaded the newest available one.  I am using receivers without a PPM signal, so I need to input signals via the RC_input connector in RX_PARALLEL_PWM mode.

The default is that only 4 channels can be used (on pin 4, 5, 6, and 8).
According to the documentation it is possible to use a fifth channel by

[2015-03-12 11:29] hydra commented on #590
Ok, this will have to wait a week or so then since I don't have my scope here.  If your scope has rs232 decode available you should be able to use your scope to decode it and display the data, perhaps you can then either take screenshots or save it using your scope?

[2015-03-12 13:55] emdzej opened #614 "LED - Add support for APA102 / APA104 LED strips"
I have just found out about a new type of addressable LEDs. Compared to WS2812 neopixels these seem to be less difficult/resource consuming to handle as they have dedicated clock signal - so no more. Probably they could be easily programmed using SPI.

[2015-03-12 13:58] 3flyguy3 opened #615 "Cleanflight quad image"
The quad image in Cleanflight has changed to an image of a 'brick'. See attached. Why? How do I fix?
Is this the correct support page for Cleanflight?  I was directed to this page by a more experienced user.
![img_4053](https://cloud.githubusercontent.com/assets/11441229/6619058/9d1327f2-c895-11e4-82db-50ddb7a06fd8.JPG)

[2015-03-12 14:05] vadav commented on #615
Best place for support would be our IRC channel #cleanflight on freenode

[2015-03-12 18:14] hydra commented on #615
Duplicate, see https://github.com/cleanflight/cleanflight-configurator/issues/105

Please raise configurator issues int he configurator tracker.

[2015-03-12 18:14] #615 closed

[2015-03-12 18:27] hydra commented on #612
I'll try and verify this on my one here.

[2015-03-12 20:21] Dvogonen commented on #612
Just made a new test. I verified that:
* with vbat enabled the data going to pin8 ends up on channel 4.
* with vbat disabled the data going to pin8 ends up on channel 5.
So that part is working as it should.

[2015-03-12 20:27] handsomejackuk commented on #597
had the same issue, and in the end made my own pwm to ppm convertor... real easy cost like £4....and have so many more outputs to use.. i did the same for both my pwm receivers and they have proven to be very reliable too.. i was real surprised they work...

[2015-03-12 21:00] kristoferahlqvist commented on #612
I got the exact same issue, no matter what I cant get pin7 working on cleanflight.
Works without issues with openpilot

[2015-03-12 22:37] dronadair commented on #606
Dominic, thank you for your detailed reply. I will have a look.

Cheers

Raphael
Le 11 mars 2015 20:33, "Dominic Clifton" <notifications@github.com> a écrit
:

[2015-03-13 04:38] digitalentity opened #617 "System - Add a watchdog system"
If a flight controller hangs mid-flight many bad things can happen. A watchdog timer would be very useful for rebooting a FC in such case. STM32's backup SRAM can be used to hold current system state (flight mode etc), so that FC can quickly regain control of the aircraft.
This, however, should be distinguished from a normal reboot or a power cycling.

[2015-03-13 05:29] dascons commented on #617
I feel like it will be a mission to code but is necessary as features and bugs come on board

[2015-03-13 06:23] digitalentity commented on #617
I am not very well into the internal architecture of cleanflight, but it occures to me we should only preserve most (not all) flagn in the runtime configuration:
- arming flag
- flight mode flags (probably no need to preserve these as they will be almost instantly set by receiver)
- state flags (are they needed to be preserved?)

Probably we can only preserve the 'armed' or 'disarmed' state. If we

[2015-03-13 07:46] ledvinap commented on #617
Currently it takes 30s to calibrate gyro and initialization code is not designed to run quickly... This will require quite large redesign on code.

[2015-03-13 07:58] hydra commented on #614
Can you provide links to:
a) data sheets
b) products that people can buy

IMHO Since the WS2812's are so readily available in so many different form factors and only require 1 hardware pin there is no current need to support any other kinds of LEDs at this time though.  That said, provide more information and maybe someone will pick up the challenge.

[2015-03-13 07:59] dascons commented on #617
Maybe it would be possible to keep last gyro config in SRAM so it can just restore, even loosing features after a fail would be better than dropping out of the sky

[2015-03-13 08:05] hydra commented on #607
Likely this is a mis-configuration or as nick detailed above or configuration corruption issue since there is no dependency or LED state that needs resetting between profile changes.

Potential for configuration corruption is yet another reason why the CLI is bad.

I will close this now but if you can provide steps to repeat from a fresh flash with full chip erase enabled then please re-open.

[2015-03-13 08:05] #607 closed

[2015-03-13 08:10] hydra commented on #598
Perhaps try running some other example code on your GY271 to first verify that the mag is actually working.

Once you've confirmed the mag on your board is working then please re-open this.

[2015-03-13 08:10] #598 closed

[2015-03-13 08:13] hydra commented on #593
Please use the forums or IRC for support.  SBus without external inverter via main port works with latest firmware on CC3D when correctly configured - tested with FrSky X4RSB, X8R.

[2015-03-13 08:13] #593 closed

[2015-03-13 08:18] hydra commented on #597
You would be limited to 4 PWM inputs only on the naze because of timer allocation.  PWM is a bit old-school.  An FC with better pin mappings solves this problem (SPRacingF3).

Yes, timer/pin allocation needs some work.  I'll close this, but please see #357

[2015-03-13 08:18] #597 closed

[2015-03-13 08:18] hydra commented on #584
any update?

[2015-03-13 08:20] hydra commented on #196
Closing.

[2015-03-13 08:20] #196 closed

[2015-03-13 08:40] digitalentity commented on #617
Gyro calibration data is fairly small (only 6 bytes), so it can be stored in backup SRAM. STM32F103 processor has only 20 bytes of backup memory available, so we should carefully choose what we should backup. Accel and Mag are calibration data is stored in EEPROM, Baro is calibrated on the fly, GPS is rather independent from FC. I figure we should only backup gyroZero and armingFlags and omit time

[2015-03-13 08:41] digitalentity commented on #617
I'll look into implementing this feature in my fork.

[2015-03-13 08:48] hydra commented on #612
Confirmed, i know what the issue is, i will work on a fix soon.

[2015-03-13 09:02] l2smith2 commented on #584
Should have propellors by Monday for more testing
On 13/03/2015 7:18 PM, "Dominic Clifton" <notifications@github.com> wrote:

[2015-03-13 13:13] digitalentity opened #619 "System - Cleanup soft-reboot detection."
Do we really need to use backup registers in isMPUSoftReset function [https://github.com/cleanflight/cleanflight/blob/master/src/main/drivers/system_stm32f10x.c#L64]?
Following code is faster, cleaner and more reliable:

[code]

[2015-03-13 13:45] digitalentity commented on #619
I believe the code, that uses backup registers was ported from baseflight [https://github.com/multiwii/baseflight/blob/master/src/drv_system.c#L209].
According to ST's reference manual, STM32F1xx family has the CSR and SoftReset flag. Using those to detect a soft-reset is a much cleaner way than magic values in backup memory. I've created a PR #620 with the change.

[2015-03-13 17:14] airiclenz commented on #590
ok, here is one example packet (baud: 100.000 bit/s, 1 start bit, 8 data bits, 1 even parity bit):

22 Bytes
0F, 00, 24, 21, 5C, 08, 08, 09, 9F, 00, 10, 80, 90, 80, 04, 00, 01, 08, 40, 00, 02, 10

Hope that helps!

[2015-03-13 17:46] Fvk1960 commented on #572
for @bhuism at first my ledstrip did not work until as documented a added a diode in the power lead to he ledstrip.
I will make screendumps later

[2015-03-13 21:28] #612 closed

[2015-03-13 21:30] hydra commented on #612
The root cause of the problem is that the ADC initialsation now happens AFTER pwm initialsisation, due to recent ESC compatibility improvements, the problem was caused by the ADC code reconfiguring the input pin.

With 3b77626dd8aca22283ac637a149fb0783958e846 ADC initilisation for VBat now only happens if VBat feature is enabled.

This again relates to #357.

[2015-03-13 21:32] hydra commented on #357
Deffo need to look into this soon.  Other stuff keeps coming up but some recent issues (linked above) further highlight the need for this.

[2015-03-13 21:56] bhuism commented on #572
Hai, got it sorted, I did not read the docs on this point, with the diode's all is fine, thanks!

[2015-03-13 22:40] #316 closed

[2015-03-13 22:58] justadude-OG commented on #483
Any Progress here Hydra?

[2015-03-14 06:12] digitalentity commented on #617
Did some profiling of init() on my CC3D + mag + baro on I2C.
sensorsAutodetect() takes 0.69 sec,
compassInit() takes 1,26 sec.
whole init() takes as much as 3.22 sec.

By omiting delays and disabling features & sensors I was able to get a flyable system state in 0.95 sec. Further speed-up can be done by omiting sensorsAutodetect() since when whatchdog is triggered we already know what sensors we h

[2015-03-14 19:25] Djhg2000 commented on #617
I really like this idea, mainly because I find autonomous recovery systems fascinating. If we strip out the magnetometer and gyro in sensorsAutodetect() and combine it with the accelerometer portion of reconfigureAlignment() we could trade accurate rotational data for initialization speed.

The accelerometer will probably do good enough for locating the earths center of gravity and then we could u

[2015-03-14 20:18] hydra commented on #619
What about the F3 targets?

[2015-03-14 20:34] hydra commented on #265
@LupinIII It's not as simple as just pins.  The pins use hardware functions and some hardware functions clash (timers, irqs, dma channels, etc).

Going to close this since it's too vague to do anything about.  #357 is planned and known.

Since this issue was opened there have also been improvements in the target.h file with regards to defining perhipherals, pins, clocks, etc.

[2015-03-14 20:34] #265 closed

[2015-03-14 21:17] hydra commented on #578
Cycle time changes are expectd, it's due to the current beeper implementation.

Failsafe documentation has been updated.  Please read this: https://github.com/cleanflight/cleanflight/blob/master/docs/Failsafe.md

I verfied that the failsafe was working as expected this evening with an SBus RX.

Please re-open if you think there is still a bug, however from my testing and what you've written I'm fa

[2015-03-14 21:17] #578 closed

[2015-03-14 22:29] hydra commented on #609
Did a bit of work on this in 7d6e4aa3900370c8a11a020337ea2079846f3de6.

Please re-test with Spektrum RX and report back.

[2015-03-14 23:03] hydra commented on #609
More changes done in e08c83fdc9142fd2efdf0098710fc48bf194a464

Please re-test a build that has both of those commits.

[2015-03-14 23:31] digitalentity commented on #619
F3 targets are using this approach in isMPUSoftReset() already.

[2015-03-15 06:43] MJ666 commented on #609
Will do as soon I will be back from traveling. Thanks.

[2015-03-15 09:25] bbrummer commented on #391
I'd *love* this as well.  I've been trying to get TauLabs to run on an AfroMini specifically to use it as a FBL controller to replace the "3-in-1" board on my Blade Nano CPX.  The boards on these little helis fail easily and often and are crazy expensive to replace.  The issue is size and weight...every .1 of a gram matters.

On a lark I tried using CleanFlight and making it pretend it's a tri-cop

[2015-03-15 16:03] stronnag commented on #609
hydra, latest build (2015-03-15) did not fix the issue for spektrum sat.

[2015-03-15 17:46] Fvk1960 commented on #572
![ledstrip](https://cloud.githubusercontent.com/assets/6264276/6657121/b418f39c-cb41-11e4-8d61-d0a6d99490b2.png)
Ok this setup Roll left gives led0 and led1,Rol right gives led 14 and led 15
Pitch forward [2000] gives all 4 leds
HOWEVER Pitch backward [1000] no leds are lid
![ledstrip2](https://cloud.githubusercontent.com/assets/6264276/6657147/79be6442-cb42-11e4-9b14-92e4b61bfdc3.png)
Assign orie

[2015-03-15 19:58] hydra commented on #609
ok, this will have to wait till i get back from austria so i can use my test equipment to debug it since the problem is not obvious to me.

[2015-03-15 20:10] sophana commented on #266
Hi

When I set -90 for align_board_yaw, the motor get inverted: This means that when you set angle mode, hold the quad, spin the motors, and move it, the motors move in the same direction instead of opposite.
Setting the value to 90 works ok, except that it is not what I need.
I think this is a bug.

[2015-03-15 21:07] sophana commented on #197
Hi.

I'm also no expert in gps, but have some idea about how it could work.

The gps coordinates frequency are quite low (5 to 18 per second). They can have errors. I assume that when you average several positions (low pass temporal filter), the error decreases.

The accelerometers give high frequency updates. Position is an integral of acceleration. But the integral of acceleration drifts: the lo

[2015-03-15 21:09] hydra commented on #609
did a code walk in irc, found the problem, fixed by 1e7fb08b9d8afc98945b0eb77b6b55ce55c43888

[2015-03-15 21:09] #609 closed

[2015-03-15 21:12] stronnag commented on #609
Tested on Spektrum. Failsafe works again.

[2015-03-15 21:17] hydra commented on #609
@MJ666 @stronnag thanks for reporting and testing.

Just pasted this in the rcgroups thread:

The problem came about due to users wanting this:

https://github.com/cleanflight/clean...mment-75368567

Due to this bug several things happened:

1) all serial rx handlers use the same pattern
2) minor performance optimizations were made
3) sumd rx failsafe was improved (matches sbus failsafe behaviour)

[2015-03-15 23:01] thenickdude commented on #266
sophana, which direction does the forward arrow of your board point? If it's pointing to the right of the craft, 90 is the correct value. (also how is a setting that makes it work correctly "not what you need"?)

[2015-03-15 23:14] sophana commented on #266
Initialy I've set the board in the right direction, and connected the motors accordingly.
I had problems accessing the usb port so I turned the board left and have set -90.
But there, the motors are inverted and have to reconnect them.
This does not happen if I choose 90. I didn't reconnect the motors, but fly my quad in the opposite direction.

It seems strange to me that I have to reconnect my m

[2015-03-15 23:26] thenickdude commented on #266
Just to clarify, which side of your craft did the USB port stick out of when you set it to -90? Naze32, right?

[2015-03-15 23:28] sophana commented on #266
it is a flip32 (the same).
turning to the left, the usb port is on the right.

[2015-03-16 07:17] anthonycake opened #630 "Need a way to change looptime without CLI"
It would be great if the looptime could be changed without the use of the CLI (and it's required reboot).
OSDs which allow PIDs and related parameters to be set 'in bulk', can already set most parameters that would change from one 'expert setting' to another. Looptime is one exception to this.

[2015-03-16 07:39] anthonycake commented on #546
I have captured the startup sequence on a scope, and observe the following:
Prior to the restart, the Oneshot period is 3.5ms, corresponding to the configured loop time
During restart, the Oneshot disappears, cleanly, for approx. 900ms
After restart, Oneshot restarts, but with a period of ~8.2ms, for a duration of approx. 300ms.
After 300ms, the Oneshot period drops to 3.5ms again.

The issue that

[2015-03-16 07:44] sophana commented on #266
I have just tested 270, it is the same as -90, the quad crashes because of inverted motors.
I think it is a bug, the quad should fly whatever value in Align board yaw.

To test it, simply set -90, hold the quad and apply throttle, you will see the problem.

[2015-03-16 08:32] ledvinap commented on #546
Maybe setting initial counter value to 0 in https://github.com/cleanflight/cleanflight/blob/2a73ad69253be498611b79b38c8f6bb52990f774/src/main/drivers/pwm_output.c#L181 may help.
[code]

[2015-03-16 08:34] ledvinap commented on #546
But it won't fix it completely ... loop() is not guaranteed to execute at looptime and there are delays, mainly when unarmed.

[2015-03-16 09:33] thenickdude commented on #569
I couldn't reproduce this on my Naze32 rev 5 (which I believe is the MS5611 barometer), even when I added [this code to mw.c](https://github.com/sherlockflight/cleanflight-dev/commit/664c932f008042f455bc1e0c5f82e056ad343885) to add crazy high random variability to my looptime (i.e. add between 150ms and 0ms delay to looptime):

![screen shot 2015-03-16 at 10 24 05 pm](https://cloud.githubuserconte

[2015-03-16 15:46] pinkywafer commented on #550
ignore above...being stupid! - I'd forgotten about unittests! - now done in PR

[2015-03-16 18:08] Jeez-nl commented on #216
Am I correct in thinking this would take the function of the turnigy usb linker to flash ESCs with a bootloader (for example the ones with SimonK as well), while they are connected to the flightcontroller?

[2015-03-16 23:15] handsomejackuk commented on #550
just got this setup tonite and note also when disarmed with motor stop i am pulling 0.5a this is correct, but when armed and motors not running i am pulling 1.7a...  will keep on checking on this thanks for the great work....

[2015-03-17 00:17] skyflyer opened #631 "Failsafe not working (and settings not present in backup)"
## Failsafe not working

Using Cleanflight 1.7.2 with Naze32 Acro (without mag + baro). I set the failsafe on the FC using the following values: `failsafe_delay = 10`, `failsafe_off_delay = 10`, `failsafe_throttle = 1100`.

### Test scenario

1. Turn on TX
1. Connect battery, rx (FrSky D4R-II, using CPPM, telemetry via softserial 1 (not sure if it matters))
1. ARM
1. Add throttle (I used apx 3/5)

[2015-03-17 00:27] skyflyer commented on #631
OK, (banging on my head). The FAILSAFE feature must be enabled in order for the failsafe to work. Sort of related to #488, I think this feature should:

1. Be on by default
1. Be documented in Failsafe.md - somewhere near the top of the document

I will prepare a pull request with this change later.

[2015-03-17 03:22] tbrady420 opened #632 "1.8 flip32"
with new update ports 3-4 do not work have confirmed on two boards and different receivers.

[2015-03-17 03:50] thenickdude commented on #632
By port do you mean PWM receiver input pins? Double check that your channel mapping is correct on the receiver tab, and double check that you've got the "PWM" receiver type selected.

Receiver pins 3 & 4 are used for UART2 when configured to use a PPM receiver, so this could be a bug where those pins are wrongly assigned to UART2 even in PWM receiver mode.

[2015-03-17 04:10] tbrady420 commented on #632
yes pwm. Cannot save changes to board or load backed up setting completely. every time I hit save in any tab it doesnt write to the board. under ports it has 3 urat1 listed all with msp, telem etc. when changing to unused and saved nothing happens. all tabs loose save/reboot function. I have tried 2 flysky recievers and have tried the board completely unplugged. Love clean flight just wanted to re

[2015-03-17 04:12] thenickdude commented on #632
That sounds like you aren't running the latest configurator, Configurator 0.63.0 is required for Cleanflight 1.8.0. Follow these instructions to upgrade:

http://www.rcgroups.com/forums/showthread.php?t=2249574&page=319#post31078207

[2015-03-17 04:18] tbrady420 commented on #632
thanks you that fixed it. I cant believe I over looked that in the firmware release at the bottom. I was just to excited about the update. Thanks again

[2015-03-17 04:19] thenickdude commented on #632
Did it also fix the issue with channels 3 & 4?

[2015-03-17 04:31] tbrady420 commented on #632
no i still have issues its set to pwm and channel 3 is mapped to aux 2.  I have no yaw or throttle. only ports active is urat 1 for msp.

[2015-03-17 04:36] thenickdude commented on #632
I'm assuming that your channel mapping is currently the default TAER1234? If not please say what it currently is on your receiver tab.

If channel 3 is ending up on aux2, you can change the mapping on the receiver tab to TA2R1E34 to swap elevator and aux2 around. Or just switch those wires around from your receiver.

[2015-03-17 04:40] digitalentity commented on #617
I'm currently working on speeding up gyro init. The only board I have is a CC3D (MPU6000 on SPI) and TauLabs somehow manages to initialize both acc & gyro on that chip in less than 100ms. I think CF gyro and accel initialization code needs to be optimized for speed before we'll even try to create a working in-flight failure recovery. I think we shouldn't trade gyro for speed - gyro's very fast rea

[2015-03-17 09:08] therippa commented on #259
Wouldn't it make more sense to pull the profiles dropdown out of the PID tab and put it above the tabs themselves since it also affects modes, etc?

[2015-03-17 09:12] Tabsy123 opened #633 "Flight - Independent TPA for Pitch & Roll"
For Pid Tuning of Very High Power to weight ratio Multi Rotors  and Mini Quads This setting would help alot in my opinion.....

If it has to be done for each Pid controller separately, maybe just do PID 0 , 1 , 3  which Are the most common for Acro style flying I think

[2015-03-17 11:06] handsomejackuk opened #634 "enhancements.... thoughts on these"
Have  a very active mind and always thinking of enhancements, just wish i was better at programming as i would love to have a go my self....

anyway... using barometer  would there be a way of using a rate of climb or rate of descent with the barometer switched on, was out with my brother in law the other day and his phantom has a similar feature so that if baro / alttitude hold is on and the thro

[2015-03-17 11:40] thenickdude commented on #617
The gyro can't be calibrated in flight, as the craft will be rotating and a
zero point can't be determined, so the speed of gyro calibration doesn't
seem to matter?

[2015-03-17 13:13] digitalentity commented on #617
Calibration data can be stored in backup memory. I am concerned about how
fast actual hardware is initialized to the state it can provide valid (yet
uncalibrated) data.

--
С уважением, Константин Шарлаимов

Regards, Konstantin Sharlaimov

[2015-03-17 14:31] nebbian opened #636 "RC1.8.0 Parallel PWM missing channels"
Using Release Candidate 1.8.0 and parallel PWM, my receiver channels for throttle and rudder are not coming through.  Aux 1 is coming through as throttle, and aux 2 is coming through for rudder.

[2015-03-17 14:35] OpCode1300 commented on #636
Had this issue on Rev5 Naze32

[2015-03-17 16:00] ledvinap commented on #617
From simple grep for delay:
battery.c: 23ms
display.c: 400ms
accgyro_spi_mpu6000: detect (150ms - 750ms)+200ms, init 300ms
flash_mp25p16: 50ms
adc_stm32f30x: 10ms
barometer_bmp085: 20ms
compass_hmc5883l:    150+500+500+100ms (2x500ms is callibration)
accgyro_l3g4200d: 130ms
compass_ak8975: 50ms
accgyro_spi_mpu6500: 200ms
accgyro_l3gd20: 100ms
barometer_ms5611: 10ms
accgyro_mpu6050: 135ms
accgyro_m

[2015-03-17 18:14] cosmic2112 opened #637 "Improvements to the CLI - ignore white spaces"
When I am restoring the configuration after an update using the captured data from a dump command I always get errors as shown below below and others too but some don't (like the map command).

Just to clarify - if I type the commands they work fine so the only difference seems to be the fact that there are SPACES after the command which get captured during the dump command.

So if I type feature

[2015-03-17 19:20] hawaiianer opened #638 "Cleanflight 1.8.0. Can not save values for Naze32 board"
Hello,
I just got a new Naze32 (Clone) from Ebay and flashed the 1.8.0. Cleanflight on it.
I can not save any values (configuration or reciever or modes) with this version. With 1.7.2 it is working.
(I have two of those boards, both have the issue)

Is this issue know or am I the only lucky one?

Regards,

Luz

[2015-03-17 19:25] rocky77 commented on #638
Hello,  yo need cleanflight-configurator v0.63

--- Message initial ---

De : "hawaiianer" <notifications@github.com>
Envoyé : 17 mars 2015 20:21
A : "cleanflight/cleanflight" <cleanflight@noreply.github.com>
Objet : [cleanflight] Baseflight 1.8.0. Can not save values for Naze32 board (#638)

Hello,
I just got a new Naze32 (Clone) from Ebay and flashed the 1.8.0. Cleanflight on it.
I can not save

[2015-03-17 22:57] #16 closed

[2015-03-17 23:01] hydra commented on #638
Closing, please read release notes.

[2015-03-17 23:01] #638 closed

[2015-03-17 23:05] hydra commented on #634
Please open one issue per feature request, describe them fully with expected behaviour if possible please.  It's impossible to use the issue tracker when there's more than one issue/feature per ticket.

I dont think there's any interest in using normal LEDs especially since the wiring overhead and pin allocation is further complicated.

For support (reference usage of alt-hold) please use IRC or t

[2015-03-17 23:05] #634 closed

[2015-03-17 23:19] hawaiianer opened #639 "Tricopter Yaw Servo direction change possible"
Is it possible to reverse the yaw servo direction?  yaw_control_direction and yaw_direction do not have any effect. It is possible somehow or do I have to go back to multiwii for a tricopter?

Thanks!

Luz

[2015-03-17 23:27] thenickdude commented on #638
That sounds like you are not using the required development version of the
configurator (0.63.0). Please follow these instructions to install it:

http://www.rcgroups.com/forums/showthread.php?t=2249574&page=319#post31078207

[2015-03-17 23:48] hawaiianer commented on #639
Found it - Sorry for the trouble! (Servo Tab - Reverse).

[2015-03-17 23:53] hawaiianer commented on #639
Still not working (as it does in cleanflight).

Is there a chance to fly a tri with cleanflight soon?

[2015-03-18 00:32] thenickdude commented on #637
There aren't any spaces printed after those lines with the dump command. What tool are you using to capture the result of the dump? Are you pasting it into something else in between?

It does seem like ignoring trailing whitespace on lines would be useful, I'll submit a pull request.

[2015-03-18 00:59] cosmic2112 commented on #637
I am using a serial connection using Linux and minicom, I highlight the output of the dump command in minicom and copy and paste that into a text file.
When I highlight the lines to restore from the dump text file and paste it back into the CLI, the capture process adds some trailing white spaces and so some commands fail when you try and restore you're dump.

I hope that explains the problem bett

[2015-03-18 01:53] lordkev commented on #309
I'm new to the project, but I think I'll take a look at this over the weekend. I think the problem right now is that there's nothing in the autotune code to determine if it's arrived at good values. Since everyone seems to find that 3-4 seconds is all that's needed, maybe a simple solution is to just end each phase of the autotune after a particular number of cycles? I'll try experimenting with it

[2015-03-18 02:17] thenickdude commented on #309
@lordkev that's a sign that the autotune algorithm just doesn't work. If it can't tell what a good value is, and gets progressively worse over time, then all it is doing is increasing P with no feedback at all (i.e. it'd increase P regardless of what the quadcopter is doing).

The recommendation to "stop tuning after a few seconds" seems to just correspond to adding a constant to the P settings fo

[2015-03-18 02:42] lordkev commented on #309
@thenickdude Awesome, thanks for the heads up.

[2015-03-18 04:35] jistforfun commented on #491
I see Hydra modified this issue a few days ago, does that mean it is being worked on?!

I feel bad to keep pushing this issue will all the other great improvements in 1.8,
but Sonar is still a feature I would like to use when it is working again.

Thanks again for your great work.

[2015-03-18 05:47] reelflyt commented on #636
Using Afro Naze 32  release 1.8.0 lost rudder and throttle channel . Still had Ale. Ele . Aux 2 and Aux 3
Receiver was Orange 9 channel DSMX .

[2015-03-18 07:44] icdark commented on #632
I also have the same issue. I have Taranis with settings exact as in 1.7.2 and it works there. I have 0.63.0 Configurator and I couldn't save receiver settings.

[2015-03-18 11:51] Elo319 commented on #162
+1
tilt servo would be nice

[2015-03-18 16:25] MJ666 commented on #534
@hydra you still have this on your list. Likely public availability will be in 1-2 month if everything is going as expected. Thanks.

[2015-03-18 16:56] tbrady420 commented on #632
I got it working by following the steps to get dev GUI. Make sure you are launching 0.63 not 0.62 because you have two versions of clean flight GUI now installed on chrome.

[2015-03-18 17:45] #632 closed

[2015-03-18 17:46] hydra commented on #534
Just shout nearer the time. Need to automate the release build and upload at some point too.

[2015-03-18 18:58] tricopterY commented on #639
Setting yaw_direction=-1 behaves the same as MultiWii. Viewing your craft from behind, the rear motor pivoting assembly should be installed slightly tilted to the right eg. 5-10 degrees or say on a face of a clock at 1:00. You should not reverse the servo in cleanflight. May be you should reverse your Tx-Yaw channel. A left stick input should tilt the tail assembly to the right and vice versa, whe

[2015-03-18 23:25] Piradoxlanieve opened #643 "Gps mode not enable"
I am trying to activate the gps modes but never changes color and not activated. need 3d fix it? and 5 satellites. I use flip32+ and cleanfligh 1.7.2
![gps](https://cloud.githubusercontent.com/assets/10765838/6721500/060bf8e6-cdce-11e4-996d-593b85cedd0e.jpg)

[2015-03-19 05:02] larryho5 opened #644 "Discovery F3 PPM input not working?"
I have try to connect A8 pin to PPM receiver, and in the cleanflight-configurator CLI I have set FEATURE RX_PPM, But I getting nothing while I moving the Remote. Doesn't anyone know why? I'm I missed something? Before I set the RX_PPM feature, I have try to use PWM on A8 pin, and it is working. But not PPM.

[2015-03-19 06:50] alvins82 opened #645 "LED Strobe"
It would be great if a strobe effect was possible using LEDs driven by Naze32. Similiar to how these work - http://www.hobbyking.com/hobbyking/store/__26238__LED_PCB_Strobe_White_3_3_5_5V.html.

Ideally you could program the strips with this behaviour. Ultimately can program stuff like this in - http://en.wikipedia.org/wiki/Navigation_light#Aviation_navigation_lights.

[2015-03-19 09:01] skyflyer commented on #631
Here is a commit that changed documentation of failsafe feature. Do you want me to create a separate pull request for this?

I didn't get around to fixing the backup feature of Cleanflight GUI.

[2015-03-19 09:39] iz3man opened #646 "disable failsafe and/or low voltage beep when connected via usb"
if you just want to set some parameters or tune and connect the FC via usb it starts to beep. may be because of low voltage or failsafe as there is no transmitter turned on.
i think VBAT low voltage and FAILSAFE warnings in any case only make sense WITH a battery CONNECTED.

[2015-03-19 09:46] iz3man opened #647 "add confirmation BEEP when changing flight modes"
well, i guess the subject says all :)
i wish i could get a confirmation beep from the FC's beeper when changing flight modes like in multiwii.

[2015-03-19 09:55] thenickdude commented on #580
That code looks like a good solution to me.

What exactly is an MTK GPS, what are the common models, and do they not also support a NMEA mode?

[2015-03-19 09:59] thenickdude commented on #647
Currently improvements to the beep system are waiting on a merge of new beeper code from Baseflight upstream, so I'm adding the "blocked" label to note that.

[2015-03-19 10:02] thenickdude opened #648 "Port refactored beeper code from Baseflight"
Creating this issue to help track issues that are blocked waiting for beeper code to be ported over from upstream and progress on implementation.

Related issues:

#647 Add beep when changing flight modes
#481 Morse code beeps for failure states
#408 CLI command to play/test warning tones
#317 Beep to sound on arm/disarm

[2015-03-19 10:04] thenickdude commented on #646
Duplicate of #366

[2015-03-19 10:04] #646 closed

[2015-03-19 10:05] thenickdude commented on #643
The indicator represents the current flight mode. The GPS flight modes are not available until 5 satellites have been locked, which is why it is showing red for that status.

[2015-03-19 10:11] #555 closed

[2015-03-19 10:13] #215 closed

[2015-03-19 10:32] Piradoxlanieve commented on #643
thanks and sorry, not know there was a section in this forum

[2015-03-19 10:32] #643 closed

[2015-03-19 10:42] zdar commented on #580
There is a bunch of GPS modules based MTK chipsets. I personnaly have Quectel L80 which is waiting to be soldered to & tested with the flip32+ board.

MTK - Basicaly they are NMEA compatible GPS (they output classic NMEA strings) with some proprietary commands for configuration (https://www.sparkfun.com/datasheets/GPS/Modules/PMTK_Protocol.pdf)

[2015-03-19 14:00] snoekieboe commented on #465
Did this feature make it into 1.8.0? It seems i still cannot make use of LED and Softserial at the same time?

[2015-03-19 17:05] hydra commented on #465
Not possible to use led and softserial at the same to.e on the naze.  Is possible to use current meter and softserial since current meter does not use a hardware timer. This ticket will be updated when the latter is done.

[2015-03-19 21:09] hydra commented on #648
Thanks for opening this nick.  Much appreciated.

[2015-03-19 21:12] hydra commented on #646
Thanks for closing this @thenickdude

[2015-03-20 02:44] bobrc11 commented on #483
I have one as well, that I'd really like to be able to use.

[2015-03-20 12:19] mmartinmate opened #651 "Serial doc has lost information"
Hi
I have found that samples of serial configuration have been lost form manual.pdf and also in serial.md since version 1.7.2 after adding the new baud rates.

Yours sincerely,
    Miguel.

[2015-03-20 12:21] thenickdude commented on #651
That's those are really too hard to configure by hand (they use bitmasks which are unreasonable to compute by hand), use the new 0.63.0 Configurator's GUI interface to configure the ports instead.

[2015-03-20 12:43] xanido commented on #636
Had the exact same issue on Naze32 rev5.

[2015-03-20 13:13] #651 closed

[2015-03-20 17:37] #636 closed

[2015-03-21 08:42] digitalentity opened #653 "Buzzer - Change buzzer pin to RC_Output_6 on CC3D"
According to docs on CC3D pin 6 of RC_Output connector is always unused. Also, buzzer uses simple GPIO bit banging. Why don't use pin 6 of RC_Output to drive an external buzzer?

[2015-03-21 08:42] digitalentity commented on #653
This will allow us to attach a beeper to CC3D without precise soldering.

[2015-03-21 11:27] handsomejackuk commented on #645
just regular leds would be good to and not just ws2812b...

[2015-03-21 12:48] hydra commented on #645
Duplicate of #471. See also #473

[2015-03-21 12:48] #645 closed

[2015-03-21 12:50] #639 closed

[2015-03-21 12:54] hydra commented on #631
There us another issue already open for changing the defaults. Please search before opening new issues. See #488

[2015-03-21 13:04] skyflyer commented on #631
Dominic, #488 is related to changing the default values. This one actually addresses two separate (but related) issues:

1. that `feature FAILSAFE` is not mentioned in the documentation (pull request fixes that)
1. that not all settings are present in the "Cleanflight GUI backup" (json file)

Would you consider reopening it?

[2015-03-21 13:18] hydra commented on #631
I'll merge the or. Please open the configurator issue in the configuration issue tracker.

[2015-03-21 13:18] #631 closed

[2015-03-21 13:31] j0uni opened #654 "Flight - Yaw action on Tri-copter at Harakiri is crazy"
I have had problem with harakiri PID on my Tricopter, the Yaw RC-command is so powerful that it's difficult to fly. My yaw-rate is 0. I've tried expo on radios but it just becomes binary-type control. Dual rates don't work either because then you cannot arm the copter - and loose the resolution.

I've already patched my own fork of the Harakiri PID by just dividing the YAW RC command half. It is t

[2015-03-21 13:49] hydra commented on #631
I can't find a PR for the commit that updates the documentation

[2015-03-21 13:52] skyflyer commented on #631
I just referenced the commit in the fork (I asked whether you want a separate pull request). I'll create it right away.

[2015-03-21 16:42] Ludn commented on #598
Thank you to all, wanted to report that issue is fully solved with v1.8.0 cause communication is continued and MAG works well.

[2015-03-21 20:38] thenickdude commented on #654
I can't think of a good reason why the yaw rate would have a different effect on a tricopter, as it is supposed to control the rotation rate as measured by the gyroscopes (so if a tricopter had a "stronger yaw system", it should be detected as yaw rate overshoot and the control signal should weaken). I think discovering the reason for the difference would be useful.

[2015-03-21 20:41] j0uni commented on #654
On other PIDs the yaw is working "normally". My friend said that the yaw is also very powerful on his quad (compared to other PIDs) but it's flyable. So clearly there's something different in calculations.

[2015-03-21 21:49] ledvinap commented on #654
@thenickdude : Maybe the pid is saturated for quad (or yaw jump limit is causing saturation?)

[2015-03-22 08:02] ethomas997 commented on #648
Is anyone currently working on this task?  If not then I'll work on it and post a PR.

--ET

[2015-03-22 08:19] catchthewind commented on #586
Is it already fixed?
 I have uploaded cleanflight 1.8 to my CC3D but yaw servo is not working at all :(
 I am also using tricopter mix.Tail servo is S1.

[2015-03-22 09:03] thenickdude commented on #648
@ethomas997 haven't heard anyone mention it on the IRC channel (I'm not working on it, at least).

[2015-03-22 09:31] hydra commented on #648
@ethomas997 please go ahead and do this! Many thanks.

[2015-03-22 10:43] digitalentity opened #660 "Scheduling - Consider using a RTOS"
I was thinking, CF is running a single time-critical task - gyro & acc stabilization. All other stuff (rc input, logging, GPS, althold, poshold, beeping, ledstrip, telemetry, msp etc.) is in fact asynchronous to main stabilization loop. Why not use some RTOS (FreeRTOS?) to do the scheduling?
This will eliminate issues like buzzer blocking the main loop, allow us to run heavy and time-consuming nav

[2015-03-22 12:12] thenickdude commented on #660
The buzzer doesn't block the main loop, the only buzzer related routine that does block is the one that flashes the lights at the same time, which is easily replaced with more of the non-blocking stuff that beeper.c does already.

Right now there's nothing so slow that is preventing us from running nice looptimes. The main advantage would be for new features that are added that are so slow that th

[2015-03-22 12:45] digitalentity commented on #660
I think althold and poshold should be recalculated on any new data, that would be baro or sonar for althold, and gps update for poshold. Both happen asynchronous from main loop. RTOS would allow us to simply run a task without thinking about how often we should call some function from the main loop. That would greatly improve code readability.

[2015-03-22 18:33] catchthewind commented on #586
Is there any way to manually map servo to output 4,5 or 6 or get any other way of controlling it?

[2015-03-22 20:52] thenickdude commented on #660
True!

[2015-03-22 21:00] enly1 commented on #660
If this goes beyond a discussion, for STM32 processors, Chibios support is
excellent. www.chibios.org

On 22 March 2015 at 20:52, Nicholas Sherlock <notifications@github.com>
wrote:

[2015-03-22 21:04] imagebuff commented on #272
Hit this issue as well today after adding pitch adapters to the motors.  Really need this fix for angle mode to function properly.  This is not safe as angle mode takes off forward instead of hovering.

[2015-03-22 21:21] hydra commented on #660
I was having discussions regarding this exact topic in the pub in mayrhofen on friday!  At some point yes it would be nice to look into this.

[2015-03-22 21:23] dan2730 opened #661 "sparky flight control board"
does someone have instructions to hook up led and frsky telemetry on sparky flight control board

[2015-03-22 22:41] ledvinap commented on #660
I am not that sure that switching to RTOS will be worth it.
- There are other firmwares that use RTOS, it may be easier to port CF features to them.
- Using RTOS will create new problems - resource locking, priority handling, race conditions. Some bugs may be considerably harder to find in comparison with current model.

[2015-03-22 22:50] digitalentity commented on #660
I agree with @hydra, switching to RTOS now wouldn't be

[2015-03-23 07:33] rocky77 opened #662 "Enhancement : autotune documentation"
I think that the sentence "Autotune does not support pid_controller 2 (pid_controller 0 is the Cleanflight default)."  could be change by "Autotune only support pid_controller 0 (pid_controller 0 is the Cleanflight default)."

[2015-03-23 08:03] thenickdude commented on #662
That's not true though, it supports all the PID controllers that use integral PID settings, which is every controller except number 2.

[2015-03-23 08:18] rocky77 commented on #662
OK,  I didn't know that. So we can use Autotune with all  pid_controller except number 2, is it true?

So we can change for better understanding,  by "Autotune supports all the Pid controllers that use integral Pid settings except pid_controller 2 (pid_controller 0 is the Cleanflight default)."?

[2015-03-23 10:01] thenickdude commented on #662
I don't think that would be helpful because there's no reason to expect people to know which PID controllers use integral PIDs (it's an implementation detail that pretty much has no visible impact).

[2015-03-23 19:14] tricopterY commented on #660
:+1: @ledvinap

[2015-03-23 19:55] ledvinap commented on #660
BTW: Maybe it would be interesting to connect CF and Intel Edison. It may provide best of both worlds..

[2015-03-23 20:07] tricopterY commented on #660
@ledvinap - it does not add up. What do you mean?

[2015-03-23 20:18] ledvinap commented on #660
Keep CF, but allow sending all sensor, RC, GPS data over serial and receive motor commands back.
It should be quite easy to move current loop internals to linux thread.
Also CF will work as failsafe, just implement this as 'REMOTE' mode ...

[2015-03-24 01:48] hodaddy4 commented on #545
Any progress on this? I'm more of a hardware than a software guy, but I'm learning and I have same sensors sitting around that I got without knowing what I was getting into

[2015-03-24 02:07] hodaddy4 opened #664 "Serial RX and GPS apparently invalid"
I am running a cc3d flashed to clean flight and spectrum satellite on UART1 as RX_SERIAL and UART3 sending CLI, MSP, GPS Pass thru to Bluetooth and odd. I enable softserial and everything is fine when I assign GPS to SOFTSERIAL1. When I enable GPS the board resets and all my port settings are back to default. Is this a bug or am I doing something invalid?

[2015-03-24 02:29] thenickdude commented on #664
Which firmware and configurator version? (both bits of info are printed in the configurator log at the top of the window)

[2015-03-24 02:34] hodaddy4 commented on #664
Clean flight 1.7.2 and configurator 0.62.1

[2015-03-24 02:37] hodaddy4 commented on #664
If it makes a difference, I did the full flash (not the dual boot loader)

[2015-03-24 03:16] larryho5 opened #665 "STM32F3 - PPM Problem"
![20150324_110341_resized](https://cloud.githubusercontent.com/assets/11228064/6795131/c4c7a3a6-d216-11e4-8971-9dacfed35819.jpg)
![20150324_110432_resized](https://cloud.githubusercontent.com/assets/11228064/6795132/c74471a4-d216-11e4-9f7e-946f0d30fbbd.jpg)
![20150324_110802_resized](https://cloud.githubusercontent.com/assets/11228064/6795133/ca5bbf96-d216-11e4-970a-d5067e08f09f.jpg)
![20150324_14

[2015-03-24 03:17] #644 closed

[2015-03-24 13:04] frog32 commented on #665
Are you using 1.8.0? I have the same issue using ppm. Using an older version works just fine for me.
There seems to be an issue with ppm in 1.8.0.

[2015-03-24 19:09] hodaddy4 commented on #664
As an update to this, I flashed Clean Flight 1.8 and used the 0.63 Configurator. It doesnt crash when assigning the com ports as previously stated, but no GPS was found. I reconfigured the ports to try and use MSP on SOFTSERIAL. It 'kind of' connected  to configurator but was very slow and intermittent. sending commands on CLI echoed missing letters of each command. Started adjusting the settings

[2015-03-24 21:47] tricopterY commented on #665
The best combo is CF 1.8.0 and Configurator 0.63.0. Configurator may not be reflecting correctly.

[2015-03-24 22:10] digitalentity commented on #664
I can confirm that MSP on softserial is slow, cli sometimes shows corrupted
and missing letters. Don't have my logic probe at the moment, so I can't
chuck what's actually happening on the wire.

[2015-03-25 00:35] hydra commented on #665
Problem confirmed with 1.7.0 and 1.8.0 - clearly this has been broken for a little while  Thanks for the report.

This is likely also an issue on the sparky board too.
Problem confirmed also on the SPRacingF3.
PPM Works fine on F1 targets so the issue only appears to be related to the F3 targets.

I have mainly been testing F3 targets with Parallel PWM and Serial RX receivers so this PPM issue has

[2015-03-25 00:56] hydra commented on #384
Whilst looking for another bug this evening I noticed that the ACC is fine in 1.2.0

[2015-03-25 01:01] hydra commented on #384
Confirmed issue in 1.3.0.  Must be some commit between 1.2.0 and 1.3.0.

https://github.com/cleanflight/cleanflight/compare/v1.2.0...v1.3.0

[2015-03-25 01:07] hydra commented on #384
It's likely due to the change of the I2C code which was using 16 bit reads instead of 8 bit reads due to the misconfigurator of the I2C device.

See
e9c07675be57b15dd83909540a16fdc53c8d67a4
78bb6b52e2003b9d0c5d4f6da386710dca78fd34

[2015-03-25 01:26] hydra commented on #384
This hack fixes it:

diff --git a/src/main/drivers/accgyro_lsm303dlhc.c b/src/main/drivers/accgyro_lsm303dlhc.c
index 6dc55c7..a88395d 100644
--- a/src/main/drivers/accgyro_lsm303dlhc.c
+++ b/src/main/drivers/accgyro_lsm303dlhc.c
@@ -110,7 +110,7 @@ static void lsm303dlhcAccRead(int16_t *gyroData)
 {
     uint8_t buf[6];

-    bool ok = i2cRead(LSM303DLHC_ACCEL_ADDRESS, OUT_X_L_A, 6, buf);
+    bo

[2015-03-25 01:37] hydra commented on #665
The problem occured between 1.0.0 and 1.1.0

https://github.com/cleanflight/cleanflight/compare/v1.0.0...v1.1.0

[2015-03-25 01:40] hydra commented on #665
@nebbian I have a sneaky feeling the oneshot code might have something to do with it see c0ed21a818e22070507386a503939fc1d775f92f

[2015-03-25 01:43] hydra commented on #665
@ledvinap Maybe it was this? aa7f5c4a1e66fb838f4ffb95ef1e41038765e1cc

[2015-03-25 01:53] larryho5 commented on #665
yes, I just tryed 1.7.2, 1.7.1, 1.6.0, 1.5.0. and all of this doesn't work on my f3 discovery board

[2015-03-25 02:09] hydra commented on #665
@nebbian doesn't look like it was the oneshot code.

@ledvinap can you investigate?

[2015-03-25 02:15] hydra commented on #665
See #113

[2015-03-25 02:15] larryho5 commented on #665
have you tried ppm on F3 Discovery board before? It seems like doesn't work from the version of  1.0.0.

[2015-03-25 02:15] hydra commented on #665
it works on 1.0.0 here.

[2015-03-25 02:27] nebbian opened #668 "LuxFloat I value not able to be tuned effectively"
Several people including myself have noticed that when using PID Controller #2 (LuxFloat), the I term is not able to be set high enough to effectively hold angle properly.  The pull request below has been flight tested by myself and others, and solves the issue.

Pull request is here
https://github.com/cleanflight/cleanflight/pull/666

[2015-03-25 02:40] larryho5 commented on #665
oh... I just tried many times on 1.0.0 without the configurator, just monitor the output GPIO, it seems doesn't have any change when I move remote stick.

[2015-03-25 05:14] ethomas997 commented on #648
Alright, PR is posted.  http://github.com/cleanflight/cleanflight/pull/669
I've been flying this version with no issues.

--ET

[2015-03-25 05:56] xoxota99 opened #670 "Obsolete docs for telemetry"
telemetry_provider appears to no longer exist as a setting in 1.8.0

[2015-03-25 05:58] xoxota99 opened #671 "Obsolete docs for softserial"
Setting serial_port_xx_scenario appears to no longer exist in 1.8. Configurator "ports" tab appears all jacked up (showing "UART1" multiple times, and nothing else, on Naze32). See attached.
![screen shot 2015-03-24 at 10 57 37 pm](https://cloud.githubusercontent.com/assets/3106132/6819124/466c8e1e-d279-11e4-896e-32bebd0f87fe.png)

[2015-03-25 05:59] thenickdude commented on #671
You're using the wrong Configurator version, please use the 0.63.0 version mentioned as required in the release notes:

https://github.com/cleanflight/cleanflight-configurator/tree/development

[2015-03-25 05:59] #671 closed

[2015-03-25 06:02] xoxota99 opened #672 ""Save and Reboot" from Configuration tab doesn't do either of those things on Naze32."
Repro:
1) Connect to Naze32 (running Cleanflight/NAZE 1.8.0 Mar 20 2015 / 18:39:17 (730d0fe))
2) Go to "Configuration" tab.
3) Change any setting, e.g. set "Yaw Adjustment" to -90.
4) Click "Save and Reboot". Observe the board does not appear to reboot.
5) Disconnect the board and reconnect. Observe the change to "Yaw Adjustment" has not actually been saved. Same prblem occurs for all settings, on

[2015-03-25 06:05] xoxota99 opened #673 "After saving in CLI tab, CLI is unresponsive"
Repro:
1) Connect to Naze32 (running Cleanflight/NAZE 1.8.0 Mar 20 2015 / 18:39:17 (730d0fe))
2) Go to CLI tab, change a setting (e.g. set failsafe_throttle = 1100)
3) type "save". Observe the setting is correctly saved, and the board reboots.
4) After rebooting, configurator is still connected. Attempt to type anything else in the CLI tab. Observe there is no response. CLI is unresponsive until y

[2015-03-25 06:06] digitalentity commented on #673
I believe this is the wrong place to post this issue. It is configurator related and should be opened there.

[2015-03-25 06:07] xoxota99 commented on #671
Thanks! Doesn't configurator update automatically? How can I tell what version I'm using?

[2015-03-25 06:07] digitalentity commented on #672
Make sure you are using 0.63 version of the configurator. "Save and Reboot" is apparently working on my Flip32 (Naze32 clone) with 1.8.0 cleanflight and 0.63 configurator.

[2015-03-25 06:09] xoxota99 commented on #671
Uninstalled and redownloaded the latest version from Chrome web store. No change.

[2015-03-25 06:11] xoxota99 commented on #672
Thanks. Where can I get latest version? I uninstalled and reinstalled from Chrome web store, and no difference (that appears to be v 0.62.1?)

[2015-03-25 06:11] xoxota99 commented on #673
Crap. Sorry. Resolving.

[2015-03-25 06:11] #673 closed

[2015-03-25 06:12] xoxota99 commented on #672
Resolving, as this is a configurator issue. This is the wrong issues repo.

[2015-03-25 06:12] #672 closed

[2015-03-25 06:13] digitalentity commented on #671
Please read release notes to 1.8.0 release here: https://github.com/cleanflight/cleanflight/releases/tag/v1.8.0
You cannot use the Configurator from the Chrome Web Store, you should manually install configurator from "development" branch here: https://github.com/cleanflight/cleanflight-configurator/tree/development

You install it this way:
1) Download it as zip, unpack to some directory (for exam

[2015-03-25 06:39] frog32 commented on #665
I see the same problem with a naze32 after flashing and setting ppm using cli. My new job does't allow me to do open source development yet (some paperwork needed), but I will try to bisect the problem and see which commit is causing the problem.

    cleanflight frog32$ git bisect start
    cleanflight frog32$ git bisect good v1.0.0
    cleanflight frog32$ git bisect bad v1.8.0
    Bisecting: 463

[2015-03-25 06:43] tricopterY commented on #665
Just wondering about casting (uint16_t)PPM_TIMER_PERIOD, where  PPM_TIMER_PERIOD = 0x10000
i.e 65536. Shouldn't that be 0xFFFF i.e 65535.
Then we don't have to do:
TIM_TimeBaseStructure.TIM_Period = PPM_TIMER_PERIOD - 1;

[2015-03-25 06:44] thenickdude commented on #665
@frog32: PPM definitely works on the Naze32 with 1.8.0, that's what I fly every day.

[2015-03-25 06:55] frog32 commented on #665
@thenickdude I have tried with 3 different boards (naze32 rev4, rev5, rev5 acro) and all did not work. I will try again this evening and try to make this reproducible.

[2015-03-25 07:05] thenickdude commented on #665
It definitely works on Naze32/F1... otherwise since PWM is broken on 1.8.0, the only people who would have been able to fly 1.8.0 would be using Serial Rx and the issue tracker would be exploding from tickets.

What receiver are you using, and have you added the appropriate jumper (if required) to enable PPM output on it?

[2015-03-25 08:33] hydra commented on #671
Yes, all that and please search before opening new issues!

[2015-03-25 08:36] hydra commented on #648
Nice!  I'll check this out.

[2015-03-25 08:50] ledvinap commented on #665
@hydra: Will get to in ASAP. Can you please check if Sparky is affected? Sparky is only 303 HW I can test ...

[2015-03-25 09:17] hydra commented on #665
@ledvinap Interestingly the Sparky PPM is fine with current master.

I will be shipping a SPRacingF3 board to you when they roll off the production line.  I can use some project donations and order you an STM32F3Discovery and have it shipped to you if needed.

[2015-03-25 09:42] ShikOfTheRa commented on #483
Yep - another+1 here!
I really like how this one performs under SPI on BF.
Would really like to see this one with CF too

If you need hardware to dev/test I can my spare over

[2015-03-25 09:47] ledvinap commented on #665
TIM16 and IRQ sharing may be the difference. But on SPRacingF3 TIM2 is used for PPM.

Generated code looks OK ...

Can you try commenting out TIM16 on SPRacingF3 ?

[2015-03-25 13:23] #670 closed

[2015-03-25 13:23] hydra commented on #670
Fixed!  Thanks for the report.

[2015-03-25 16:16] hydra commented on #665
@ledvinap yes i can try that on the SPRacingF3 target.  Any ideas on what to try on the STM32F3Discovery?

@ledvinap Not sure if this is related. but the pwmEdgeOverflow callback (yes, pwm) never gets call on the SPRacingF3 for the first 4 PWM inputs when powering off the RX.  I can raise a separate issue for this if you think it's unrelated.

[2015-03-25 18:54] hydra commented on #665
@ledvinap Ok, i disabled `TIM16` in the SPRacingF3 target and that does not change things.  PPM still dead.

If i set a breakpoint in the `ppmOverflowCallback` it's only ever called once, the first time it overflows.  It's never called again and thus `ppmDev.largeCounter` is never increased. (remains at 65536).

This then means that `ppmDev.stableFramesSeenCount = 0;` is eventually executed result

[2015-03-25 19:25] hydra commented on #665
Ok, i have found the issue.  It's in the configuration of the ARR register.  Using timCCR_t instead of uint16_t fixes it.  Doing more testing.

[2015-03-25 20:05] frog32 commented on #665
ok I checked again and naze32 seems to work, but the gui is unusable and gets a lot of ```MSP data request timed-out: 1```warnings. But looking at the motors page shows stuff should be working.

[2015-03-25 20:22] hydra commented on #665
@frog32 I think you might be using latest firmware with old configurator.  Use 1.8.0 with 0.63.x.

@ledvinap I spoke to soon, while the fix works for TIM2 on the SPRacingF3 it does not fix the issue on the STM32F3Discovery.

[2015-03-25 20:32] ledvinap commented on #665
@hydra: Can you elaborate a bit, please? I don't see `ARR` access except 'timCCxHandler' and 'TIM_TimeBaseInit', both seem to be typed correctly..

[2015-03-25 20:52] hydra commented on #665
@ledvinap I'll show you a branch that fixes it on both targets and will comment on the commits, give a few mins.

[2015-03-25 21:02] tricopterY commented on #665
I may sound stupid - I just do not understand #define PPM_TIMER_PERIOD 0x10000. I thought the 16bit timer would be 65535 i.e 0xFFFF.

[2015-03-25 21:05] hydra commented on #665
@tricopterY there's a -1 floating around in the code where the timer ARR is set.  Probably needs some cleanup.

[2015-03-25 21:06] hydra commented on #665
@ledvinap @tricopterY Here's a workaround commit.

https://github.com/cleanflight/cleanflight/commit/b85351d250c22f387d090cdb0ddc7c447521976f

It's definately not the final solution.

[2015-03-25 21:11] ledvinap commented on #665
@tricopter: That was my decision.
STM32 timers have period ARR+1. So if you want maximum period ( 0x10000 ticks), you load 0xffff into register. Old code got this wrong, if was ignoring the +1 part. Not too big error, but wrong.

New `timerConfigure()` takes timer period as `period` parameter, with 0x10000 passed as zero (this is single period value when 16bit is not enough).

[2015-03-25 21:14] hydra commented on #665
TIM2 on SMT32F303 has a 32bit ARR.

[2015-03-25 21:15] frog32 commented on #665
Still got issues, everything works just fine but when I connect a ppm receiver I get MSP request timeouts and crc errors using development branch of configurator https://github.com/cleanflight/cleanflight-configurator/commit/52d76709777eb044fd89e3da128b9782b3ea0eb4 and v1.8.0 of cleanflight.

[2015-03-25 21:17] hydra commented on #665
@frog32 I think your problem is different then, please open a new issue and full describe your symptoms, hardware, wiring, rx/tx details and configuration dump and steps to repeat.

[2015-03-25 21:20] ledvinap commented on #665
con you try to change https://github.com/cleanflight/cleanflight/commit/b85351d250c22f387d090cdb0ddc7c447521976f#diff-f7c531a600c2ba76bf2540035c446c6dR369
[code]

[2015-03-25 21:23] hydra commented on #665
Yes, after the above comments it seems like it might be that simple. 1 sec.

[2015-03-25 21:31] hydra commented on #665
@ledvinap that fixes the SPRacingF3 target, but the STM32F3Discovery/Chebuzz is still failing.

[2015-03-25 21:34] hydra commented on #665
![ppm-1](https://cloud.githubusercontent.com/assets/57075/6836024/a8c4064c-d336-11e4-8ee9-20510302a4c1.PNG)

Here's a debug session showing the issue.  Note the values of the deltaTime 7 and 8.

[2015-03-25 22:34] ledvinap commented on #665
Both use TIM1 for PPM and have TIM16 used elsewhere. So it may be TIM1_UP_TIM16_IRQn.

If TIM16 is not initialized, TIM1_UP_TIM16_IRQn may stay at default priority and thus interrupt Edge handler. It is race to solve, but probably not critical.

deltaTimes[7] = 0xffff0000 + 991 ... like if largeCounter was decremented
deltaTimes[8] - capture = 0xfeef ... not sure if thisis significant

[2015-03-25 22:53] ledvinap commented on #665
There is IMO no way to handle large counter correctly without greatly complicating the code. Timer overflow and capture interrupt may arrive in any order.

PPM should work quite fine with 16bit timer delta (oneshot 8ms overflow must be checked), overflow ISR may be used only to check for timeouts.

I'll look into it tomorrow ...

[2015-03-25 22:56] frog32 commented on #665
sorry my problem seemed to be just an emf issue, used uhf receiver with telemetry using just a monopole antenna, this uses then the cable as counter part which introduced a lot of noise. only real problem is that cleanflight locks up when receiving noisy ppm stream.

[2015-03-25 23:01] hydra commented on #665
@frog32 this is expected behaviour since the PPM handlers will be continually called by the MCU because the hardware is configured to run then when the signal transitions to/from high/low.  The noise will then result in the handlers being called continually and will prevent the CPU from handling other tasks.  Fix the noise, problem solved. :smile:

[2015-03-25 23:05] hydra commented on #665
@ledvinap great, thanks for your valuable input. Look forward to seeing your solution.

[2015-03-25 23:08] hydra commented on #668
What size aircraft have you tried this on?

[2015-03-25 23:13] hydra commented on #664
There is work in progress code changes to improve softserial.  See #113.

With regard to 1.7.2 that is expected behaviour if your configuration is invalid.  You probably forgot to configure something.

[2015-03-25 23:13] #664 closed

[2015-03-25 23:14] hydra commented on #661
Please use the forums and IRC for support.  The issue tracker is reporting issues and bug. See documentation.

[2015-03-25 23:14] #661 closed

[2015-03-25 23:15] hydra commented on #662
Closing.  Nothing to do IMHO.

[2015-03-25 23:15] #662 closed

[2015-03-25 23:18] hydra commented on #654
I found my CJMCU micro quad unflyable with Harakiri.  I need to give this a test.

@j0uni Can you give us the spec of your quad and a config dump?

[2015-03-25 23:19] hydra commented on #606
@dronadair Any update?

[2015-03-26 01:11] nebbian commented on #668
This was apparent on a 250 size "Zippa" mini quad, and FinalGlide noticed the issue on a 250 size Blackout quad.

[2015-03-26 03:34] dkisselev commented on #465
@hydra is there another platform that has more HW timers? Or would it be possible to give LED the option of using a software timer? Looking to use LEDs with always-on telemetry (which requires softserial)

[2015-03-26 04:53] j0uni commented on #654
Sure @hydra. My tricopter is 210mm M2M and I'm running 5" props (3blade) on 3S pack at 1900kv. The servo is directly connected to yaw axis (no linkage). Pic here: http://tulos.tuu.fi/wp-content/uploads/2015/02/IMG_4213.jpg

Settings here: http://tinyurl.com/pmjbwub

Try it, it's really "natural" with my fix.

[2015-03-26 05:31] thenickdude commented on #465
You can use LEDs with always-on telemetry without using softserial. Just put telemetry on UART2.

[2015-03-26 05:47] dkisselev commented on #465
Ahh, my bad, I was going off of this (outdated, especially for 1.8) video: https://www.youtube.com/watch?v=dahGlc3Tf40, but just realized that softserial was needed in that case to handle the GPS as well as telemetry/LED's.

I guess to expand on the question, would it be possible to do always on Telemetry + GPS + LED's? I guess the solution would be to attempt to migrate either softserial or LED's

[2015-03-26 06:08] dronadair commented on #606
Not yet, i'm traveling, will have a look in a few days.
Le 26 mars 2015 00:19, "Dominic Clifton" <notifications@github.com> a écrit
:

[2015-03-26 07:16] thenickdude commented on #465
I think pull request #177 attempts to use one hardware timer to serve several systems (combine timers).

Otherwise you could use an F3 based system like the Sparky or Hydra's in-development flight controller, which support 3 hardware serial ports and an additional USB port (so you could have always-on telemetry and GPS on 2 of the hardware ports, CLI/MSP using the USB port, and not use softserial

[2015-03-26 07:36] ledvinap commented on #465
@thenickdude : #177 wont help here without quite large LEDs code rewrite. LEDs need whole timer (in 8bit mode). But it may by possible to move things around so that function that don't need timer are on remaining LEDs timer pins.

[2015-03-26 10:38] ledvinap commented on #665
@hydra: the ppm noise problem may be partially solved by using long enough input filtering, so that there is enough time to process IRQs. Setting filter time to minimum expected pulse width should do the trick (and does not degrade performance).
Another useful improvement is to disable IRQ for some time if too short pulse is detected (or invalid PPM frame is received).

`Fix noise` is only partial

[2015-03-26 11:42] thenickdude commented on #665
But if you have that much noise on the input, can you really have reliable control? It seems like slowing down the FC is a best-case scenario when it could easily just take off with no intentional input.

[2015-03-26 15:59] ummagawd commented on #668
Confirmed on vortex prototype on 1.7.2

[2015-03-26 17:24] hydra commented on #665
See #676

[2015-03-26 17:25] ledvinap commented on #665
#676 should fix this ...

TIMx_UP IRQs  were not enabled, so the flag got processed much later when compare IRQ occured.

Old code did not use overflow  on TIM1 to hide another bug, and 16bit capture differences usually worked (when there was no overflow in PPM frame)

The ppm code is still buggy, but should work reasonably well now ..

@hydra: Can you test it? I don't have access to PPM receiver

[2015-03-26 17:27] hydra commented on #665
@ledvinap yes, ignoring noise at the FC would be good

@frog32 please open a new issue and mark it as enhancement.

It's also not obvious but if you're only sending telemetry when armed and the noise from telemetry transmissions cause problems then you may never notice the problem in the configurator when using a shared msp/telemetry port.

[2015-03-26 17:33] hydra commented on #665
@ledvinap yes, i might be able to test this a bit later tonight.

I'm going to be very busy over the next two days so might not get the chance till sunday.

If others wants to test on whatever targets they have handy that would be great - please provide feedback here.

@ledvinap what other changes do you think need to happen in the PPM code to avoid the race conditions you mention, can you give me

[2015-03-26 18:33] ledvinap commented on #665
@hydra: As state above, overflow and compare IRQ may occur in 'wrong' order.
(`ARR=99, largeCounter=0`)
when Up has priority:
[code]
when CC has priority:
[code]

You can handle this by assuming that handler delay is bounded, checking if CC register is close to overflow (and from what side) and checking UIF flag. It will get a more complicated when ONESHOT is in effect, but should be doable.

[2015-03-26 19:18] hydra commented on #665
Ok, the fix in PR #676 works fine on the PORT103R, SPRacingF3 and the STM32F3Discovery/ChebuzzF3.

I will merge that now and perhaps you could look into handling the race condition so that frames are not lost?

[2015-03-26 19:54] hydra commented on #668
@ummagawd thanks for the feedback.

[2015-03-26 19:59] ledvinap commented on #665
The code has this problem for long time and nobody noticed. I'am slowly working on new IO implementation and other improvements, I'll look at PPM in the process.

I would like to split PPM handling into input queue and data processing (similar to softserial), so that high priority timer ISR is short and without spikes. This is necessary for reliable softserial.

Also oneshot may be probably implem

[2015-03-26 20:16] ummagawd opened #677 "motors spin up after an FC reset"
on 1.7.2 with Immersion's Vortex quad, oneshot enabled

I noticed that anything that causes the FC to restart, causes the motors to spin up for a brief second.

Kinda scary when you're not expecting it.

Anthony told me he spoke to you (Dominic) about it, but I didn't see it so I just wanted to make sure it wasn't missed. My apologies if it was already addressed and I just didn't see it.

[2015-03-26 20:18] stronnag commented on #677
smells like yet another instance of #123

[2015-03-26 20:30] ummagawd commented on #677
thanks stronnag, i missed that issue. I believe i'm reporting the same thing here

I will go ahead and close this ticket :) and watch that one instead

[2015-03-26 20:30] #677 closed

[2015-03-26 20:33] ummagawd commented on #123
This is happening on my protoype vortex quad. The OSD allows for looptime and PID controller changes, but it does an FC reset when i leave that menu. When that happens, the motors spin up for a brief second. FS value is enabled but at a value = 1000 (not enough to spin the motors, ESC is looking for around 1100 in my case before it spins) in case that helps.

I can also replicate this when plugged

[2015-03-26 20:34] stronnag commented on #677
Please leave a comment on #123, especially details of the ESCs and motors.

[2015-03-26 20:48] muellerr opened #678 "Blackbox strange axisI data"
I'm using Cleanflight 1.8 and a naze32 board on one of my quadcopters. Thanks to the newest version of Cleanflight I can now log flight data to the onboard memory.
Most of the data makes sense. What does not make sense is the "axisI" that does not change over very long periods of time. See the following image:
![blackbox_log](https://cloud.githubusercontent.com/assets/11670132/6856362/f0d883bc-d3f

[2015-03-26 20:57] thenickdude commented on #678
That's normal, the I term can only be reduced when the error changes sign, which will either happen when you change direction, when you're hovering, or if the I term is correcting for an offset CoG it might never drop.

[2015-03-26 20:59] thenickdude commented on #678
(the I term saturates due to limiters which is why it flattens out like that. If there were no limiters you'd probably see it moving around freely instead of sitting at the saturation point)

[2015-03-26 21:00] ledvinap commented on #678
@muellerr : What PID are you using?

[2015-03-26 21:06] muellerr commented on #678
@thenickdude: thanks for your answer. There seem to be at least two different levels present. Do these limits change depending on flight mode?

@ledvindap: On the axis shown I use P=4, I=0.025, D=25. But it seems far from the optimum.

[2015-03-26 21:11] ledvinap commented on #678
@muellerr : And what PIS are you using? (`set pid_controller=n`)

[2015-03-26 21:13] muellerr commented on #678
I'm using 0.

[2015-03-26 21:26] digitalentity commented on #665
Why use a timer for PPM/PWM? The same functionality can be easily
implemented using EXTI with probably even less software processing.
Moreover, we will be able to use any hardware pin for pwm/ppm receiver
giving us more flexibility and freeing up a timer for other tasks.

[2015-03-26 22:02] ledvinap commented on #665
@digitalentity : Using exti will add interrupt latency to PPM measurement. Current interrupt latency is ~10us in some cases, this will create ~10 counts PPM noise.

Using EXTI for PWM won't work for some combinations (EXTI multiplexer) and accuracy problem will be the same ...

[2015-03-26 22:54] digitalentity commented on #665
@ledvinap, my bad, forgot about latency.

[2015-03-27 12:28] bhuism commented on #148
@avoid3d, are you still working on this issue? I'd love to help

[2015-03-27 22:37] makattack commented on #498
I've always viewed the motor_stop default for multiwii and the forks as almost an homage to internal combustion powered models. Still, even with gas helis, there is a clutch for throttle hold/auto rotate. It seems to me unnecessary for electric powered aircraft. I've always disabled it since multiwii 2.x.

I also use an aux  channel to arm my tricopter top avoid vibrations traveling down the booms

[2015-03-28 10:03] Fvk1960 commented on #572
Why blocked status with no feedback.
Ok i will close this item.

[2015-03-28 10:03] #572 closed

[2015-03-28 10:12] SamuelBrucksch opened #679 "FrSky - GPS speed incorrect for D-series telemetry"
static void sendSpeed(void)
{
    if (!STATE(GPS_FIX)) {
        return;
    }
    //Speed should be sent in m/s (GPS speed is in cm/s)
    sendDataHead(ID_GPS_SPEED_BP);
    serialize16((GPS_speed * 0.01 + 0.5));
    sendDataHead(ID_GPS_SPEED_AP);
    serialize16(0); //Not dipslayed
}
#endif

should actually be transmitted in knots as per specification of frsky protocol:
http://www.frsky-rc.com/d

[2015-03-28 14:41] SamuelBrucksch commented on #251
You can easily adjust it yourself. In frsky.c check for method "handleFrSkyTelemetry" there you have 3 timing conditions:
 if ((cycleNum % 4) == 0)      // Sent every 500ms
if ((cycleNum % 8) == 0)       // Sent every 1s

And avove those two it is sent ever 125ms. If you want to have gps data every 500mw just move
#ifdef GPS
        if (sensors(SENSOR_GPS)) {
            sendSpeed();
            s

[2015-03-28 19:03] hydra commented on #660
Better task scheduling instead of task jitter the main issue that needs to be solved, currently there are some issues that would benefit from this.

1. GPS SV Frame processing - it's intermittent when unarmed with OLED display, every so often the timers for the OLED and GPS get out of phase and sometimes GPS frames are not received correctly and then are eventually received properly when the phase

[2015-03-28 19:29] kylemanna commented on #660
It's worth mentioning that [Pixhawk runs NuttX](https://pixhawk.org/dev/nuttx/start) RTOS.

[2015-03-28 20:23] #637 closed

[2015-03-28 21:31] SystemsGuy opened #680 "Selecting Oneshot125 results in insufficent throttle control in 3D mode."
When using SimonK escs configured for reverse mode - RC_PULS_REVERSE = 1, and using Oneshot125, CF throttle ranges appear "off".  Full max throttle results in 1/3 of full motor power, and full min throttle results in a equal (1/3) amount of reverse thrust.  The deadband range is also very large.

Disabling Oneshot125 in CF causes the motors to react correctly - small center deadband, and full posi

[2015-03-28 23:37] thenickdude commented on #680
I hooked a logic analyser up to a motor pin and tested it on the motors tab with mincommand = 1000, minthrottle = 1100, maxthrottle = 1900, ONESHOT125, but without 3D, with these results:

[code]

Then I enabled 3D and measured again:

[code]

So pulse length generation under OneShot is the same between using 3D and not using 3D, and pulse times look perfectly to spec.

I moved my throttle around

[2015-03-29 04:15] SystemsGuy commented on #680
Hey Nick - tried a reflash with sticks calibration allowed, and used the motors commands to set max, min, and neutral with the beeps as expected.  Unfortunately exact same results, so I've opened an issue over at tgy! https://github.com/sim-/tgy/issues/75

[2015-03-29 08:25] Akfreak commented on #615
Fixed..

[2015-03-29 15:37] usab commented on #229
Hi hydra,
Sorry for writing you again. ;-)

I would like to (still) ask for a little change in the buzzer code sound. Isn't it possible to just turn on the buzzer when
actual_voltage < alarm_volt
and turn off when
actual_voltage > alarm_volt?

I don't think it requires a new or more complexity. I really only want to change the melody from:
"beep ___ beep ___ beep ___ beep ..."
to a constant:
"beee

[2015-03-29 16:49] Fly3Fan opened #681 "RX - Add support for Multiplex SRLX"
Could somebody please implement SRXL to be used in CLEANFLIGHT. Otherwise MULTIPLEX users cannot utilise all the nice CF features that require serial signal.

Here in Germany Multiplex is very popular but still SRXL is only popular in the helicopter scene so far (Microbeast e.g. have implemented it).

Would be great if someone could help!

Here you can find the documentation of Multiplex SRXL ("SR

[2015-03-29 19:09] avoid3d commented on #148
I would love to, but alas I am very busy :(

On Fri, Mar 27, 2015 at 2:28 PM, Bas Huisman <notifications@github.com>
wrote:

--
Pierre Hugo
Founder, MyNames <http://mynames.co.za/#/?ref=email>: Painless Domain
Management
Check if your brand is still available? <http://mynames.co.za/#/?ref=email>

[2015-03-29 19:37] tracernz commented on #681
Try X-Bus mode B. I've heard it's the same protocol by a different name.

On Sun, Mar 29, 2015 at 9:49 AM -0700, "Fly3Fan" <notifications@github.com> wrote:
Could somebody please implement SRXL to be used in CLEANFLIGHT. Otherwise MULTIPLEX users cannot utilise all the nice CF features that require serial signal.

Here in Germany Multiplex is very popular but still SRXL is only popular in the heli

[2015-03-29 21:50] TadasSu commented on #648
Hi All.
All beeps are very quiet in CleanFlight (in comparison with baseflight).
It seems that beeps in BF are way longer (maybe double the time).
Low Voltage beeps almost can not be heard (or hear the difference between low and critical alarm) when flying.
Is it possible to make them louder (longer)?

[2015-03-29 21:58] dkisselev commented on #148
@bhuism, some code was merged a few days ago that should theoretically make s-port telemetry work with the hardware inversion on F3 boards (like the sparky): #628, that might be a good place to see what's going on with it and try discuss the changes

[2015-03-29 22:04] dkisselev commented on #229
@usab When 1.9 is released it will come with the new beeper code: #669. It'll be easy to implement the feature then, but someone would need to do the work and I don't think there's much demand for it right now..

The new beeper code will also change some of the sounds, so it might work better for you without any changes anyway. (ethomas mentions that the critical battery beep is now longer in that

[2015-03-29 22:10] dkisselev commented on #648
@TadasSu Have you tried the new beeper code in #669? It'll be in CF 1.9.x and some of the sounds have been changed to be louder/closer to baseflight sounds.

[2015-03-29 22:12] thenickdude commented on #229
It wouldn't be extra parts though, you would remove the original buzzer and replace it with a louder one?

[2015-03-29 22:13] thenickdude commented on #148
#628 didn't change the situation with F3 inversion, though @ledvinap's potential fix on top of that might do once he tests it out.

[2015-03-29 22:15] bhuism commented on #148
@dkisselev, thanks, I've got it connected to pwm6 now (tx of USART2) but haven't tested it yet (don't even know if that will work) I also wait for #635 to be merged, so that we have something to send over telemetry, awesome!

[2015-03-30 05:00] ethomas997 commented on #648
If anyone wants to try out a test hex file I've posted one here:  http://www.etheli.com/CF/refactoredBeeperCode

--ET

[2015-03-30 06:20] digitalentity opened #684 "Blackbox - Record flight mode and failsafe state"
This feature will further improve ability to investigate flight issues. I personally was trying to figure out why gps poshold does not work. Blackbox log was showing 9 sats in view, mode switch was configured correctly, but gps poshold mode simply didn't work. It took me a while to figure out my GPS receiver was buggy - didn't report a 3d fix and poshold mode didn't get enabled. If blackbox was lo

[2015-03-30 06:25] digitalentity opened #685 "Blackbox current logging incompatible with virtual current meter"
When using a virtual current meter blackbox records invalid data.
Currently blackbox is using amperageLatestADC, which is not getting updated when using virtual current meter.

[2015-03-30 06:28] digitalentity commented on #685
The easiest way to get things working whould be to modify virtual current sensor code to update amperageLatestADC with some 'virtual' ADC data. @thenickdude, what do you think?

[2015-03-30 06:31] digitalentity commented on #685
The other and more corrent way would be to record actual 'amperage' variable, however this would require changes not only to cleanflight, but also to blackbox-tools and blackbox-log-viewer.

[2015-03-30 06:37] thenickdude commented on #685
The information content provided by the virtual current sensor is zero so it doesn't seem like it's worthwhile to log it in the first place? It can be simulated after the fact on a blackbox log from the throttle data.

[2015-03-30 06:47] digitalentity commented on #685
Virtual current sensor provides a reference. It is not unrelated to actual current being consumed by aircraft. I was surprised when I saw 0 mAh consumed during a 5 second motor test in my blackbox log.
BTW, enabling current sensor (virtual or not) also enables logging current data to blackbox. As we are logging this anyway, why not log something that is more useful than just a bunch of zeros.

[2015-03-30 06:54] ledvinap commented on #685
Disabling current logging when virtual sensor is in use is IMO good fix.
Virtual current sensor parameters can be saved in log header and data recreated in similar way to '--simulate-imu'

[2015-03-30 06:56] digitalentity commented on #685
@ledvinap good solution. Will save bandwidth and space for blackbox log, yet will allow to see simulated current data in blackbox logs.

[2015-03-30 07:34] thenickdude commented on #685
@digitalentity the information content of the virtual current sensor (from an information-theory perspective) is zero, there's no point in logging fields that are entirely derived from other logged fields as it just adds overhead to the log.

The virtual current sensor doesn't cause any overhead in P frames, as the delta is always zero and it's packed into a set of fields where zero deltas don't c

[2015-03-30 07:36] #685 closed

[2015-03-30 07:43] digitalentity commented on #685
@thenickdude, thanks for fixing this.

[2015-03-30 08:19] dkisselev opened #687 "ESC passthrough for flashing?"
Just curious if anyone's considered implementing an ESC passthrough mode,

For those ESC's that have servo connector flashable firmware it'd be awesome if CF could act as a linker so you can change blheli settings, update firmware, etc.

Biggest roadblocks I could see are:

a) Handing off the serial port might be an issue (the configurator would need to send a "passthrough to motor 1" command, and

[2015-03-30 08:30] ledvinap commented on #687
Is there some programming protocol documentation?

[2015-03-30 08:36] dkisselev commented on #687
Nothing explicit that I know of, but it's been implemented as an Arduino sketch: https://github.com/c---/ArduinoUSBLinker/blob/master/ArduinoUSBLinker.ino

That's what I used to flash my Afro ESC's and it worked great. Basically takes serial input and bitbangs the right sequence out.

[2015-03-30 09:05] TadasSu commented on #648
Thanks, I will try it :)

[2015-03-30 10:10] hydra commented on #687
Duplicate of #216

[2015-03-30 10:10] #687 closed

[2015-03-30 10:12] hydra commented on #216
Probably better to do pass through. Using the ESC tools to configure will require less code and continual maintenance.

[2015-03-30 10:13] hydra commented on #584
Any update?

[2015-03-30 10:28] ledvinap commented on #216
It should be quite easy to modify new softserial code to handle this, only 2 functions need to be changed ...

[2015-03-30 10:40] l2smith2 commented on #584
i'm waiting on a new motor for that frame now. used too long a screw
rebuilding and damaged the windings.

I have found that I can't update the board though. I tried flashing like
the first time with the bootloader pins and an ftdi adapter. also just the
usb plug. can't connect in any combination for flashing/updating

The instructions in the documentation aren't very clear either in a step by
ste

[2015-03-30 10:54] bhuism opened #688 "LED - Move Sparky ledstrip output from pwm5 to pwm7"
The ledstrip is hard wired to pwm5 on (at least) Sparky, this makes it impossible to use the ledstrip on a tricopter configuration since it clashes with pwm5 for the third motor. Please move it to an unused pin, pwm7? (pwm8 + pwm9 are proposed for ADC in #635)

[2015-03-30 11:19] hydra commented on #681
@Fly3Fan please can you confirm whether existing X-Bus support works for you?

[2015-03-30 17:33] dkisselev commented on #216
@ledvinap What do you mean? The data input would be the USB-connected UART (or whatever serial port is setup as the configurator), and the output would be the standard motor pins.

I imagine it would just be a handler near the top of the standard UART serial code, if (escPassthroughVar == MOTORx) { on serial read, linker write to motorpinx} (escpassthroughvar being something stored in memory so th

[2015-03-30 18:24] hydra commented on #668
PR is merged for 1.8.0.

[2015-03-30 18:24] #668 closed

[2015-03-30 18:25] hydra commented on #665
I will close this, we have working code which can be further improved in due course.

[2015-03-30 18:25] #665 closed

[2015-03-30 18:30] #550 closed

[2015-03-30 18:31] hydra commented on #550
#589 is merged now, thanks everyone.

[2015-03-30 18:35] hydra commented on #630
This is done in the firmware.  There is an open pull request to add GUI support but needs a bit more work.

[2015-03-30 18:35] #630 closed

[2015-03-30 18:36] hydra commented on #590
This still needs investigating.  Thanks for the example packet.

[2015-03-30 18:38] hydra commented on #590
What's interesting is the packet is too short, it should be 25 bytes long.

[code]

are you sure you dumped the entire packet?

[2015-03-30 18:38] Fly3Fan commented on #681
"configuration" tab:
   'Receiver Mode': RX-PPM enabled
   'Serial Receiver Provider': XBUS_Mode_B ticked (-> blue background)
nothing marked under "Other Features"
-> safed, rebooting, ready

now select "Receiver" tab
straight line appears at ~1600 and moves from right to left
if I now connect the Lipo, the movement becomes stuttering and moves about 3 to 4 steps per sec. to the left.
all coloure

[2015-03-30 18:40] ledvinap commented on #216
Blheli uses nonstandard serial protocol, implementig it from scratch is not that easy in cleanflight, but most of the work is already done for softserial. it will enable reuse of large parts of serial code, with simple serial-to-relay implementation.

[2015-03-30 19:50] Fly3Fan commented on #681
As far as I understand from a friend the header of SRXL seems to be the same as JR but the set of data which is transmitted varies and thus checksum also varies/is wrong; as can be seen from the MULTIPLEX SRXL documentation linked in my first post. Hope that is not to confusing info from a 'non-programmer-fool' ;-)
Thanks in advice for your help!
Stefan

[2015-03-30 22:37] tracernz commented on #681
Ahh, [this RC Groups post](http://www.rcgroups.com/forums/showpost.php?p=26393376&postcount=4) sheds some light. The [BeastX (helicopter flybarless controller) wiki has some info too](http://wiki.beastx.com/index.php/SRXL_-_Serial_Receiver_Link_protocol).

[2015-03-31 08:15] DaTwo commented on #688
I would also love to see this. I use the gimbal feature to tilt the camera. Looks like I cant use that and LEDS at the same time. Is there a way to do this currently?

[2015-03-31 10:41] susheelpuranik opened #691 "Flight - Support for rotor arm tilting mechanisms"
Hi all,

We have already added dynamic tilting mechanism to the arms of a multirotor by using a single servo motor and a separate Arduino board. The tilting mechanism adds vector thrust do the whole system and the flight and speed tests we've done confirmed an increased speed and better FPV camera view by keeping the chassis horizontal, among other advantages. Check this video out of the maiden te

[2015-03-31 10:57] digitalentity commented on #691
Is this feature available on mass market? I don't think that implementing such a new feature in cleanflight is worthwhile as it may (and probably will) introduce new bugs without giving much of a benefit to an average pilot. I believe we should concentrate on eliminating bugs and supporting widely available equipment before adding support for exotic technologies.

[2015-03-31 12:19] thenickdude opened #692 "Can't have FrSky telemetry on both UART1 and SOFTSERIAL1"
A user reported that their FrSky telemetry wasn't working on SOFTSERIAL1 on 1.8.0. It turned out that they accidentally also had FrSky telemetry enabled for their UART1 port. Disabling FrSky on UART1 made the SOFTSERIAL1 FrSky telemetry suddenly start working.

I was able to replicate this here on my Naze32, starting with an empty config and just enabling RX_PPM SOFTSERIAL TELEMETRY features and s

[2015-03-31 12:31] TricopterFan opened #693 "Telemetry Stopped Working with 1.8"
I just upgraded Cleanflight from 1.7.2, to 1.8 and my telemetry stopped working, more accurately, the aircraft battery voltage is not being sent to my transmitter. I'm using a d4rii and a taranis x9d with opentx. I'm not using any serial port stuff, I just want to see my voltage on my transmitter. I made sure feature telemetry was enabled, and vbat. The naze32 can see the voltage still, but not my

[2015-03-31 12:33] thenickdude commented on #693
On the Ports tab, do you have FrSky selected in the telemetry column on UART1? (assuming that you're using the FrSky pins)

[2015-03-31 12:38] TricopterFan commented on #693
No I didn't, that fixed the issue. Thanks!

[2015-03-31 12:38] #693 closed

[2015-03-31 12:41] #692 closed

[2015-03-31 12:41] hydra commented on #692
Documentation updated.

[2015-03-31 13:44] ctzsnooze opened #695 "Flight - Improvement for stock PID mode 3 Horizon code"
Hi - and thanks for Cleanflight!  :-)

I have written and tested a significant improvement to the classical MultiWii 2.3 Horizon mode code.  It improves controllability at high quad angles and generally improves acro functionality of Horizon mode.

It simply involves replacing the stock one line of code with this three-line variant.  The intent is to reduce the self-levelling as the quad becomes c

[2015-03-31 13:57] ctzsnooze opened #696 "Per-profile battery settings"
Often people use different size batteries on one quad.  For example, 2S for docile flying, 3S for faster; or for Acro quads, 3S for a bit of fun, 4S for manic high speed sessions!  :-)

At the same time, its really good to know the battery voltage.  The internal VBat monitoring code is really great for this.  If a large external LED is added, the flashing of the LED can let you know its time to la

[2015-03-31 14:05] ledvinap commented on #696
vbat_scale should be set to match voltage divider, so CF calculates correct voltage.
All thresholds are calculated on per-cell basis, so it should work.

Small problem is that cell detection assumes vbatmaxcellvoltage (defaults to 4.3v).  When starting with discharged high cell pack, the cell count detected may be wrong ...

[2015-03-31 14:12] hydra commented on #696
The only thing that might be useful is per profile battery capacity for telemetry fuel readouts not the vbat scale.

The FC could be made to beep out how many cells it thinks it has though.

[2015-03-31 14:13] hydra commented on #696
Perhaps having battery cell count in the profile might be used. And if unset it can auto-detect as it does now.

[2015-03-31 20:50] ctzsnooze commented on #696
Oh I didn't realise it performed auto-detection of number of cells.  I had assumed - bad thing to assume - that the device simply got the scale factor then assumed a fixed number of cells (in my case it seemed to work well if the displayed voltage was 4S when the real voltage was 2S... now I know why!)

Auto-detection is cool, but I agree it could get it wrong if starting with a flat battery.  The

[2015-03-31 21:38] ledvinap commented on #696
@ctzsnooze : 4S battery must be discharged to < 3.25V/cell to be detected as fully charged 3S, so it should be minimal problem on 4S. On 6S it is < 3.6V/cell, still acceptable (it's no-load/light load voltage).

[2015-03-31 22:16] hydra commented on #695
thanks for the detailed description of the problem and your solution. we need some testers of this.  @nebbian @thenickdude ?

[2015-03-31 22:35] Petfrogg opened #700 "Build - Create platform-agnostic building instructions"
In the end of https://github.com/cleanflight/cleanflight/blob/master/docs/development/Building%20in%20Mac%20OS%20X.md it says:

make clean TARGET=NAZE
make TARGET=NAZE

I suggest change it to the following:

In case of NAZE
make clean TARGET=NAZE
make TARGET=NAZE

For other available boards type:
make help

CC3D and Openflight as flashing tool
If you are using a CC3D board and updating the firmwar

[2015-03-31 22:38] thenickdude commented on #700
I don't think these instructions belong in the Mac-specific building notes, we probably need a more general doc file for them.

[2015-04-01 00:46] ctzsnooze commented on #696
Yep that sounds good.  Honestly I didn't realise how clever the automatic cell voltage code is.  Sounds like this isn't an issue at all.  Thanks for reading and considering the idea - I apologise for troubling you.

Maybe the battery.md info file could explain it a little differently to help people like me out?

At present it says:

Minimum and maximum cell voltages can be set, and these voltages

[2015-04-01 05:03] ctzsnooze commented on #695
The only problem is that almost no-one any good flies Horizon very much!   :-)

Some experienced testers would be great, every single person to date loves it.  I enabled a Tx switch in MulitWii to swap between the classic and new code, until I got it how it seemed best.  I didn't know how to do that on my cleanflight build... if you could let me know how to do an 'if AUX2 >1200 then new code else

[2015-04-01 05:17] thenickdude commented on #695
@ctzsnooze this is a great idea, I definitely experienced the "tilt more.. a little more... *sudden roll*" when I was flying Horizon.

[2015-04-01 09:39] thenickdude opened #701 "Setting MSP on SOFTSERIAL1 when LED_STRIP is enabled causes infinite loop"
On the Naze32 running 1.8.0 final, I loaded this perfectly reasonable configuration:

[code]

This configuration has LED_STRIP enabled (and SOFTSERIAL disabled). In the configurator's ports tab, if I now tick "MSP" on SOFTSERIAL1 and save (obviously not allowed because SOFTSERIAL isn't enabled), the board hangs on boot and cannot be connected to. It goes into an infinite loop with these details:

[2015-04-01 09:44] hydra commented on #701
Thanks for the report.  Are you looking into it or shall I look?

[2015-04-01 09:49] thenickdude commented on #701
I'm not really clear on the whole timer setup code, so you might have better luck than me.

[2015-04-01 10:12] hydra commented on #701
Ok, maybe @ledvinap has an idea of what might be happening here?

[2015-04-01 10:57] digitalentity commented on #569
Just tested a newly received BMP180 breakout board, same random spikes, even when disarmed. I was unable to reproduce these spikes on Flip32 with MS5611 board, so this issue is unrelated to looptime. It is also not related to a specific sample of BMP085/BMP180 sensor as I am seeing these spikes on 3 different boards. I think this is likely software-related. I will look into the code and see if I c

[2015-04-01 11:03] usab opened #702 "HoTT Telemetry voltage warning problem"
Not sure if this is the right place for this issue.

I successfully set up a HoTT receiver with latest 1.8.0 cleanflight firmware and telemetry connection to transmitter.
The overall voltage is displayed (11.9v). The buzzer (directly connected to naze32) is peeping fine.

The only problem is that the transmitter does not beep. (that's THE advantage of having telemetry)

Are there known problems? V

[2015-04-01 11:14] ledvinap commented on #701
Seems that softserial got registered as overflow handler. If timer3 is configured to 800kHz in ws2811LedStripHardwareInit(), it will fire faster than softserial can handle it ...

[2015-04-01 11:20] ledvinap commented on #701
@thenickdude : Yes, findNextSerialPortConfig() is probably the cause ...

[2015-04-01 11:24] ledvinap commented on #569
I have probably same problem on sparky. USB usage is probable cause here, looptime goes to ~20ms range ...

[2015-04-01 11:26] ledvinap commented on #569
@thenickdude : The problem is probably not directly related to looptime difference, but to stalling of whole main loop. Adding random delay_ms() to main loop() may simulate it ...

[2015-04-01 11:41] thenickdude commented on #569
@ledvinap That's what I did test though:

https://github.com/sherlockflight/cleanflight-dev/commit/664c932f008042f455bc1e0c5f82e056ad343885

Causes the main loop to have a random very large delay at the beginning of it.

[2015-04-01 11:55] ledvinap commented on #569
Yes ...
 `delay(301 * (currentTime % 511));` should do the trick ...

[2015-04-01 12:10] hydra commented on #569
@thenickdude yup, that's the kind of thing I see.

[2015-04-01 12:10] digitalentity commented on #569
I've just tested the same - added the random delay and got very similar picure. Seems this is not related to baro driver after all.

[2015-04-01 12:13] ctzsnooze commented on #695
Please give the code above a try and post your feedback here, that would be excellent.  Yes it was scary if it would not level at all while inverted!  :-)

[2015-04-01 12:13] hydra commented on #569
@digitalentity yes, that's what I thought when I commented on the issue a month a go. Good to have confirmation.

[2015-04-01 12:31] digitalentity commented on #569
It seems the root of the problem is somewhere in calculateEstimatedAltitude(), I'll further investigate this tomorrow if I have some time to spare.

[2015-04-01 13:24] hydra commented on #702
@Pierre-A Any chance you could take a look?

[2015-04-01 13:33] Pierre-A commented on #702
yes sure, this is the object of PR≠539..

[2015-04-01 13:59] hydra commented on #700
@thenickdude agreed.

@Petfrogg can you perhaps submit a pull request and create a general 'Building.md' file with this information and add links from it to the platform specific sections/files?

[2015-04-01 14:01] hydra commented on #702
@Pierre-A Ahh yes, i thought i remembered seeing something.

Now that the serial port re-work is done I should have time to look more into the smartport and hott telemetry systems and related PRs soon.

[2015-04-01 14:04] Pierre-A commented on #702
OK,
just waiting for that to open a new PR for hott_TextMode

Le 01/04/15 16:01, Dominic Clifton a écrit :

[2015-04-01 17:47] handsomejackuk opened #705 "looptime set to 0"
Any reason why looptime is set to zero after flashing version 1.8 of cleanflight to naze 32 board.. i have put it back to 2500 just wondered why ?

[2015-04-01 19:14] #701 closed

[2015-04-01 20:22] catchthewind opened #706 "CC3D - Investigate boot issues when using Orange DSMX Satellite."
I have 1.8 Cleanflight uploaded to CC3D and configured with Orange DSMX Satellite. The problem is that CC3D does not initialize when my Transmitter is ON.

USB connection also does not work when transmitter is ON and Satellite connects during CC3D initialization.

The only way to arm the CC3D or use it with PC on USB is to turn it on without working transmitter.
Then initialization goes ok and tra

[2015-04-01 20:36] DaTwo opened #707 "LED - Strip profiles"
Any chance to add the ability to map 2 LED profiles to a switch? I would love to have one setup for LOS flying (front green / rear red) and one for FPV racing (turn signals, brake, thrust etc).

[2015-04-01 20:46] thenickdude commented on #705
How did you transfer your config over to the new firmware (or did you not configure it at all after flashing?)

[2015-04-01 20:49] thenickdude commented on #706
What port is your Rx connected to? Maybe just post your whole "dump" output from the CLI tab.

[2015-04-01 20:52] catchthewind commented on #706
I have orange satellite connected to LEFT port described FLEXI PORT.

[2015-04-01 20:53] catchthewind commented on #706
# version
Cleanflight/CC3D 1.8.0 Mar 16 2015 / 23:45:38 (8e65707)
# dump master

# mixer
mixer QUADX

# feature
feature -RX_PPM
feature -VBAT
feature -INFLIGHT_ACC_CAL
feature -RX_SERIAL
feature -MOTOR_STOP
feature -SERVO_TILT
feature -SOFTSERIAL
feature -GPS
feature -FAILSAFE
feature -SONAR
feature -TELEMETRY
feature -CURRENT_METER
feature -3D
feature -RX_PARALLEL_PWM
feature -RX_MSP
feature -RSS

[2015-04-01 21:09] #562 closed

[2015-04-01 21:10] hydra commented on #702
@Pierre-A I've merged #539 now.

[2015-04-01 21:10] hydra commented on #702
@usab Please test v1.8.1 firmware when released and re-open if there's an issue.

[2015-04-01 21:10] #702 closed

[2015-04-01 21:13] usab commented on #702
Thank you both so much for this awesome software. :)

I will test the new code as soon as possible!

[2015-04-01 22:18] thenickdude commented on #706
As a diagnostic, please try disabling the FAILSAFE feature and seeing if the problem still persists.

[2015-04-01 22:54] digitalentity commented on #569
Did a quick hack to bmp085 driver to fix preassure to a predefined value and introduce some random variance (19ab9261c0315115826320dce6628703a2ac3ef3) and was very surprised - the spikes were all gone! This is a bmp085-specific problem after all.

[2015-04-01 23:08] digitalentity commented on #569
Looks like bmp085/bmp180 does not always follow the datasheet when it comes to conversion delays. I've increased ut_delay and up_delay to much higher values (da9fdd47842571c2611f52c2b4a4666388e9b60e) and spikes are not present any more - just normal altitude fluctuations. It is a hack, but it seem to do the trick for me.

[2015-04-02 00:00] thenickdude commented on #569
It's not bmp085 specific as the timing variation I saw was on the Naze32, which uses MS5611. They could both have the same bug in their drivers though. Also adding delays to the loop shouldn't ever cause the barometer to be read faster, so it should be eliminating that if it was the cause.

I'm confused by what you're trying with adding random values to the read pressure?

[2015-04-02 00:08] digitalentity commented on #569
@thenickdude by adding random variance I was trying to simulate preassure changes. If I don't add random variance altiude is zero and completely constant without any spikes or changes regardless of looptime.
Then I altered the driver itself and increased the timeout between 'read pressure' command and actual reading raw value from the sensor. Spikes I was seing in my first comment are gone. I thin

[2015-04-02 00:12] thenickdude commented on #569
Those spikes are probably due to the bug in the driver that tries to read the pressure/temperature value anyway even though the code knows they aren't available yet (by waiting for the flag to be set). That check can probably be fixed without increasing the delay:

[code]

(notice how when convDone is false it still reads it anyway and returns the value!)

[2015-04-02 00:14] digitalentity commented on #569
convDone is used only if we have an additional wire from EOC pin on BMP085 to some EXTI line. External sensors on I2C does not have that, so this code should not be even compiled when BARO_EOC_GPIO is undefined.

[2015-04-02 00:15] thenickdude commented on #569
Ah, good point.

[2015-04-02 00:53] digitalentity commented on #569
I've cleaned up the code and removed convDone when BARO_EOC_GPIO is not defined (f9c1b63959479f8dfac440fe90709559a00693ca). If this worth merging, I can create a PR.

[2015-04-02 02:12] ctzsnooze commented on #695
My blog entry with some videos of what its like to fly the new code:

http://www.rcgroups.com/forums/showthread.php?t=2383085

[2015-04-02 06:55] nebbian commented on #695
To be honest I wouldn't notice much difference.  I fly with insane stick scaling anyway, so all the way up to 90 degrees attitude is easily controllable, because my stick is only at about 30% travel at that point.  This means that the self level code is still quite active even when fully banked over.  I'll try this code over the weekend and see what difference it makes.  I am a bit concerned that

[2015-04-02 06:58] digitalentity commented on #569
Had a two hour bench test with this code -  works good, no spikes in altitude.

[2015-04-02 07:08] Diastrus commented on #691
Several similar projects have been already tested with positive results and, as Mech and Aerospace engineer I'm convinced the multirotor scene can still greatly improve in performance if aerodynamics and flight dynamics evolve. However, while many can develop a tilt mechanism, the programming involved is making many private innovators to continue developing it.

We've also investigated the market:

[2015-04-02 07:28] catchthewind commented on #706
After disabling failsafe the problem still exists.
Later on I will try the different satellite cause on naze/flip board I have used lemonrx sat and here I have orangerx on cc3d. I need to make sure if the problem is CC3D related or ORANGERX Satellite related.

[2015-04-02 07:28] Jahnkeanater commented on #695
I have noticed that flips don't work the same as they did in multiwii. When rolling the quad will get stuck inverted for a little bit before it finally decides to finish the flip. corner flips work well but the quad tends to end up in a different heading at the end. possibly caused by the fact that a dx6i can not reach the endpoints 1000-2000 even at 125% throws. I can only get 1070-1930.

[2015-04-02 07:32] Jahnkeanater opened #708 "RX - Control endpoints are unatainable"
With a DSMX satellite receiver and a DX6i +/-125% throws only gives 1070-1930 on all inputs. 1000-2000 should be easily attainable. sparky with FW v1.7.2.

[2015-04-02 08:11] skaman82 opened #709 "LED - Show GPS 3D fix status"
Is there a way to indicate 3D fix on the LED Strip? (naze32)

[2015-04-02 08:31] thenickdude commented on #706
Hm I suppose in theory the satellite could be browning out the 3.3V regulator on the CC3D, causing boot to fail. Sorry, I don't have a sat here to test it with, hopefully someone who does can chime in.

[2015-04-02 08:33] thenickdude commented on #691
Why not code it up in a CF fork and get people to use the fork? If the hardware becomes popular then it can be merged back upstream to here. (I guess various interesting tilting motor mounts would be needed)

[2015-04-02 08:48] Pierre-A commented on #702
**@hydra**  looking at hott.c in the v1.8.1, the PR≠539 is not included (and so has not been merged).. something wrong somewhere ?

[2015-04-02 13:21] ledvinap commented on #569
If the spikes are caused by reading occasionally register too fast, using short median filter should greatly improve the situation.

[2015-04-02 13:38] umdpru commented on #272
this bug bit me yesterday when I installed the 10º motor mounts. I have yaw set to 90º to get the usb connector to the side. The code doesn't consider the yaw when it calculates the new offsets for pitch/roll if you want them. It would be virtually impossible to determine the correct offsets if you had yaw at anything other than right angles (90, 180, 270, 0/360).

The simple solution until this b

[2015-04-02 16:16] catchthewind commented on #706
I have tested lemonrx satellite as well as original dsmx spektrum sat and problem still exists on CC3D. On flip32 board I am using lemonrx sat without any problems and 3.3V is also taken directly from the board.

The problem is CC3D related and forcing me to power cc3d first and then radio :(

[2015-04-02 16:19] catchthewind commented on #706
I also had tail servo problem on CC3D described here https://github.com/cleanflight/cleanflight/issues/586  It looks like CC3D has more problems than naze/flip boards...

[2015-04-02 16:24] hydra commented on #705
this could be an issue with the configurator restore, if you used backups please post the backup files in a ticket for the configurator.  The default looptime was not changed.  New MSP commands were added to backup/restore looptime.

[2015-04-02 16:24] #705 closed

[2015-04-02 16:27] hydra commented on #706
@catchthewind please keep the issue focussed on on topic.  Problem is likely your CC3D board not providing enough power to the RX at boot.  I'll test it with my one and see what happens.

[2015-04-02 17:18] catchthewind commented on #706
I have tested with the another brand new CC3D board and it acts exactly the same.
@hydra  Please let me know how your test goes?

[2015-04-02 18:12] heathicus opened #711 "Buzzer - Show visual representation of beep codes in documentation."
Include a description (or even links to sound files) of the various beep codes and their meanings.

[2015-04-02 18:54] tr3topflyer opened #712 "When rotating FC 90 degrees in yaw axis, pitch and roll are reversed"
I usually rotate my FC 90d in the yaw direction to make the USB more accessible.  Today I discovered that when you do this the pitch and yaw are reversed as far as the board alignment goes.  I found this because I was adjusting for the fact that I'm using 10d tilted motor mounts.  In order get the animation to show the correct attitude I had to adjust roll -10 when yaw is set to 90.  This isn't a

[2015-04-02 20:09] JohnieBraaf opened #713 "Full duplex (dual function) UART port"
As enhancement, would it be possible to use a UART port in 2 ways:

RX pin: connected to receiver (SBUS, PPM)
TX pin: connected to minimiosd (MSP)

For example on the Sparky board in this sense, PWM6 (PA2 which is UART2_TX) could be used for this purpose. You effectively save 1 UART port.

In cleaflight-configurator 0.1.63.0, the new PORT tab layout could be used to check the right box.

[2015-04-02 20:21] JohnieBraaf commented on #711
Not really solving the issue, but this is a interesting read of potentially upcoming functionality. https://github.com/cleanflight/cleanflight/pull/669 it might be done in one go.

[2015-04-02 20:45] thenickdude commented on #713
OSDs require a bidirectional port (MSP protocol requires that you ask for the data you want, and OSDs even change settings over MSP which will always require a bidirectional connection).

[2015-04-02 20:49] JohnieBraaf commented on #713
Hmmm, ok gonna close this one then.

[2015-04-02 20:49] #713 closed

[2015-04-02 21:18] digitalentity commented on #569
Barometer code already uses averaging, doesn't help much. We we can simply
read our bmp085 baro less frequently (increase a timeout) and this will
eliminate the problem. I left my flight controller running for 12 hours
with increased baro timeout - no spikes in altitude were recorded.